body{background-color: #F9F9F9;}
*{letter-spacing: 1px;}
.arc_main{
	height: auto;
	width: 1400px;
  margin: 0 auto;
  /* background: #fff; */
}
.arc_top1{
  width: 1400px;padding-bottom: 12px;
  padding-top: 10px;
  margin: 0 auto;}
/*搜索*/
.arc_top1_1 span,.arc_top1_1 i{font-size: 24px;
	color: #333;}
.arc_top1_1 {float: left;width: 750px;height: 24px;}
.arc_top1_2 {
  margin-top:20px;
  float: right;width: 364px;height: 32px;line-height:31px;border: solid 1px #2577e3;border-right: 0px;
	opacity: 0.6;}
.arc_top1_2 select{width: 72px;border: 0px; height: 30px;color: #333;padding-left: 7px;}
.arc_top1_2 option{color: #333;}
.arc_top1_2 .arc_input1,.arc_top1_2 .arc_input2{cursor:pointer;border: 0px;width: 110px;height: 30px;padding-left: 10px;color: #999;}
.arc_top1_3 {
  margin-top:20px;
  float: right;width: 68px;height: 34px;line-height:31px;
	opacity: 0.76;}
.arc_top1_3 .arc_input3{cursor:pointer;text-align:center;border: 0px;width: 68px;height: 34px;background-color: #2577e3;color: #fff;}
/*搜索*/
.list_none {
  /* display: none; */
}
.morelink{
  font-size: 14px;
  float: right;
  padding-right: 20px;
}
.list_none span {
  float: left;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin: 40px 0;
}
.arc_top2{    
  min-height: 40px;
  line-height: 40px;
  position: relative;
  /* margin-bottom: 28px;  */
  border-bottom: 2px solid #2577e3;
  background-color: #fff;
  padding: 10px 20px;}
.arc_top2_1{float: left;width: 80px; }
.arc_top2_1 span{font-size: 16px;color: #2577e3;}
.arc_top2_2{float: left;width: 1070px;overflow: hidden;cursor: pointer;}
.arc_top2_2 span{font-size: 16px;color: #333;margin-right: 40px;}
.arc_top2_3{
  float:right;width: 50px;
  display: none; 
}
.arc_top2_3 span{font-size: 16px;color: #666;}
.arc_main1{height: 540px; width: 100%;background-color: #fff;padding:35px 0;}
.arc_main1-1{height: 30px;background-color: #fef9f5;font-size: 14px;line-height: 30px;padding: 0 20px}
.arc_main1-1 span {color: #eb434d}
.arc_main1-1 i {color: #2577e3;text-decoration: underline;}
.arc_main2{height: auto;width: 100%;margin-bottom: 29px;border: solid 1px #E2E2E2;overflow:hidden; clear: both;}

.arc_main3{margin-top: 20px;}
.arc_main3 .left{
  float: left;
  width: 556px;
  height: 390px;
  background-color: #ffffff;
}
.arc_main3 .right{
  float: right;
  width: 820px;
  height: 390px;
  background-color: #ffffff;
}
.arc_main3 .right .content{background-color: white;height: 340px;}
.arc_main3 .right .content .content-left{
  float: left;
  width: 250px;
  height: inherit;
}
.arc_main3 .right .content .content-left div{text-align: center;}
.arc_main3 .right .content .content-left .img {
  margin-top: 30px;
}
.arc_main3 .right .content .content-left .name {
  margin-top: 10px;
  font-size: 16px;
  color: #fa9925;
}
.arc_main3 .right .content .content-left .img img{border-radius: 50px;}
.arc_main3 .right .content .content-right{
  float: right;
  width: 540px;
  height: inherit;
  font-size: 14px;
  padding-top: 26px;
  position: relative;
}
.arc_main3 .right .content .content-right > img {
  position: absolute;
  right: 32px;
  top: -1px;
}
.arc_main3 .right .content .content-right-row{
  margin-bottom: 5px;
  width: 100%;
  float: left;
}
.arc_main3 .right .content .content-right-row span{
  background-color: #75b3ff;
  border-radius: 3px;
  font-size: 12px;
  color: #ffffff;
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  margin: 0 8px 8px 0;
  min-width: 102px;
  text-align: center;
}
.arc_main3 .right .content .content-right-row em{
  border-radius: 3px;
  border: solid 1px #fcc6c6;
  font-size: 12px;
  color: #eb434d;
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  margin: 0 8px 8px 0;
  min-width: 86px;
  text-align: center;
}
.arc_main3 .right .content .content-right-row em img{
  position: relative;
  margin: 0 3px;
}
.arc_main3 .right .content .content-right i{
  color: #fa9925;
}
.arc_main3 .right .content .content-right .img{
  position: relative;
  top: 3px;
}

.arc_main3 .right .content .content-right .button1{
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  border: solid 1px #fa9925;
  font-size: 14px;
  color: #f88700;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  margin-right: 18px;
}
.arc_main3 .right .content .content-right .button2{
  width: 288px;
  height: 40px;
  line-height: 40px;
  background-color: #fa9925;
  border-radius: 3px;
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
}
.button2 img {
  position: relative;
  /* top: 5px; */
  right: 5px;
}
.arc_bottom{height:auto;width: 100%;margin-bottom: 30px;clear: both;}
.arc_left{    float: left;
  width: 336px;
  height: 100%;
  margin-right: 14px;
  padding-left: 20px;
  box-sizing: border-box;}
.arc_left_1{float: left;height: 336px;width: 100%;}
.arc_left_1 img{height: 100%; width: 100%;}
.arc_left_2{float: left;margin-top: 10px;margin-bottom: 12px;width: 100%;height: 86px;}
.arc_left_2 img{height: 86px;width: 86px; margin-right: 10px;}
.arc_left_3{float: left; width: 312px;height: 90px;border: solid 2px #e4e4e4;background-color: #fff9f0;}
.arc_left_3 img {padding-left: 7px}
.arc_left_3 div{display: table-cell;vertical-align: middle;height: inherit;padding-right: 7px;font-size: 14px;color: #666666;}
.arc_left_3 div span{color: #2577e3}
.arc_middle{float:left;width: 726px;height: 100%;margin-right: 20px;font-size: 14px;position: relative;}
.arc_middle1{height: 36px;width: 726px;color: #333;}
.arc_middle1 span:nth-of-type(1){font-size: 16px; font-weight: bold;}
.arc_middle1 span:nth-of-type(2){font-size: 12px; margin-top: 4px;float: right}
.arc_middle1 span:nth-of-type(2) i{color: #2577e3}
.arc_middle1-2 {margin: 5px 0}
.arc_middle1-2 span {display: table-cell;vertical-align: middle}
.arc_middle1-2 span .img1{margin-right: 5px}
.arc_middle1-2 span .img2{margin: 0 5px 0 20px}
.arc_middle2{height: 86px;width: 726px;background-color: #fff2e9;}
.arc_middle2_1{width: 495px;height:86px ;float: left;}
.arc_middle2_1 .p1{margin:18px 0 0 23px;display: block;float: left; height:25px;width: 387px;}
.p1 i,.p2 i{color: #999;display: block;float: left;}
.p1 span,.p2 span{color: #333;width: 70px; display: block;float: left;font-size: 14px;}
.p1 .span2,.p2 .span2{text-decoration:line-through; display: block;float: left;
width: 55px;}
.p1 .font1,.p2 .font1{font-size:18px;font-weight:bold;color: #eb434d;padding-left: 20px;padding-right: 5px;display: block;float: left;
width: 55px;margin-top: -2px;}
.p1 .font2,.p2 .font2{color: #2682ea;font-size: 15px;display: block;float: left;margin-top: -2px;}
.arc_middle2_1 .p2{margin:10px 0 0 23px;float: left; height:33px;width: 387px;}
.arc_middle2_2{width: 166px;height:62px ;float: left;margin-top: 24px;}
.arc_middle2_2 div{float: left;text-align: center; height: 25px;}
.arc_middle2_2 div span{color: #666;}
.arc_middle2_2 .num1,.num3{width: 45px;}
.arc_middle2_2 .num2,.num4{width: 120px;}
.arc_middle3{height: 145px;width: 726px;}
.arc_middle3 .arc_m3{height: 15px;width: 215px;float: left;margin-left: 23px;margin-top: 16px;}
.arc_m3 i{color: #999;}
.arc_m3 span{color: #333;}
.arc_middle3 .arc_m3_2{height: 15px;width: 553px;float: left;margin-left: 23px;margin-top: 16px;}
.arc_m3_2 i{color: #999;}
.arc_m3_2 span{color: #333;}

.arc_middle4{min-height: 79px;overflow:-webkit-paged-y;width: 726px;background-color: #fef9f5;border-top:dashed 1px #e2e2e2;border-bottom:dashed  1px #e2e2e2;}
.arc_middle4 .arc_m3{height: 15px;width: 215px;float: left;margin-left: 23px;margin-top: 16px;}

.arc_middle4 .arc_m3_2{height: 15px;width: 553px;float: left;margin-left: 23px;margin-top: 16px;}

.arc_middle4 span{color: #333;}
.arc_middle4 i{color: #999;}
.arc_middle5{height: 82px;width: 726px; }
.arc_middle5 .arc_m5_1{
	margin:56px 0 12px 23px;
}
.arc_middle5 .arc_m5_1 img{
  position: relative;
  right: 5px;
}
.arc_middle5 .arc_m5_1 span{color: #333;font-size: 15px;}
.arc_middle5 .arc_m5_1 .arc_middle5-right{font-size: 14px;color: #2577e3;cursor: pointer}
.arc_middle5 .arc_m5_1 a{width: 288px;display: inline-block;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #f66618;
  border-radius: 3px;
  font-size: 16px;
  color: #ffffff;
}

.arc_middle5 .arc_m5_2_1,.arc_middle5 .arc_m5_2_2{
	float: left;
	width: 138px;
	height: 42px;
	border-radius: 3px;
	border: solid 1px #eb434d;
	text-align: center;
	line-height: 42px;
}
.lines-sprite-icons {
  background: url(/images/list_wlzx/ss56-lines-sprite.png) no-repeat;
}
.list-title {
  font-weight: 300;
  font-size: 18px;
  color: #333;
}
.icon-through {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-position: -6px -62px;
  position: relative;
  top: 3px;
  margin: 0 10px;
}
.icon-through {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-position: -6px -62px;
  position: relative;
  top: 3px;
  margin: 0 10px;
}
.icon-end {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -6px -6px;
  position: relative;
  top: 2px;
  margin-right: 3px;
}
.icon-start {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -6px -34px;
  position: relative;
  top: 2px;
  margin-right: 3px;
}
.arc_middle5 .arc_m5_2_1{background-color: #fff;margin-left: 23px;}
.arc_middle5 .arc_m5_2_1 span{font-size: 16px;color: #eb434d;}
.arc_middle5 .arc_m5_2_2 span{font-size: 16px;color: #fff;}
.arc_middle5 .arc_m5_2_2{margin-left: 22px;	background-color: #eb434d;}

.arc_middle6{height: 71px;width: 726px;}
.arc_middle6 .arc_m6_1{
	float: left;margin-left: 23px;
	width: 75px;
	height: 71px;
}
.arc_middle6 .arc_m6_2{
	float: left;
	width: 473px;
	height: 71px;
}
.arc_middle6 .arc_m6_2 img{
	width: 473px;
	height: 60px;
}
.arc_middle6 .arc_m6_1 i{color: #999;}
.arc_right{float:left;width: 304px; height: 472px;box-shadow:0px 0px 1.7px rgba(0,0,0,0.3); font-size: 14px;}
.arc_right p{margin: 0;padding: 0;padding-left: 24px;}
.arc_right .arc_right01{height: 46px;line-height:46px;width: 280px;background: url(../images/article_wlzx/35bg.png) no-repeat;}
.arc_right01 img{padding-right:9px;}
.arc_right01 span{color: #666;}
.arc_right .arc_right02{height: 55px;line-height:55px;width: 304px;border: 0;}
.arc_right02 i{color: #999;}
.arc_right .arc_right03{height: 76px;width: 304px;border-top:dashed 1px #e2e2e2;border-bottom:dashed  1px #e2e2e2;}
.arc_right03 span{
  color: #666;
  padding-right: 30px;
  margin-top: 17px;
  width: 46px;
  display: block;
  float: left;
  text-align: center;}
.arc_right03 font{   
  color: #eb434d;
  padding-right: 30px;
  margin-top: 10px;
  width: 46px;
  display: block;
  text-align: center;
  float: left;}
.arc_right .arc_right04{height: 130px;width: 280px;}
.arc_right04 span{float: left;display: block;height: 32px;line-height: 32px;width: 280px;}
.arc_right04_1{margin-top: 10px;}
.arc_right04 i{color: #999;padding-right: 10px;}
.arc_right04 font{color: #333;}
.arc_right04 input{color: #333;	font-size: 14px;
    cursor: pointer;
    width: 67px;
	height: 24px;
	border-radius: 2px;
	border: solid 1px #7ec4e8;text-align: center;padding-left: 20px;
	background: url(../images/article_wlzx/15qq.gif)  no-repeat #A8E1FF ; background-position: 6px 2px;}
.arc_right .arc_right05{height: 30px; width: 228px;margin-bottom: 18px;margin-top: 20px;}
.arc_right05 input{
	width: 96px;
	height: 28px;
	border-radius: 2px;
	border: 0px;
	text-align: center;
	color: #fff;
	background-color: #ffb65f;
	margin-left: 78px;
}
.arc_right05 input:hover{background-color: #FFAE25;}

.arc_right .arc_right06{
	width: 280px;
	height: 32px;
	background-color: #fffee7;line-height: 32px;}
.arc_right06 span{color: #333;padding-left: 95px;}
.arc_right .arc_right07 {height: 95px;text-align: center;line-height: 60px;}
.arc_right07 img{margin-top: 18px;margin-right: 36px;float: left;}
.arc_left2{float:left;width: 434px;height: 100%;border-right: 1px solid #e2e2e2;margin-right: -1px;padding-bottom: 20px;}
.arc_left2 .arc_left2_bt{height: 42px;width: 434px;border-bottom: 1px solid #e2e2e2;}
/*.arc_left2_bt font{color: #eb434d;font-size:16px;display:block;float:left;height:42px;border-right: 1px solid #e2e2e2;line-height:42px;width: 132px; text-align: center;}
*/
.arc_left2_bt span{color:#666;font-size:16px;display:block;float:left;height:42px;line-height:42px;width: 254px; text-align: left;padding-left: 10px;}
.arc_left2_bt i{font-size:13px;color:#666;display:block;float:left;height:42px;line-height:42px;width: 65px; text-align: center;}
.arc_left2_search{height: 40px;width:323px;border: solid 1px #e2e2e2;margin-top: -1px;padding-left: 10px;padding-top: 10px;}
.arc_left2_search1{
	float: left;
	width: 268px;
	height: 28px;
	line-height: 28px;
	background-color: #ffffff;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border: solid 1px #e2e2e2;
	border-right: 0px;
}
.arc_left2_search1 input{width: 110px;height:24px;padding-left: 10px;text-align: left;color: #999;font-size: 13px;border: 0px;}
.arc_left2_search2{
	float: left;
	width: 42px;
	height: 28px;
	background-color: #ffffff;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: solid 1px #eb434d;

}
.arc_left2_search2 input{width: 42px;text-align: center;border: 0px;height: 24px;color: #eb434d;}

.arc_left2 .arc_left2_nr{word-wrap:break-word;overflow:hidden;text-indent:2em;height: auto;line-height:22px;width: 390px;color: #666;font-size: 13px;padding:24px 20px 0px 24px;border-right: solid 1px #e2e2e2;}
.arc_right2{float:left;width: 962px; height: 100%;border-left: 1px solid #e2e2e2;padding-bottom: 20px;}
.arc_right2 .arc_right2_bt{height: 42px;width: 962px;border-bottom: 1px solid #e2e2e2;font-size: 16px;color: #666;}
.arc_right2 .arc_nr{height: auto;width: 434px;}
.arc_nr .arc_nr1{height: auto;width: 962px;}
.arc_nr1 .arc_fw{width: 795px;min-height:72px;padding:28px 18px 0px 49px;border-bottom: solid 1px #e2e2e2;border-right: solid 1px #e2e2e2;}
.arc_fw .fw_img{float: left;width: 44px; height: 44px;margin-right: 15px;}
.arc_fw img{width: 44px; height: 44px;}
.arc_fw .fw_nr{float: left;width: 736px;}
.fw_nr .fw_nr1{color: #333;font-size: 20px;margin-bottom: 9px;}
.fw_nr .fw_nr2{color: #666;font-size: 14px;margin-bottom: 16px;}



.arc_nr .arc_nr2{text-indent:2em;height: auto;line-height:22px;width: 788px;color: #666;font-size: 13px;padding:43px 31px 20px 43px;}

.arc_nr_none{display:none;}
.arc_right2_bt .arc_bt1{float: left;}
.arc_right2_bt .arc_bt2{float: right;display: none;}
.arc_right2_nr{height: auto;width: 962px;}
.arc_right2_nr .arc_list_item{height: 93px;border-bottom: 1px #e2e2e2 dashed;padding-left: 35px;margin-top: 20px;}
.arc_list_item_bt{color: #eb434d;font-size: 16px;height: 30px;line-height: 30px;padding-bottom: 3px;}
.arc_list_item_bt a{color: #eb434d;font-size: 16px;}
.arc_list_item_nr{height: 28px;width: 910px;font-size: 13px;}
.arc_list_item_nr i{color:#999;}
.arc_list_item_nr span{color:#666;padding-left: 3px;}
.arc_list_item_nr1{float: left;height: 28px;width: 530px;line-height: 28px;}
.arc_list_item_nr1 em{width: 1px;height: 14px;border: solid 1px #e2e2e2;margin-left: 3px;}


.arc_list_item_nr2{float: left;height: 28px;width: 280px;line-height: 28px;}
.arc_list_item_nr3{float: left;height: 28px;width: 72px;}
.arc_list_item_nr3 input{cursor:pointer;width: 72px;height: 28px;background-color: #eb434d;border-radius: 2px;text-align: center;color: #fff;border: 0px;}
.arc_list_item_nr3 input:hover{background-color: #f00;}
.arc_bt2 i{height:42px;line-height:42px;padding-right: 20px;}
.arc_right2_bt font{color: #eb434d;}
.arc_right2_bt span{padding-left:16px;cursor:pointer;float: left;display: block;height:42px;line-height:42px;width:144px;text-align: center;}
.arc_span{background-color:#fff;}
.arc_active {background-color:#fff;color: #eb434d;border-top: solid 1px #eb434d;margin-top: -1px;}
.arc_bottom .zx_sx{
	PADDING-top: 25px;

    LINE-HEIGHT: 42px;
    HEIGHT: 42px;
    color: #585858;
    font-size: 16px;
    font-weight: bold;}
.zx_sx {
  line-height: 50px;
  height: 49px;
  color: #2577e3;
  font-size: 18px;
  background-color: #fff;
  border-bottom: 1px solid #2577e3;
  font-weight: bold;
  box-sizing: border-box;
}
 .zx_sx .biaozhi {
   display: block;
   float: left;
   width: 3px;
   height: 18px;
   background-color:#2577e3;
   border-radius: 1px;
   margin-top: 18px;
   margin-right: 12px;
}

.zx_sx1 {
  line-height: 50px;
  height: 50px;
  color: #2577e3;
  font-size: 18px;
  background-color: #fff;
  border-bottom: 2px solid #e7e7e7;
  margin-top: 40px;
  font-weight: bold;
}
.zx_sx1 .biaozhi1 {
  display: block;
  float: left;
  width: 3px;
  height: 18px;
  background-color:#2577e3;
  border-radius: 1px;
  margin: 16px 12px 0px 10px;
}
.zx_sx i{
    color: #666666;
    margin-right: 10px;
    color: #333333;
    font-size: 18px;
    font-weight: normal;
}
.arc_bottom_more{float: right;font-size: 13px; color: #666;display: none;}
.tjwd_list{
     margin-top: -1px;
    border: 1px solid #dedede;
    width: 333px;
    font-size: 14px;
    margin-right: 0px;
    float: left;
    }
    .tjwd_list p{
	height: 27px;
	line-height: 27px;
	padding-left:30px;
	PADDING-RIGHT: 0px;
	float: left;
	display: block;
	}

.tjwd_list .p01{
	height: 46px;
	line-height: 46px;
}
.tjwd_list .p05{
	height: 38px;width: 304px;
	line-height: 38px;
}
.tjwd_list .p01 span{
	font-size: 16px;
	color: #666;
}
.tjwd_list .p01 i{
    color: #c5c5c5;
    font-size: 16px;
    padding:0 3px 0 3px;
}
.tjwd_list .p02 span{
	display: block;float: left;
	width: 150px;
}
.tjwd_list .p02 i,.tjwd_list .p03 i,.tjwd_list .p04 i{
	font-size: 13px;
	color: #999;
}
.tjwd_list .p03 font,.tjwd_list .p04 font{
	font-size: 13px;
	color: #eb434d;
}
.tjwd_list .p03,.tjwd_list .p04{width: 304px;}
.tjwd_list .p03 span,.tjwd_list .p04 span{
	font-size: 13px;
	color: #666;
}
.tjwd_list .p05 img{
	margin-top: 5px;
	margin-bottom: 10px;
}
.tjwd_list .p06{
border-top: solid 1px #cde0ff;
width:304px;
text-align: center;
}
.tjwd_list .p06 span{
	color: #2577e3;
	font-size: 13px;
}


.tj_list{

    margin-top: -1px;
    border: 1px solid #dedede;
    width: 325.5px;
    font-size: 14px;
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;

    }
.tj_list:nth-child(6n){margin-right: 0px;}
.tj_list:nth-child(10n){margin-right: 0px;}
.tj_list p{
	height: 30px;
	line-height: 30px;
	padding-left: 18px;
	PADDING-RIGHT: 0px;
	float: left;
	display: block;
	}
.tj_list:hover{background-color: #f9f9f9;}
.tj_list .p01{
	height: 46px;
	line-height: 46px;
}
.tj_list .p05{
	height: 32px;width: 255px;
	line-height: 32px;
}
.tj_list .p01 span{
	font-size: 16px;
	color: #2577e3;
}
.tj_list .p01 i{
    color: #2577e3;
    font-size: 16px;
    padding:0 3px 0 3px;
}
.tj_list .p02 .span1{
	display: block;float: left;
	width: 115px;height: 27px;
}
.tj_list .p02 .span2{
	display: block;float: left;
	width: 130px;height: 27px;
}
.tj_list .p02 i,.tj_list .p03 i,.tj_list .p04 i{
	font-size: 13px;
	color: #999;
}
.tj_list .p03,.tj_list .p04 {
width: 241px;
}
.tj_list .p03 font,.tj_list .p04 font{
	font-size: 13px;
	color: #eb434d;
}
.tj_list .p03 span,.tj_list .p04 span{
	font-size: 13px;
	color: #666;
}
.tj_list .p05 img{
	margin-top: 5px;
	margin-bottom: 10px;
}
.tj_list .p06{
width:290px;
text-align: right;
margin-bottom: 10px;
padding-right: 12px;
}
.tj_list .p06 span{
	color: #2577e3;
	font-size: 13px;
}


.city_box{
            width: 300px;
            min-height: 100px;
            position: absolute;
            right: 0;
            bottom: 6px;
            margin-left: 0px;
           /* border-radius: 6px;*/
            display: none;
            background-color: #fff;
            box-shadow:2px 2px 10px rgba(0,0,0,0.3);
            padding-left: 20px;
            padding-top: 10px;
            border: 1px solid #eee;
            z-index: 100;
            }

.city_box span{margin-right: 20px;float:left;font-size: 16px;width: 40px;}

#js012 .arc_none{float: left;margin:60px 0 60px 325px;font-size: 14px;}

.arc_main4{
  clear: both;
  padding-top: 20px;
}
.arc_main4-content{
  background-color: #ffffff;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.arc_main4 .left4{
  float: left;
  width: 1000px;
  min-height: 390px;
}

.arc_main4 .right4{
  float: right;
  width: 380px;
  min-height: 390px;
}
.gldh_list {
  margin: 20px 10px;
  display: block;
}
.gldh_list .img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  padding: 0 10px;
}
.gldh_list div {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  color: #333333;
}
.wlzx_list {
  width: 100%;
  float: left;
  /* height: 180px; */
  /* height: none !important; */
  border: solid 1px #dfdfdf;
  border-left: 0px;
  border-right: 0px;
  margin-top: -1px;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.4s;
}
.wlzx_list:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.wlzx_list li {
  /* height: 140px; */
  float: left;
  overflow: hidden;
}
.wlzx_list img {
  transition: 0.7s;
}
.wlzx_list img:hover {
  transform: scale(1.05);
}
.list_none span {
  float: left;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin-top: 40px;
}
.list_none img {
  width: 300px;
  height: 160px;
  margin: 20px 0 20px 400px;
}
.ad {
  /* margin: 20px 0; */
  width: 380px;
  height: 280px;
  display: block;
}
.middle-ad {
  clear: both;
  margin: 40px 0;
  width: 1000px;
  height: 90px;
  display: block;
}
.rmsx_list{
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 28px;
  letter-spacing: 1.1px;
  color: #333333;
  padding-left:10px;
}

.rc_list {
  margin: 10px 0;
}
.rc_list div {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
}
.rc_list .left p {
  height: 20px;
  line-height: 20px;
  width: 20px;
  text-align: center;
  color: #ffffff;
  margin: 0 15px;
  background-color: #8eb9f5;
}
.oneColor{
  background-color:#f65050 !important ;
}
.twoColor{
  background-color: #ff8547 !important ;
}
.trihColor{
  background-color: #ffac38 !important ;
}
.rc_list .img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  padding-right: 9px;
}
.rc_list .right {
  color: #333333;
  width: 100%;
}
.ps-list {
  padding: 10px;
}

.ps-list li {
  list-style: square;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 28px;
  letter-spacing: 1.1px;
  color: #333333;
}
.hot-cities{
  background-color: #fff
}
.hot-cities-li {
  display: inline-block;
  padding: 10px;
  width: 10.5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
}
.hot-cities-a {
  font-size: 14px;
}
#echart,#echart2{
  width: 556px;height:340px;
}

#cy_list_0 {
  width: 100%;
  height: 26px;
  float: left;
}
#cy_list_0 {
  overflow: visible;
}
#cy_list_0 img {
  margin-top: 32px;
  float: left;
  margin-right: 7px;
}
#cy_list_0 span {
  float: left;
  margin-top: 28px;
}

.cy_list_4 {
  width: 180px;
  margin-left: 11px;
}
.cy_list_4 > a {
  float: left;
}
.cy_list_4 p {
  height: 26px;
  margin: 0 0 5px 0;
}
.cy_list_4 img {
  width: 180px;
  height: 180px;
}
.cy_list_1 {
  width: 527px;
  overflow: hidden;
  margin-left: 30px;
}

.cy_list_1 .p1 {
  margin-bottom: 3px;
}
.cy_list_1 p {
  height: 40px;
  line-height: 40px;
}
.cy_list_1 p a {
  /* color: #eb434d; */
  font-size: 16px;
}
.cy_list_1 p i {
  font-size: 14px;
  color: #666;
}
.cy_list_1 p span {
  font-size: 14px;
  color: #666;
  padding: 0 2px 0 2px;
}
.cy_list_1 p font {
  font-size: 14px;
  color: #333;
  padding-right: 25px;
}
.cy_list_3 {
  width: 85px;
  margin-left: 30px;
  margin-top: 40px;
}
.cy_list_3 p {
  height: 30px;
  line-height: 30px;
}
.wlzx_list_6 {
  width: 110px;
  /* margin-left: 85px; */
  margin-top: 63px;
}
.wlzx_list_6 p input {
  display: block;
  width: 102px;
  height: 26px;
  line-height: 26px;
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  border: solid 1px #dddddd;
}
.wlzx_list_6 p input:hover {
  opacity: 0.8;
}
.wlzx_list_6 .p1,
.wlzx_list_6 .p2 {
  margin-bottom: 12px;
}
.wlzx_list_6 .p1 input {
  background-color: #eb434d;
  color: #fff;
  border: 0px;
  height: 28px;
}
.wlzx_list_6 .p1 input:hover {
  background-color: #ff0000;
}

.wlzx_list_6 .p3 input {
  background: no-repeat url(/images/article_wlzx/15qq.gif) 12px 3px;

  padding-left: 15px;
  width: 87px;
}
/*.wlzx_list_6 .p2 input {*/
  /*background-color: #eb434d;*/
  /*color: #fff;*/
  /*border: 0;*/
/*}*/
.wlzx_list_6 .p2 input {
  background-color: #2577e3;
  color: #fff;
  border: 0;
}
.sc_num {
  float: right;
  height: 26px;
  width: 120px;
  font-size: 12px;
  line-height: 26px;
}
.view_num {
  float: right;
  height: 26px;
  width: 120px;
  font-size: 12px;
  line-height: 26px;
}
.view_num img {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin: 0px 5px;
  vertical-align: middle;
}
.release_box{
  font-size: 12px;
  margin-top: 4px;
  float: right;
  height: 16px;
  overflow: hidden;
  width:348px;
}
.release_scroll{
  position: relative;
}
.manage_box i{
  color: #2577e3;
}
.cy_top_banner {
  background: no-repeat center url(/images/cy/01tltle.png);height: 150px
}

.myLayer_title{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 20px;
}
.myLayer_content{
  margin: 20px;
  font-size: 18px;
}
.myLayer_content span {
  color: #2577e3;
}
.myLayer_footer {
  text-align: center;
}
.myLayer_footer #seconds{
  border: 1px solid #3333;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
}
.show2{
  display: none;
}
.myLayer_title2{
  padding: 10px;
}
.myLayer_title2 span {
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
}
.myLayer_title2 span:nth-of-type(1){
  background-color: #f66618;
  width: 5px;
  height: 25px;
  margin: 0 10px;
}
.myLayer_title2 span:nth-of-type(2){
  padding-left: 10px;
  color: #f66618;
}
.myLayer_title2 span:nth-of-type(3){
  padding-left: 10px;
}
.myLayer_content2{
  padding: 10px;
  font-size: 16px;
  color: #f66618;
}
.myLayer_content2 i{
  color: red;
}
.myLayer_content2 span{
  text-decoration: underline;
}