*{margin:0;padding:0;font-family:"微软雅黑",Arial,Helvetica,sans-serif}  
body{color:#666666;font-size:12px;}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,p,hr,button,input,textarea,form,fieldset,iframe,table,td,img,div,tr{margin:0;padding:0;}
ul,li{list-style:none}
i{font-style:normal;}
A img{border:0}
a{color:#666;text-decoration:none}
a:hover,a:active,a:focus{color:#FA5000;text-decoration:none}
html{ -webkit-text-size-adjust:none;}
*html{background-image:url(about:blank);background-attachment:fixed;}
em{font-style:normal;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}
*html .clearfix{height:1%;}
.clearfix{display:block;}
*+html .clearfix{min-height:1%;}
.f12{font-size:12px;}.f14{font-size:14px;}.f16{font-size:16px;}.f18{font-size:18px;}.f20{font-size:20px;}
.fb {FONT-WEIGHT: bold}
.fn {FONT-WEIGHT: normal}
.yh {font-family:"微软雅黑";}
.ari {font-family:"Arial";}
.btbc {BORDER-TOP: #E0E2E2 1px dotted}
.bbdc {BORDER-BOTTOM: #e9e9e9 1px dotted}
.bbdcs {BORDER-BOTTOM: #e8e8e8 1px solid}
.nbo {BORDER: #E0E2E2 0px solid}
.nbot {BORDER-TOP: #E0E2E2 0px solid}
.nbob {BORDER-BOTTOM: #e9e9e9 0px solid}
.nbol {BORDER-LEFT: #e8e8e8 0px solid}
.nbor {BORDER-RIGHT: #e8e8e8 0px solid}
.m10{margin:10px;}
.m20{margin:20px;}
.p10{padding:10px;}
.p20{padding:20px;}
.pl5{padding-left:5px;}.pl10{padding-left:10px;}.pl20{padding-left:20px;}.pl30{padding-left:30px;}
.pt5{padding-top:5px;}.pt10{padding-top:10px;}.pt20{padding-top:20px;}.pt30{padding-top:30px;}.pt60{padding-top:60px;}
.pb5{padding-bottom:5px;}.pb10{padding-bottom:10px;}.pb20{padding-bottom:20px;}.pb30{padding-bottom:30px;}
.pr5{padding-right:5px;}.pr10{padding-right:10px;}.pr20{padding-right:20px;}.pr30{padding-right:30px;}
.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml20{margin-left:20px;}.ml30{margin-left:30px;}.ml40{margin-left:40px;}
.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr20{margin-right:20px;}.mr30{margin-right:30px;}.mr16{margin-right:16px;}.mr15{margin-right:15px;}
.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt20{margin-top:20px;}.mt30{margin-top:30px;}.mt50{margin-top:50px;}
.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb20{margin-bottom:20px;}.mb30{margin-bottom:30px;}
.h470{padding:470px;}
.fl {DISPLAY: inline; FLOAT: left}
.fr {DISPLAY: inline; FLOAT: right}
.flt{float:left}
.frt{float:right}
.flj{float:left}
.frj{float:right; padding-right:5px;}
.flsc {FLOAT: left ; TEXT-ALIGN: center;FONT-SIZE: 12px; COLOR: #666;}
.frs {FLOAT: left;COLOR: #666;}
.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}
.font_c {font-weight:bold; font-size:12px; margin-right:5px;}
.font_b {font-weight:bold; font-size:12px; color:COLOR: #666;  margin-right:10px; }
.font_r { color:COLOR: #ff0000;  font-weight:bold; font-size:14px;margin-right:10px; }
.font_m {font-weight: normal; font-size:12px; color: #999999;margin-left:10px; }
.font_d {font-weight:bold; font-size:14px; color:COLOR: #666;  margin-right:10px; margin-left:10px;}
.red{color:#FF5833;}a.red:link,a.red:visited{color:#FF5833;}a.red:hover,a.red:active{color:#FF5833;}
.red1{color:#f60;}a.red1:link,a.red1:visited{color:#f60;}a.red1:hover,a.red1:active{color:#f60;}
.blue{color:#4095CE;}a.blue:link,a.blue:visited{color:#4095CE;}a.blue:hover,a.blue:active{color:#4095CE;}
.white{color:#ffffff;}a.white:link,a.white:visited{color:#ffffff;}a.white:hover,a.white:active{color:#ffffff;}
.orange{color:#FF5833;}a.orange:link,a.orange:visited{color:#FF5833;}a.orange:hover,a.orange:active{color:#FF5833;}
.hui{color:#7f7f7f;}a.hui:link,a.hui:visited{color:#7f7f7f;}a.hui:hover,a.c7f7f7f:active{color:#f30;}
.c000{color:#000;}.c333{color:#333;}.c666{color:#666;}.c999{color:#999;}.cccc{color:#ccc;}.caaa{color:#aaa;}
A.white:link {COLOR: white; TEXT-DECORATION: none}
A.white:visited {COLOR: white; TEXT-DECORATION: none}
A.white:hover {COLOR: white; TEXT-DECORATION: none}
A.white:active {COLOR: white; TEXT-DECORATION: none}
A.red:link {COLOR: red; TEXT-DECORATION: none}
A.red:visited {COLOR: red; TEXT-DECORATION: none}
A.red:hover {COLOR: red; TEXT-DECORATION: none}
A.red:active {COLOR: red; TEXT-DECORATION: none}
.clear:unknown {clear:both;display:block; visibility:hidden;height:0px;content: "."}
.clear {ZOOM: 1;}
.nodata {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: #999999; PADDING-TOP: 10px; TEXT-ALIGN: center; background:#FFFFFF}
.hjicon01{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -144px -315px;margin:0px 2px 0 0px;}
.hlicon00{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -115px -315px;margin:0px 0px 0 0px;}
.hlicon01{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat 0px -294px;margin:0px 0px 0 0px;}
.hlicon02{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -29px -294px;margin:0px 0px 0 0px;}
.hlicon03{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -58px -294px;margin:0px 0px 0 0px;}
.hlicon04{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -87px -294px;margin:0px 0px 0 0px;}
.hlicon05{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -116px -294px;margin:0px 0px 0 0px;}
.hlicon06{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -145px -294px;margin:0px 0px 0 0px;}
.hlicon07{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -174px -294px;margin:0px 0px 0 0px;}
.hlicon08{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -203px -294px;margin:0px 0px 0 0px;}
.hlicon09{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -232px -294px;margin:0px 0px 0 0px;}
.hlicon10{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -261px -294px;margin:0px 0px 0 0px;}
.hlicon11{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -290px -294px;margin:0px 0px 0 0px;}
.hlicon12{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -319px -294px;margin:0px 0px 0 0px;}
.hlicon13{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat 0px -315px;margin:0px 0px 0 0px;}
.hlicon14{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -28px -315px;margin:0px 0px 0 0px;}
.hlicon15{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -57px -315px;margin:0px 0px 0 0px;}
.hlicon16{display:inline-block;width:28px;height:20px; vertical-align:middle;background:url(../images/icon.png) no-repeat -86px -315px;margin:0px 0px 0 0px;}
.sjrz{display:inline-block;width:20px;height:20px; vertical-align:middle;background-image:url(../images/sjrz.png);background-repeat:no-repeat;background-position:0px 0px;margin:0px 0px 0 0px;}
.sfrz{display:inline-block;width:20px;height:20px; vertical-align:middle;background-image:url(../images/sfrz.png);background-repeat:no-repeat;background-position:0px 0px;margin:0px 0px 0 0px;}
.zzrz{display:inline-block;width:20px;height:20px; vertical-align:middle;background-image:url(../images/zzrz.png);background-repeat:no-repeat;background-position:0px 0px;margin:0px 0px 0 0px;}
.bzjrz{display:inline-block;width:20px;height:20px; vertical-align:middle;background-image:url(../images/bzjrz.png);background-repeat:no-repeat;background-position:0px 0px;margin:0px 0px 0 0px;}
.pshi{display:inline-block;height:18px;background-image:url(../images/v_star.gif);background-repeat:repeat;background-position:0px 0px;margin:0px 0px 0px 0px;}
.pkong{display:inline-block;width:100px;height:18px;background-image:url(../images/v_star.gif);background-repeat:repeat;background-position:0px -18px;margin:0px 0px 0px 0px;}
#qrcode {margin:0 auto;height: 120px;width: 120px;background: #fff;padding:10px 10px 10px 10px;}
.qrcodebox {PADDING-LEFT: 5px;   COLOR: #999999; POSITION: absolute; bottom: 170px;RIGHT: 0px; }	  
.xtm{display:inline-block;width:92px;height:22px;vertical-align:middle;background-image:url(../images/a01.png);background-repeat:no-repeat;background-position:0px 0px;margin:0px 0px 0 5px;}
.pxsq{display:inline-block;width:75px;height:20px;vertical-align:middle;background-image:url(../images/Button_Apply.gif);background-repeat:no-repeat;background-position:0px 0px;margin:0px 0px 0 5px;}
.no_mb{ border-right:1px solid #F4F4F4;}
.kong {WIDTH: 960px;  MARGIN:0px auto;OVERFLOW: hidden;background-color: #fff; HEIGHT: 5px}
.ma {FONT-WEIGHT: normal; FONT-SIZE: 12px; RIGHT: 10px; COLOR: #666; POSITION: absolute; TOP: 0px; TEXT-ALIGN: right}
.ma A:link,.ma A:visited,.ma A:hover,.ma A:active {COLOR: #666}
.Expired{ width:145px; height:90px; background:url(../images/AntExpired.gif) no-repeat; position:absolute; top:105px; left:125px;}
.sbutton {cursor:pointer;width:70px; height:21px; margin-top:0px;  line-height:21px; text-align:right;padding-right:5px; color:#FFF;background: url(../images/icon.png)#FF5833 no-repeat -240px -90px; border: 0px #e5e5e5 solid;}
.sinput{ width:150px;font-size: 12px; height:24px; line-height:24px; background: url('../images/icon.png') no-repeat -63px -94px;  cursor:pointer; border: 0px #e5e5e5 solid; padding:0px 2px 0px 10px; color:#999999; }
/* 404���� */
.error404{width:1090px;margin:0 auto;font-size:14px;font-family:"微软雅黑"; color:#555;background:url(../images/title.png)#fff no-repeat 40px 30px;  overflow:hidden;  padding:50px;}
.sorry404{ float:right; width:545px;}
.sorry404 .t404{border-bottom: 1px dotted #b3b3b3;padding:0px 0 10px 0px;width:505px;}
.sorry404 .t404 .H3{font-size:14px; color:#ff7300;margin-right:10px;}
.sorry404 .t404 em{font-size:18px; color:#ff7300;margin-right:10px;}
.sorry404 .t404 p{padding-top:10px; line-height:28px;}
.sorry404 .c404{font-size:14px;color:#444; font-family:"微软雅黑";padding:10px 0 10px 0px; }
.sorry404 .c404 p{padding-top:10px; line-height:28px;}
.sorry404 .c404 p a{background:#FF5833;color:#fff;height:23px;line-height:23px;width:80px;;padding:5px 10px 5px 10px; text-align:center;font-family:"微软雅黑";font-size:14px;color:#fff; margin:0px 10px 5px 10px; }
.sorry404 .c404 p a:hover{color:#fff;background:#323232;}
/* ���� */
#topbox {background:#F4F4F4;margin: 0px auto;line-height:30px;border-bottom:#ccd8e1 1px solid; position:relative;height:30px;MIN-WIDTH:1190px!important;}
#top{ width:1190px;line-height:28px;height:28px;margin:0px auto}
#top span {padding-right:5px;display:block;padding-left:5px;COLOR: #ccc}
/* ͷ�� */
#hboxs {background:#fff;margin:0px auto; position:relative;height:83px;  z-index:11;MIN-WIDTH: 1190px;!important;}
#heads {WIDTH:1190px;MARGIN:0px auto; height:83px;}
#headsl {FLOAT: left; OVERFLOW: hidden; WIDTH: 350px; height: 83px;}
#headsl .log{float:left;padding:0px 0px 0px 0px; width:233px; height:78px; margin-top:7px;}
#headsl .log img{ height:78px; width:233px;}
#headsl .dqlog {padding:5px 0px 0px 20px; width:60px; height:60px; float:left; text-align:center; margin-top:23px;}
#headsl .dqlog p a{ color:#666; font-family:"微软雅黑"}
#headsl .dqlog p.dqmc {height:21px;line-height:21px;color:#666;font-size:16px; font-weight:bold; }
#headsl .dqlog p.dqwz{ height:14px;line-height:18px;font-size:12px;color:#2323; }
#headsl A:link,#headsl A:visited,#headsl A:hover,#headsl A:active {COLOR: #C9C9C9}
#headsm {FLOAT: left;width:310px; height: 60px; margin-left:0px; ;margin-top:12px; }
#headsm .ywjs{ float:left;  width:290px; height:50px; margin-top:10px; margin-left:0px;background:url(../images/icon.png) no-repeat -60px -41px; }
#headsm .ywjs h1{ height:21px;line-height:21px;color:#999;font-size:16px; font-weight:bold;font-family:"微软雅黑";padding:3px 0px 0 25px;}
#headsr {FLOAT: left;width:268px; height: 30px; position:relative; margin-top:30px;border:1px solid #ccc; z-index:10;}
#headss {FLOAT: right;width:260px; text-align:center; COLOR: #ffffff; text-align:right; margin-top:30px;height: 30px; }
#headss a{ height:30px; padding:9px 10px 9px 10px; background:#FF5833; color:#fff; text-align:center; line-height:30px; margin-left:10px;}
#headss a:hover{ background:#cf393a;color:#ffffff;}
#s_box { font-size:14px; }
#s_box .search {  zoom: 100%; width: 240px; height: 30px;  position: absolute; top: 0px; left: 0px; background:#ffffff;font-size:14px;}
#s_but { position: absolute; right: 0px; top: 0px; background: url(../images/icon.png) no-repeat 0px -84px; width:40px; height:30px;text-indent: -9999px;}
#s_but:hover { background: url(../images/icon.png) no-repeat 0px -131px; }
#s_box p { color: #323232; cursor: pointer; display: inline; width: 87px; float: left; font-size:14px; line-height: 16px; margin: 0 7px 0 0; padding: 7px 0; }
#s_box p span { background: url(../images/icon.png) no-repeat 70px -41px; border-right: 1px solid #ccc; display: block; padding-right: 18px; padding-left: 12px; }
#s_box p span:hover { background: url(../images/icon.png) no-repeat 70px -60px; }
#s_prompt { color: #BCBCBC; cursor: text; width: 160px; left: 100px; line-height: 30px; position: absolute; top: 0; }
#s_text { border-style: none; margin-top: 3px; color: #666; font: 14px/16px Arial, Helvetica, sans-serif; height: 22px; margin-right: 10px; padding-top:3px;}
input#s_text { border: none; background: #fff; width:104px; }
#s_sub { display: none; background-color: #FFF; border-color: #ccc;  border-style: none solid solid; border-width: 1px; left: -1px; line-height: 24px; list-style-type: none; margin: 0; padding-bottom: 5px; padding-left: 0; position: absolute; top: 30px; width: 86px; }
#s_sub li { color: #323232; cursor: pointer; padding: 0 12px; }
#s_sub li:hover { background:#FF5833; color:#FFFFFF }
/* ͷ���˵� */
.xin {CLEAR: both; MARGIN-TOP: -18px; BACKGROUND: url(../images/xin.gif) no-repeat 0px 0px; MARGIN-LEFT: 1px; WIDTH: 19px; POSITION: absolute; HEIGHT: 23px}
.re {CLEAR: both; MARGIN-TOP: -18px; BACKGROUND: url(../images/re.gif) no-repeat 0px 0px; MARGIN-LEFT: 1px; WIDTH: 19px; POSITION: absolute; HEIGHT: 23px}
#topbox {background:#F4F4F4;margin: 0px auto;line-height:30px;border-bottom:#ccd8e1 1px solid; position:relative;height:30px}
.navboxs{width:100%;margin: 0 auto;background:#FA5000; height:80px;}
.navbox{width: 1190px;margin: 0 auto; background:#FA5000; margin-top:10px; }
.nav_new_list{background:#FA5000;height:70px; float:left; position:relative;z-index:1; padding:5px 7px 5px 7px;}
.nav_new_list li{float:left;text-align:center;line-height:30px;height:35px; width:98px;position:relative;white-space:nowrap; background: url(../images/icon.png) no-repeat -215px -244px; }
.nav_new_list li.curs{background: url(../images/icon.png) no-repeat -215px -244px; }
.nav_new_list li a{color:#fff !important;font-size:14px;font-weight:bold;font-family:"Microsoft YaHei","微软雅黑",Helvetica,"����",Arial,Tahoma; text-decoration:none;display:inline-block; padding:0px 10px; width:78px;}
.nav_new_list li a:hover{color:#FFF !important;text-decoration:none;background:#323232; z-index:1;}
.nav_new_list li.on{background:#323232; z-index:2; }
.nav_new_list li.current{background:#323232; z-index:3;}
.nav_new_list ul{ position:absolute; top:35px; left:0px; background: #323232;display:none; z-index:1; width:98px;}
.nav_new_list ul li{ width:98px; border:none; text-align:left;border-bottom:1px solid #999999;height:36px; line-height:36px;}
.nav_new_list ul li ul{ position:absolute; top:-1px; left:120px; z-index:999; background: #323232; border:2px solid #2a8b00; border-bottom:none; }
.nav_new_list ul li a{ width:68px; color:#fff;  font-weight:normal;font-family:"Microsoft YaHei","微软雅黑",Helvetica,"����",Arial,Tahoma; }
.nav_new_list ul li a:hover{ background:#323232; color:#fff !important; }
.nav_new_list li ul li.on{background:#fef035;border:0px; border-bottom:1px solid #999999;}
.nav_new_list .sub_menu_x a{ padding:0px 15px 0px 15px;}
.nav_new_list .sub_menu_x a.cur{ padding:0px 0px 0px 0px;}
/*---ͨ�õײ�---*/
#footers{width:100%;margin: 20px auto; height:80px;border-top:2px solid #eee;MIN-WIDTH: 1190px!important;}
#footer{width:1190px; margin:0 auto; padding:5px 0px 5px 0px; height:100%; overflow:hidden;  font-size:12px;}
#footer p{ height:28; line-height:28px; text-align:center;}	
#footer p a{ padding:0 5px 0 5px;}	
#daohang {WIDTH: 1150px; LINE-HEIGHT: 42px; HEIGHT: 42px; MARGIN: 0px auto 0px; background:#dddddd;margin-bottom:10px;background: url(../images/sy.gif)  no-repeat 0px 12px; padding-left:25px;FONT-SIZE: 12px;BORDER-BOTTOM: #f2f2f2 1px solid}
/*---ͨ�÷����б�---*/
.rgsyb {width: 300px;float:left;OVERFLOW: hidden; border-top:1px solid #F0F0F0; padding:10px 10px 15px 10px;}
.rglist {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;}
.rglist LI { float:left;PADDING-LEFT: 0px; OVERFLOW: hidden; LINE-HEIGHT: 14px; POSITION: relative; HEIGHT: 44px;FONT-SIZE: 12px; width:145px;  color:#999; margin-right:10px; text-align:center}
.rglist LI.nomr {margin-right:0px; }
.rglist LI .tag{ padding: 15px 0px  15px 0px;  color: #666; margin-right: 0px; line-height: 15px; display: inline-block; _margin-bottom: 0px;background: #FA5000;BORDER: #FA5000 1px solid; color:#fff;  width:145px;font-size:14px; font-weight:800;font-family:"Microsoft YaHei","微软雅黑",Helvetica,"����",Arial,Tahoma; }
.rglist LI .tag:hover{ background: #232323; color: #fff;BORDER: #232323 1px solid;}
.rglist LI .cur {padding: 10px 0px  10px 0px;  color: #666; margin-right: 0px; line-height: 15px; display: inline-block; _margin-bottom: 0px;background: #F98300;BORDER: #F98300 1px solid; color:#fff; width:83px;font-size:14px; font-weight:bold;font-family:"Microsoft YaHei","微软雅黑",Helvetica,"����",Arial,Tahoma; }
.rglist LI .cur:hover{ background: #4EABFF; color: #fff;BORDER: #4EABFF 1px solid;}
/*�ֲ���*/
.ads320 {width:100%;height:90px;float:left; position:relative ;margin: 0px 0px 0px 0px;OVERFLOW: hidden; }
.ads320 .hd{  overflow:hidden; z-index:1; width: 63px;height: 15px;position: absolute;right: 5px;bottom: 5px; }
.ads320 .hd ul{ overflow:hidden; zoom:1; float:left;  }
.ads320 .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:10px;height:10px;margin:5px;overflow:hidden;background:#fff;filter:alpha(opacity=50);opacity:0.5;line-height:999px;border-radius:50%;}
.ads320 .hd ul li.on{background:#f00;}
.ads320 .bd{ position:relative; height:100%; z-index:0;   }
.ads320 .bd li{ zoom:1; vertical-align:middle; }
.ads320 .bd img{ width:100%; height:90px; display:block;  }
.wad300{width:300px;height:250px;float:left; position:relative;padding:8px 10px 8px 10px;text-align:center;}
.wad300 .bd img{ width:300px; height:250px; display:block;  }
/*��ҳͨ��icon��*/
.tyiconbg{ width:100%; background:#23A2D9; ;opacity:0.7; filter: alpha(opacity=70); -moz-opacity:0.7; }
.tyicon{width:300px;margin: 0 auto;OVERFLOW: hidden;margin:0px 10px 0px 10px; z-index:99 ; position:relative; }
.tyicon ul{margin:0px; padding:0px;}
.tyicon ul li{float:left;width:100px;height:80px; text-align:center }
.tyicon ul li a{display:block;width:100%px;height:100%;position:relative; color:#fff; font-size:14px; color:#666}
.tyicon ul li a:hover{ background:#fff; color:#FA5000}
.tyicon ul li a.current{ color:#f4f4f4 !important; background:#027AE3 !important; }
.tyicon ul li p{ text-align:center; padding:50px 20px 0px 20px; font-size:14px;font-family:"Microsoft YaHei","微软雅黑",Helvetica,"����",Arial,Tahoma; }
.tyicon ul li span{ display:block; position:absolute; top:10px; left:50%; margin-left:-20px; width:41px; height:35px; cursor:pointer;}
.tyicon ul li.cur{ padding-right:0px;}
.tyicon ul li a.fa_01 span{ background:url(../images/icon.png)no-repeat -51px -137px; }
.tyicon ul li a.fa_01:hover span{ background:url(../images/icon.png) no-repeat -51px -197px;}
.tyicon ul li a.fa_02 span{ background:url(../images/icon.png) no-repeat -105px -137px;}
.tyicon ul li a.fa_02:hover span{ background:url(../images/icon.png) no-repeat -105px -197px;}
.tyicon ul li a.fa_03 span{ background:url(../images/icon.png) no-repeat -155px -137px;}
.tyicon ul li a.fa_03:hover span{ background:url(../images/icon.png) no-repeat -155px -197px;}
.tyicon ul li a.fa_04 span{ background:url(../images/icon.png) no-repeat -209px -137px;}
.tyicon ul li a.fa_04:hover span{ background:url(../images/icon.png) no-repeat -209px -197px;}
.tyicon ul li a.fa_05 span{ background:url(../images/icon.png) no-repeat -269px -137px;}
.tyicon ul li a.fa_05:hover span{ background:url(../images/icon.png) no-repeat -269px -197px;}
.tyicon ul li a.fa_06 span{ background:url(../images/icon.png) no-repeat -315px -137px;}
.tyicon ul li a.fa_06:hover span{ background:url(../images/icon.png) no-repeat -315px -197px;}
/* �����С��� */
.yxbox {margin: 0 auto;width:1190px;overflow: hidden;background:#fff }
.yxboxWrap {float: left;width: 100%;position: relative;left: 887px;}
.yxright {position: relative;margin-right: 887px;PADDING: 0px 0px 0 16px; word-wrap:break-word;word-break:break-all; }
.yxleft {width: 887px;float: left;position: relative;margin-left: -887px; }
.yxleft,.yxright {min-height: 200px;height: auto !important;height: 200px;}
/* ��С�Ҵ��� */
.zxabox {margin: 0 auto;width:1190px;overflow: hidden;background:#fff }
.zxaboxWrap {float: left;width: 100%;position: relative;left: 222px;background:#fff}
.zxaright {position: relative;margin-right: 222px;PADDING: 0px 0px 0 20px; word-wrap:break-word;word-break:break-all;}
.zxaleft {width: 222px;float: left;position: relative;margin-left: -222px; }
.zxaleft,.zxright {min-height: 200px;height: auto !important;height: 200px;}
/* ��ܲ��� */
.wqpkd {margin:0px auto; position:relative;MIN-WIDTH: 1190px;!important; background:#FFFFFF}
.w1190{width: 1190px;margin: 0 auto;OVERFLOW: hidden; position:relative;}
.w1190s{width: 1190px;margin: 0 auto;OVERFLOW: hidden; position:relative; margin-top:20px;}
.w640{width: 640px;margin: 0 auto;OVERFLOW: hidden; position:relative;}
.w950 {width: 950px; float:left;OVERFLOW: hidden; }
.w946 {width: 946px; float:left;OVERFLOW: hidden; border:1px solid #F0F0F0;  background:#FFFFFF;}
.w287{width: 287px;float:left;OVERFLOW: hidden;}
.ad275 {width: 275px; float:left;OVERFLOW: hidden; border:1px solid #F0F0F0;  background:#FFFFFF; padding:5px 5px 5px 5px;}
.w887{width: 887px;float:left;OVERFLOW: hidden; position:relative}
.w885 {width: 885px;float:left;OVERFLOW: hidden; border:1px solid #F0F0F0;  background:#FFFFFF;}
.w585 {width: 585px;float:left;OVERFLOW: hidden; border:1px solid #F0F0F0; }
.w465 {width: 465px;float:left;OVERFLOW: hidden; border:1px solid #F0F0F0; }
.w434 {width: 434px;float:left;OVERFLOW: hidden; border:1px solid #F0F0F0; }
.w220 {width: 220px;float:left;OVERFLOW: hidden; border:1px solid #F0F0F0; }
.w220s {width: 220px;float:left;OVERFLOW: hidden;  }
.ad572 {width: 572px; float:left;OVERFLOW: hidden;   background:#FFFFFF; padding:5px 5px 5px 5px;}
/* ��ܲ��� */
.w860 {FLOAT: left; WIDTH: 860px;OVERFLOW: hidden;  margin-right:20px;}
.w360 {FLOAT: left; WIDTH: 310px;OVERFLOW: hidden; margin-right:0px;}
/* ��� */
.ad1190 {WIDTH:1190px;MARGIN:0px auto; height:auto; padding:10px 0px 10px 0px;text-align:center; position:relative}
.ad720 {WIDTH:730px;MARGIN:0px auto; padding:10px 0px 10px 0px; text-align:center}
.ad160 {WIDTH:208px;MARGIN:0px auto; padding:10px 0px 10px 0px; text-align:center}
/*�������������б�*/
.Dpbox {margin: 0 auto 5px;width: 100%;overflow: hidden; padding-bottom:10px;border-bottom: 1px solid #F3F3F3; margin-top:10px;}
.DpboxWrap {float: left;width: 100%;position: relative;left: 60px;}
.Dpright {position: relative;margin-right: 60px;PADDING: 0px 0px 0 0px; word-wrap:break-word;word-break:break-all;}
.Dpleft {width: 40px;float: left;position: relative;margin-left: -60px; font-size:12px;PADDING-RIGHT: 10px; PADDING-LEFT: 10px;PADDING-BOTTOM:10px; PADDING-TOP: 10px;}
.Dpleft,.Dpright {min-height: 40px;height: auto !important; height: 40px; }
.Dpleft IMG {VERTICAL-ALIGN: middle; width:40px; height:40px;border-radius:20px;  }
.Dpck {PADDING-top: 0px;PADDING-left: 0px;LINE-HEIGHT: 34px;HEIGHT: 34px;  OVERFLOW: hidden; POSITION: relative;font-size:14px; font-weight:bold;color:#4095CE;}
.Dpck A,.Dpck A:link,.Dpck A:visited{ color:#4095CE}
.Dpck span {color:#FFB900; RIGHT: 0px;TOP: 0px; POSITION: absolute;FONT-SIZE: 12px; font-weight:normal}
.Dpck span a{PADDING-RIGHT: 10px; PADDING-LEFT: 10px; color:#999999;}
.Dpck span A:link {COLOR: #999999}
.Dpck span A:visited {COLOR: #999999}
.Dpck .font_bk {font-weight: normal; font-size:12px; color: #999999;}
.Dpck .font_m {font-weight: normal; font-size:12px; color: #999999;margin-left:0px; float:right; }
.dp_nr{ line-height:24px;color:#999999; height:auto;font-size:12px;}
.dp_nr img{padding:0px; border:0px solid #eee;  MAX-WIDTH: 900px!important;HEIGHT: auto!important;width:expression(this.width > 900 ? "900px" : this.width)!important; }
.rdpbox{font-size:12px; background:#f8f8f8;border:1px solid #EBEBEB;color:#ababab; position:relative;margin-top:9px;line-height:24px; width:99%; float:left;}
.rdpboxt{width:17px;height:10px; position:absolute; background:url(../images/topS.png);top:-9px;left:22px;}
.rdpboxc{padding:10px 1%; width:98%;float:left;}
/*���ظ��*/
#pmore{margin:0px auto; width:100%; } 
#bmore{margin:0px auto; width:100%;}  
.single_item{ border-bottom:0px dotted #d3d3d3;}
.get_more{margin:15px; text-align:center;}
.more_loader_spinner{width:16px; height:16px; margin:10px auto; background: url(../images/loader.gif) no-repeat;}
.get_more a{ margin:0 auto; line-height:21px; height:21px; text-align:center;font-size:14px;color:#fff;font-family:"微软雅黑","����";background:#666;padding:10px 10px 10px 10px; overflow:hidden; margin-bottom:10px; border:1px solid #f0f0f0;}
.get_more a:hover{color:#fff;background:#FF5833;border:1px solid #FF5833;}
/* ��Ʒͨ�ñ� */
.MPList  li{float:left;WIDTH: 230px; margin-right:10px;position:relative;  overflow:hidden;  background:#f8f8f8;margin-top:16px;}
.MPList .pic{position:relative;width:100%;margin-bottom:10px; }
.MPList .pic img{width:230px;height:173px;}
.MPList .pic .titles{bottom:0%;left:0%;position:absolute;background:#2E2E2E;color:#fff;height:28px;line-height:28px;width:99%;PADDING: 5px 0 5px 1%; text-align:left;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.MPList .pic .titles:hover{color:#fff;background:#FF5833;}
.MPList li p { height:24px; line-height: 24px;font-size:12px;color:#666; overflow:hidden; margin-top:0px; }
.MPList li p strong { float: left; cursor:pointer;font-weight:normal;padding-left:0px;color:#666;}
.MPList li p b {float:right;padding:0 0px 0px 0px;color:#666;font-weight:normal;}
.MPList li p b span{ margin-top:4px;}
.MPList li p em{font-size:14px;color:#FF7700;font-weight:bold; font-family:Arial,SimSun;}
.MPList li p .tag{ padding: 2px 5px  2px 5px; margin-left:5px; color: #666; margin-right: 0px; line-height: 15px; display: inline-block; _margin-bottom: 5px;background: #FF5833; color:#FFFFFF}
.MPList li p .tag:hover{ background: #FF5833; color: #fff;}
.MPList li .btns{display:none;}
.MPList li .img{border:0px solid #f0f0f0;}
.MPList li a.img:hover{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8; }
.MPList li.extra {margin-right:0px;}
.sw214s  li{float:left;WIDTH: 204px; margin-right:10px;position:relative;  overflow:hidden;  background:#f8f8f8;margin-top:16px; }
.sw214s .pic img{width:204px;height:153px;}
.sw214  li{float:left;WIDTH: 214px; margin-right:10px;position:relative;  overflow:hidden;  background:#f8f8f8;margin-top:16px;}
.sw214 .pic img{width:214px;height:214px;}
/*���¹����*/
.alist {PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px;}
.alist LI {PADDING-LEFT: 15px; OVERFLOW: hidden; LINE-HEIGHT: 28px; POSITION: relative; HEIGHT: 28px;background:url(../images/icon.png) -334px -242px no-repeat;FONT-SIZE: 12px;}
.alist LI SPAN {PADDING-LEFT: 5px; RIGHT: 0px;  COLOR: #999999; POSITION: absolute; TOP: 0px; TEXT-ALIGN: right
FONT-SIZE: 12px;}
.alist LI.cn_t {border-bottom:dotted 1px #C7C7C7; padding-bottom:5px; margin-bottom:10px;}
.alist LI.nod {background:url(../images/icon.png) -334px -242px no-repeat;FONT-SIZE: 12px;COLOR: #999999; BORDER-BOTTOM: #eeeeee 1px solid;}
.alist LI.nods {PADDING-LEFT: 0px; background:url(../images/icon.png) -334px -242px no-repeat;FONT-SIZE: 12px;}
.alist LI .tag{ padding: 2px 5px  2px 5px;  color: #666; margin-right: 5px; line-height: 15px; display: inline-block; _margin-bottom: 0px;background: #fff;BORDER: #CCCCCC 1px solid; color:#ccc;}
.alist LI .tag:hover{ background: #fff; color: #666;}
.alist LI .cur {padding: 2px 5px  2px 5px;  color: #666; margin-right: 0px; line-height: 15px; display: inline-block; _margin-bottom: 0px;background: #ccc;BORDER: #CCCCCC 1px solid; color:#fff }
.alist LI SPAN .tag{ padding: 2px 5px  2px 5px;  color: #666; margin-right: 5px; line-height: 15px; display: inline-block; _margin-bottom: 0px;background: #fff;BORDER: #CCCCCC 1px solid; color:#ccc; margin-top:4px}
.alist LI SPAN .tag:hover{ background: #fff; color: #ccc;}
.alist LI SPAN .cur {padding: 2px 5px  2px 5px;  color: #666; margin-right: 5px; line-height: 15px; display: inline-block; _margin-bottom: 0px;background: #FF5833;BORDER: #FF5833 1px solid; color:#fff;margin-top:4px}
.alist LI SPAN .cur:hover{ background: #232323; color: #fff;BORDER: #232323 1px solid;}
/*ѡ����ʽ*/
.bd_con {width: 100%; margin: 0 auto; }
.bd_con dl dt { float: left; font-size: 12px; line-height: 24px; padding: 5px 0 0 5px; color: #666;}
.bd_con dl dd { padding: 5px 0 5px 60px; line-height: 24px; border-bottom: 1px solid #F4F4F4; }
.bd_con dl dd span{ padding: 2px 5px; color: #666; margin-right: 0px; line-height: 15px; display: inline-block; _margin-bottom: 5px; }
.bd_con dl dd span .input1{FONT-SIZE: 12px;margin-right:5px; vertical-align:middle; }
.bd_con dl dd span .input2{ color:#666; border:1px solid #DCDCDC; height:20px; width:127px; padding-left:5px; line-height:20px; }
.bd_con dl dd span .input3{ color:#666; border:1px solid #DCDCDC; height:23px; width:50px; padding-left:5px; line-height:20px; }
.bd_con dl dd span .radio{ FONT-SIZE: 12px;margin-right:5px; vertical-align:middle; }
.bd_con dl dd span .textarea1{ width:185px; HEIGHT: 40px;border:1px solid #DCDCDC;color:#666; padding-left:5px; overflow-y:hidden; line-height:16px;}
.bd_con dl dd span .textarea2{ width:810px; HEIGHT: 120px;border:1px solid #DCDCDC;color:#666; padding-left:5px; overflow-y:hidden; line-height:16px;}
.bd_con dl dd .button{ color:#fff; background:#FF5833;height:42px; width:140px; padding-left:0px; line-height:42px;  MARGIN:0 auto; text-align:center;font-size:14px;font-weight:bold;font-family:"微软雅黑";BORDER: #FF5833 1px solid;}
.bd_con dl dd span .button{ color:#fff; background:#FF5833;height:42px; width:140px; padding-left:0px; line-height:42px;  MARGIN:0 auto; text-align:center;font-size:14px;font-weight:bold;font-family:"微软雅黑";BORDER: #FF5833 1px solid;}
.tHeader1 {PADDING-top: 6px;PADDING-left: 10px; OVERFLOW: hidden; LINE-HEIGHT: 42px;HEIGHT: 42px; POSITION: relative; color:#666666;border-bottom: 1px solid #f0f0f0; font-size:16px; font-weight:bold;font-family:"Microsoft YaHei","微软雅黑",Helvetica,"����",Arial,Tahoma;  }
.tHeader1 span {FONT-WEIGHT: normal; FONT-SIZE: 14px; RIGHT: 5px;  POSITION: absolute; TOP: 7px; TEXT-ALIGN: right}
.tHeader1 span a{PADDING-RIGHT: 10px; PADDING-LEFT: 10px; color:#7F7F7F}
.tHeader1 span A:link {COLOR: #666}
.tHeader1 span A:visited {COLOR: #666}
/*����100%*/
.bcontent { float:left;WIDTH: 99%; PADDING: 0 0 0 0;FONT-SIZE: 12px;COLOR: #888888;LINE-HEIGHT: 25px;BORDER-bottom: #f0f0f0 1px dotted; 
}	
.bcontent img{vertical-align:middle; max-width: 99%;  height: auto;margin-bottom:10px; }	
/*�ظ�100%*/
.rdpbox{font-size:12px; background:#f8f8f8;border:1px solid #EBEBEB;color:#ababab; position:relative;margin-top:9px;line-height:24px; width:99%; float:left;}
.rdpboxt{width:17px;height:10px; position:absolute; background:url(../images/topS.png);top:-9px;left:22px;}
.rdpboxc{padding:10px 1%; width:98%;float:left;}
/*��ҳ*/
.manu {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px;MARGIN: 10px;  PADDING-TOP: 2px; TEXT-ALIGN: center;font-weight:bold; font-size:14px; line-height:27px; margin-top:20px;}
.manu A {BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px;   MARGIN: 2px; BORDER-LEFT: #eee 1px solid;  COLOR: #FF5833; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid; TEXT-DECORATION: none}
.manu A:hover {BORDER-RIGHT: #FF5833 1px solid; BORDER-TOP: #FF5833 1px solid; BORDER-LEFT: #FF5833 1px solid; COLOR: #FF5833; BORDER-BOTTOM: #FF5833 1px solid}
.manu A:active {BORDER-RIGHT: #FF5833 1px solid; BORDER-TOP: #FF5833 1px solid; BORDER-LEFT: #FF5833 1px solid; COLOR: #FF5833; BORDER-BOTTOM: #FF5833 1px solid}
.manu .current {BORDER-RIGHT: #FF5833 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #FF5833 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #FF5833 1px solid; COLOR: #eee; PADDING-TOP: 2px; BORDER-BOTTOM: #FF5833 1px solid; BACKGROUND-COLOR: #FF5833}
.manu .disabled {BORDER-RIGHT: #E7E7E7 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid}
#popupMask {
	position: absolute;
	z-index: 200;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: .4;
	filter: alpha(opacity=40);
	/* this hack is so it works in IE
	 * I find setting the color in the css gives me more flexibility 
	 * than the PNG solution.
	 */
	background-color:transparent !important;
	background-color: #333333;
	/* this hack is for opera support
	 * you can uncomment the background-image if you don't care about opera.
	 * this gives you the flexibility to use any bg color that you want, instead of the png
	 */
	background-image/**/: url("../images/maskBG.png") !important; // For browsers Moz, Opera, etc.
	background-image:none;
	background-repeat: repeat;
	display:none;
}
#popupContainer {
	position: absolute;
	z-index: 201;
	top: 0px;
	left: 0px;
	display:none;
	padding: 0px;
}
#popupInner {
	border: 10px solid #424953;
	background-color: #ffffff;
}

#popupFrame {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 202;
}
#popupTitleBar {
	background-color: #424953;
	color: #ffffff;
	font-weight: bold;
	font-size:14px;
	height: 1.6em;
	padding: 5px;
	border-bottom: 2px solid #424953;
	border-top: 1px solid #424953;
	border-left: 1px solid #424953;
	border-right: 1px solid #424953;
	position: relative;
	z-index: 203;
	
}
#popupTitle {
	float:left;
	font-size: 1.1em;
}
#popupControls {
	float: right;
	cursor: pointer;
	cursor: hand;
}
.select_con { border: 1px solid #eee;border-left: 0;border-right: 0; border-bottom: none;width: 100%; margin: 0 auto;}
.select_con dl dt {height:32px; float: left; font-size: 12px; line-height: 24px; padding: 10px 0 0 20px; }
.select_con dl dd {min-height:22px; padding: 10px 0 10px 110px; line-height: 24px; }
.select_con dl dd a { padding: 2px 4.7px; color: #333;font-size: 13px; margin-right: 15px; line-height: 15px; display: inline-block; _margin-bottom: 5px; }
.select_con dl dd a:hover, .select_con dl dd a.now { background: #FF5833; color: #fff;}
.tselect dl dd { padding: 10px 0 10px 60px; line-height: 24px; border-bottom: 1px solid #F4F4F4; }
.slinks{width:1190px;}
.slinks dl dd { padding: 10px 0 10px 120px; line-height: 24px; border-bottom: 1px solid #F4F4F4; }

/* ��ҵ�Ƽ���� */
.arank {width:188px;padding:10px 10px; border-bottom:1px dashed #E8E8E8; overflow:hidden;*margin-bottom:-4px;}
.arank.curs {border-bottom:0px dashed #E8E8E8;}
.arank .avatar {float:left; margin-right:10px; width:45px;  }
.arank img {width:45px; height:45px; border-radius: 45px;-webkit-border-radius: 45px;-moz-border-radius:23px;}
.arank .info {float:left; width:133px;line-height:18px; overflow:hidden;}
.arank .info .company {float:left;margin-top:0px;width:98px;overflow:hidden; height:22px; line-height:22px;}
.arank .info .company .nums {padding-left:5px; color:#FF0000;}
.arank .value {float:right; padding-top:22px; width:70px; line-height:18px; color:#999;}
.arank .num {float:left; margin: 10px 10px 10px 0px; width:25px; height:25px; background:url("../images/icon.png") no-repeat; overflow:hidden;}
.arank #num1 {background-position:-5px -5px;}
.arank #num2 {background-position: -40px -5px;}
.arank #num3 {background-position: -75px -5px;}
.arank #num4 {background-position: -110px -5px;}
.arank #num5 {background-position: -145px -5px;}
.arank #num6 {background-position: -180px -5px;}
.arank #num7 {background-position: -215px -5px;}
.arank #num8 {background-position: -250px -5px;}
.arank #num9 {background-position: -285px -5px;}
.arank #num10 {background-position: -320px -5px;}
.arwidth{width:188px;}
.arwidth .info {width:135px;}
.arwidth .info .company  {width:100px;}
.wr300{width:300px;}
.wr300 .info {width:245px;}
.wr300 .info .company  {width:210px;font-size:12px;color:#333;}
.wr290{width:320px;padding:5px 10px 5px 5px;}
.wr290 .numq {float:left; margin: 0px 5px 0px 0px; width:35px; height:35px; background:url("../images/icon.png") no-repeat; overflow:hidden;}
.wr290 .company {width:265px;float:left;margin-top:0px;overflow:hidden; height:25px; line-height:25px; POSITION: relative;font-size:14px;color:#333;}
.wr290 .company span {FONT-WEIGHT: normal; FONT-SIZE: 12px; color:#999999; RIGHT: 0px;  POSITION: absolute; TOP: 1px;}
.tjbox{ width:188px;margin: 0 auto;background:#FFFFFF}
.tjbox_cs{font-family:"微软雅黑";font-size:16px;color:#FF7700;font-weight:bold;text-align:center;margin:6px 0 6px 0;}
.tjbox_hs{font-family:"微软雅黑";font-size:18px;color:#999;font-weight:bold;text-align:center;margin:6px 0 6px 0;}
.tjbox_pt{text-align:center;}
.tjbox_hs .on{width:188px;float:left; text-align:center; font-family:"微软雅黑";font-size:18px;color:#ffffff; background:#333;  border-radius:3px; line-height:38px; margin:0px 0 10px 0;}
.tjbox_hs .on:hover{ background:#FF7700; color:#fff;}
/* ͨ����Ŀ���� */
.sHeadern {PADDING-top: 6px;PADDING-left: 30px;margin-bottom: 1px; OVERFLOW: hidden; LINE-HEIGHT: 42px;HEIGHT: 42px; POSITION: relative; color:#585858;font-size:16px; font-weight:bold; font-family:"Microsoft YaHei","微软雅黑",Helvetica,"����",Arial,Tahoma; background: url(../images/icon.png)#fff no-repeat -329px -86px; }
.sHeadern em {FONT-WEIGHT: normal; FONT-SIZE: 12px; LEFT: 280px;  POSITION: absolute;TOP: 7px; TEXT-ALIGN: right; color:#999999}
.sHeadern em b{color: #FF5833;font-size: 18px;font-family: Arial,SimSun;font-weight: bold; padding:0 5px 0 5px;}
.sHeadern .tag{ padding: 2px 2px  2px 2px; margin-right:0px; color: #666; margin-right: 5px; line-height: 15px; display: inline-block; _margin-bottom: 5px;background: #fff;BORDER: #CCCCCC 1px solid; color:#fff; background:#CCCCCC; font-size:12px; margin-left:5px;}
.sHeadern .tag:hover{ background: #fff; color: #666;}
.sHeadern span {FONT-WEIGHT: normal; FONT-SIZE: 12px; RIGHT: 5px; POSITION: absolute;TOP: 7px; TEXT-ALIGN: right}
.sHeadern span a{PADDING-RIGHT: 10px; PADDING-LEFT: 25px; color:#7F7F7F;}
.sHeadern span a:hover {color:#FF5833;}
.sHeadern span A:link,sHeadern span A:visited {COLOR:#7F7F7F}
/*��ҳ��Ʒ����չʾ*/
body .container{width:100%;text-align:left;margin:0 auto;min-width:320px;height:100%;max-width:640px; }
a{color:#666;text-decoration:none}
.box_main{min-width:320px;margin:0px auto;overflow:hidden;min-height:480px;}
@media screen and (max-width:480px){
.content_box .news_list ul time{display:none;}
.content_box .news_list dt time{display:none;}
}
.find_select_content {PADDING-RIGHT: 1%; PADDING-LEFT: 1%; PADDING-BOTTOM: 10px; WIDTH: 90%; LINE-HEIGHT: 25px; PADDING-TOP: 5px; TEXT-ALIGN: left}
.find_title {PADDING-BOTTOM: 0px}
.find_select_textno {PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none}
.find_select_textok {PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #333333; PADDING-TOP: 2px; BACKGROUND-COLOR: #ddeffd; TEXT-ALIGN: center}
.find_select_textarea {PADDING-RIGHT: 2px; PADDING-LEFT: 2px;  FONT-SIZE: 12px; COLOR: #333333;}
.find_line_img {BACKGROUND-IMAGE: url(../../images/head_line.gif); WIDTH: 100%; LINE-HEIGHT: 1px; BACKGROUND-REPEAT: repeat-x}
.find_div {background:#FFFBFF; BORDER: #E7E7E7 1px solid; width:auto; height:30px; line-height:27px;TEXT-ALIGN: center;FONT-SIZE: 12px; COLOR: #333333}
.Bidbox {margin: 0 auto 5px;width: 100%;overflow: hidden; padding-bottom:10px;border-bottom: 1px solid #F3F3F3; margin-top:10px;}
.BidboxWrap {float: left;width: 100%;position: relative;left: 80px;}
.Bidright {position: relative;margin-right: 80px;PADDING: 0px 0px 0 0px; word-wrap:break-word;word-break:break-all;}
.Bidleft {width: 60px;float: left;position: relative;margin-left: -80px; font-size:12px;PADDING-RIGHT: 10px; PADDING-LEFT: 10px;PADDING-BOTTOM:10px; PADDING-TOP: 5px;}
.Bidleft,.Bidright {min-height: 60px;height: auto !important; height: 60px; }
.Bidleft IMG {VERTICAL-ALIGN: middle; width:60px; height:60px;border-radius:30px;  }
.Bidck {PADDING-top: 0px;PADDING-left: 0px;LINE-HEIGHT: 34px;HEIGHT: 34px;  OVERFLOW: hidden; POSITION: relative;font-size:14px; font-weight:bold;color:#4095CE;}
.Bidck A,.Bidck A:link,.Bidck A:visited{ color:#4095CE}
.Bidck span {color:#FFB900; RIGHT: 10px;TOP: 0px; POSITION: absolute;FONT-SIZE: 12px; font-weight:normal}
.Bidck span a{PADDING-RIGHT: 10px; PADDING-LEFT: 10px; color:#999999;}
.Bidck span A:link {COLOR: #999999}
.Bidck span A:visited {COLOR: #999999}
.Bidck .font_bk {font-weight: normal; font-size:12px; color: #999999;}
.Bidck .font_m {font-weight: normal; font-size:12px; color: #999999;margin-left:0px; float:right; }
.bidbj { float:left; width:100%; font-weight:bold; font-size:12px; line-height:32px; height:32px; overflow:hidden;POSITION: relative; margin-top:0px;PADDING-LEFT: 0%; font-size:14px; }
.bidbj a.reply{ float:right; width:100px; height:32px; background:#FF5833; color:#fff; text-align:center; line-height:32px; margin-right:10px;}
.bidbj a.reply:hover{ background:#323232; color:#ffffff;}
.biditm {float:left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; width:100%;}
.biditm LI { float:left; width:50%;PADDING-LEFT: 0%; OVERFLOW: hidden; LINE-HEIGHT: 28px; POSITION: relative; HEIGHT: 28px;FONT-SIZE: 12px; }
.biditm LI .cur {padding: 2px 5px  2px 5px; margin-left:0px; color: #666; margin-right: 5px; line-height: 15px; display: inline-block; _margin-bottom: 5px;background: #f0f0f0;BORDER: #CCCCCC 1px solid;  }
.select_cobn {  border-bottom: none;width: 100%; margin: 0 auto; }
.select_cobn dl dt { float: left; font-size: 12px; line-height: 24px; padding: 0px 0 0 0px; }
.select_cobn dl dt .cur {padding: 2px 5px  2px 5px; margin-left:0px; color: #666; margin-right: 5px; line-height: 15px; display: inline-block; _margin-bottom: 5px;background: #f0f0f0;BORDER: #CCCCCC 1px solid;  }
.select_cobn dl dd { padding: 0px 0 0px 80px; line-height: 24px; border-bottom: 1px solid #F4F4F4; }
.select_cobn dl dd a { padding: 2px 5px  2px 5px;  color: #666; margin-left: 0px; line-height: 15px; display: inline-block; _margin-bottom: 0px;background: #fff;BORDER: #FF5833 1px solid; color:#fff; background:#FF5833; margin-right:5px; margin-bottom:5px;}
.select_cobn dl dd a:hover, .select_cobn dl dd a.now {  background: #fff; color: #666;}
/*��ʽ���*/
.kjsbox {margin: 0 auto 5px;width: 100%;overflow: hidden; padding-bottom:0px;border-bottom: 1px solid #F3F3F3;}
/*ע����ʽ*/
.newinp,.newinp2{  width:50%; height:30px; line-height:30px; vertical-align:middle; padding:0px 0px 0px 5px;  font-size:14px; margin-right:10px; outline:none; background:#f8f8f8}
.newinp {border:1px solid #DCDCDC;}
.newinp2 {border:1px solid #BBB;}
.tyslist {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;}
.tyslist LI {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE:12px;  LINE-HEIGHT: 32px;  PADDING-TOP: 5px; PADDING-bottom: 0px; FLOAT: left; width:99%;margin:2px 0px;}
.tyslist LI  .bld{ float:left;FONT-SIZE: 14px;PADDING-RIGHT: 10px; PADDING-LEFT: 10px;  LINE-HEIGHT: 32px; height:32px;  PADDING-TOP: 4px; PADDING-bottom: 0px;DISPLAY: inline-block; min-width:84px;max-width:84px;text-align:right;}
.tyslist LI .radio{ FONT-SIZE: 12px;margin-right:5px; vertical-align:middle; height:20px; width:20px;}
.tyslist LI .input1{ color:#666; border:1px solid #DCDCDC; height:32px; width:50%;padding:0px 0px 0px 5px;   line-height:28px; background:#f8f8f8;}
.tyslist LI .input2{color:#666; border:1px solid #DCDCDC; height:32px; width:52%;  line-height:28px;  background:#f8f8f8;}
.tyslist LI .input3{FONT-SIZE: 12px;margin-right:5px; vertical-align:middle;BORDER: #000000 0px solid; height:15px; width:15px;}
.tyslist LI .input4{ color:#888; border:1px solid #DCDCDC; height:32px; width:96%; padding:0px 0px 0px 1%;    line-height:28px; background:#f8f8f8;font-size:14px;}
.tyslist LI .input5{color:#888; border:1px solid #DCDCDC; height:32px; width:98%; padding:0px 0px 0px 1%;  line-height:28px;  background:#f8f8f8; font-size:14px;}
.tyslist LI .button{ color:#fff; background:#FA5000;height:42px; width:130px; padding-left:0px; line-height:42px;  MARGIN:0 auto; text-align:center;font-size:14px;font-weight:bold;font-family:"微软雅黑";BORDER: #FA5000 1px solid;}
.tyslist LI .select{border:1px solid #d4d4d4; height:30px; vertical-align:middle;  font-family:Tahoma, Geneva, sans-serif; font-size:14px; margin-top:0px;color:#666; width:90%;outline:none;background:#f8f8f8}
.tyslist LI .textarea1{border:1px solid #d4d4d4; height:60px;line-height:16px; vertical-align:middle;  font-family:Tahoma, Geneva, sans-serif; font-size:14px; margin-top:0px;color:#666; width:60%;outline:none;background:#f8f8f8}
.tyslist LI .textarea2{border:1px solid #d4d4d4; height:30px;line-height:16px; vertical-align:middle;  font-family:Tahoma, Geneva, sans-serif; font-size:14px; margin-top:0px;color:#666; width:60%;outline:none;background:#f8f8f8}
.tyslist LI .selecta{border:1px solid #d4d4d4; height:30px; vertical-align:middle;  font-family:Tahoma, Geneva, sans-serif; font-size:14px; margin-top:0px;color:#666; width:62%;outline:none;background:#f8f8f8}
.tyslist LI em{ color:#ed5d0e; font-weight:bold;font-family:"微软雅黑"; padding-left:10px; padding-right:10px;}
/*�������ύ��ʽ*/
.kbox {margin: 0 auto 5px;width: 100%;overflow: hidden; padding-bottom:0px;}
.wtjlist {PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;}
.wtjlist LI {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE:12px;  LINE-HEIGHT: 28px;  PADDING-TOP: 0px; PADDING-bottom: 0px; FLOAT: left; width:100%; margin-top:7px;}
.wtjlist LI .input1{ color:#888; border:1px solid #DCDCDC; height:28px; width:98%; padding:0px 0px 0px 1%;  line-height:28px; background:#f8f8f8;font-size:14px;}
.wtjlist LI .input2{color:#888; border:1px solid #DCDCDC; height:28px; width:98%; padding:0px 0px 0px 1%;  line-height:28px;  background:#f8f8f8; font-size:14px;}
.wtjlist LI .input3{ color:#666; border:1px solid #DCDCDC; height:28px; width:30.5%;padding:0px 0px 0px 1%; line-height:28px; background:#f8f8f8;}
.wtjlist LI .input4{FONT-SIZE: 14px;vertical-align:middle;BORDER: #000000 0px solid; height:15px; width:15px;}
.wtjlist LI .input5{ color:#666; border:1px solid #DCDCDC; height:28px; width:47%;padding:0px 0px 0px 1%;line-height:28px; background:#f8f8f8;}
.wtjlist LI .input6{ color:#666; border:1px solid #DCDCDC; height:28px; width:63.5%;padding:0px 0px 0px 1%;   line-height:28px; background:#f8f8f8;}
.wtjlist LI .input7{color:#666; border:1px solid #DCDCDC; height:28px; width:32%;  line-height:32px;  background:#f8f8f8;}
.wtjlist LI .input9{color:#666; border:1px solid #DCDCDC; height:32px; width:52%;  line-height:32px;  background:#f8f8f8;}
.wtjlist LI .button{ color:#fff; background:#FA5000;height:42px; width:130px; padding-left:0px; line-height:42px;  MARGIN:0 auto; text-align:center;font-size:14px;font-weight:bold;font-family:"微软雅黑";BORDER: #FA5000 1px solid;}
/*ͼ���Ƽ��������п��б�*/
.twbox {margin: 0 auto 0px;width: 100%;overflow: hidden; padding-bottom:0px;}
.twboxWrap {float: left;width: 100%;position: relative;left: 120px;}
.twright {position: relative;margin-right: 120px;PADDING: 10px 10px 10px 0px; word-wrap:break-word;word-break:break-all; border-bottom: 1px solid #f0f0f0;}
.twleft {width: 100px;float: left;position: relative;margin-left: -120px; font-size:12px;border-bottom: 1px solid #f0f0f0;PADDING: 10px 10px 10px 10px;}
.twleft,.twright {min-height: 75px;height: auto !important;height: 75px; overflow:hidden}
.twleft IMG {VERTICAL-ALIGN: middle; width:100px; height:75px;}
.twright h3{ float:left; width:100%; line-height:21px; height:21px; overflow:hidden;POSITION: relative; margin-top:0px;padding: 0px 0px  0px 0px; font-size:12px; color:#F98300; }
.twlist { float:left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP:0px;}
.twlist LI {PADDING-LEFT: 0%; OVERFLOW: hidden; LINE-HEIGHT: 18px; POSITION: relative; HEIGHT: 18px;FONT-SIZE: 12px; }
.twgo{bottom:10px;right:10px;position:absolute;background:#FA5000;color:#fff;height:21px;line-height:21px;width:90px;padding:5px 0px 5px 0px; text-align:center;}
.twgo:hover{color:#fff;background:#232323;}
/*���¹����*/
.fls LI { float:left; width:47.0%; margin-right:20px; text-align:left; overflow:hidden}
.fls LI.extra { margin-right:0px;}
.wb45 LI { float:left; width:45.0%;}
.wb30 LI { float:left; width:29.5%; margin:0 1% 0 1%;}
.wb25 LI { float:left; width:18.2%;}

/* չ��ѡ�� */
.gc_lb_list{ position:relative; padding-bottom:40px; overflow:hidden; height:410px; width:100%; border-bottom:1px solid #ddd; margin-bottom:12px;}
.show_more{ height:30px; line-height:30px; cursor:pointer; background:url(../images/b_sj2_1.png) no-repeat 124px 13px #fff; font-size:12px; font-family:"����"; text-align:center; color:#666; position:absolute; border:1px solid #ddd; width:150px; left:350px; bottom:-1px;}
.hide_more{ height:30px; line-height:30px; cursor:pointer; background:url(../images/b_sj_1.png) no-repeat 124px 13px #fff; font-size:12px; font-family:"����"; text-align:center; color:#666; position:absolute; border:1px solid #ddd; width:150px; left:350px; bottom:-1px;}
.show_more:hover{background:url(../images/b_sj2.png) no-repeat 124px 13px #eee;}
.hide_more:hover{background:url(../images/b_sj.png) no-repeat 124px 13px #eee;}