.main_bg {
  background: url(/insurance/banner2.png) no-repeat;
  position: relative;
  }
.item1{height: 438px;width: 1200px;text-align: center;padding-top: 150px;}
.item1_bt{height: 130px;width: 1400px;text-align: center;}
.item1_bt img{height: 130px;width: 436px;}
.item1_nr{width: 1200px;height: 210px;margin-left: 100px;margin-top: 90px;}
.item1_nr li{
width: 280px;
height: 210px;
background-color: #ffffff;
box-shadow: 0px 2px 5.9px 0.1px 
  rgba(83, 83, 83, 0.31);
}
.item1_nr li{float: left;margin-right: 25px;}
.item1_nr li:hover{
transform: translateY(-3px);
  transition-delay: 0.1s;
  box-shadow: 0px 20px 20px -17px rgba(0, 0, 0, 0.40);
  opacity: 0.8;
  background-color: #C4E7FF;
}
.item1_nr li:last-child{margin-right: 0;}
.item1_nr li font{
float: left;
margin-top: 59px;
margin-left: 30px;
color: #368335;
font-size: 20px;
}
.item1_nr li span{
float: left;
margin-top: 29px;
margin-right: 25px;
margin-left: 30px;
color: #333;
font-size: 16px;
text-align: left;
}
.item1_nr li:first-child font{margin-left: 60px;}
.item1_nr li:first-child span{margin-left: 60px;}

.item2{width: 1400px;min-height: 875px;text-align: center;margin-top: 85px;}
.item2_bt{height: 130px;width: 1400px;text-align: center;}
.imte2_bt img{height: 130px;width: 436px;}
.item2 table{width: 1200px;margin-left: 100px;margin-top: 75px;border-collapse: collapse}
.item2 table,.item2 th,.item2 td{border: solid 1px #ffb65f;border-spacing: 0px;}
.item2 th{font-size: 20px;color: #ec911c;text-align: center;height: 60px;line-height: 60px;background-color: #fff6E9;font-weight: normal;}
.item2 tr td:nth-child(1){width: 300px;font-size: 20px;color: #ec911c;text-align: center;background-color: #fff6E9;}
.item2 tr td:nth-child(2){width: 900px;color: #333;font-size: 16px;text-align: left;padding:19px 37px 19px 38px;line-height: 26px}


.item3{min-height: 438px;width: 1400px;text-align: center;padding-top:75px;}
.item3_bt{height: 130px;width: 1400px;text-align: center;}
.item3_bt img{height: 130px;width: 436px;}
.item3_nr{width: 1200px;min-height: 210px;margin-left: 100px;margin-top: 75px;}

.item3 table{width: 1165px;}
.item3 table,.item3 th,.item3 td{border: 0;border-spacing: 0px;}
.item3 tr td:nth-child(1){width: 66px;font-size: 16px;color: #333;font-weight:bold;text-align: left;vertical-align: top;line-height: 34px;}
.item3 tr td:nth-child(2){width: 1098px;color: #333;font-size: 16px;text-align: left;line-height: 34px;	letter-spacing: 0.6px;}

.item4{min-height: 398px;width: 1400px;text-align: center;padding-top:75px;}
.item4_bt{height: 130px;width: 1400px;text-align: center;}
.item4_bt img{height: 130px;width: 436px;}
.item4_nr{width: 1200px;min-height: 170px;margin-left: 100px;margin-top: 75px;}

.item4 table{width: 1165px;}
.item4 table,.item4 th,.item4 td{border: 0;border-spacing: 0px;}
.item4 tr td:nth-child(1){width: 66px;font-size: 16px;color: #333;font-weight:bold;text-align: left;line-height: 34px;}
.item4 tr td:nth-child(2){width: 1098px;color: #333;font-size: 16px;text-align: left;line-height: 34px;	letter-spacing: 0.6px;}
.baoxian{position: absolute;width: 1200px;height: 480px;
background: url(/insurance/banner3.png) no-repeat #fff ;
left: 251.5px;
top:53px;
}
.baoxian ul{margin-left: 86px;margin-top: 55px;width: 700px;height: 425px;}
.bx_01{	
width: 100px;
height: 30px;
background-color: #fb7c00;
border-radius: 15px;
color: #fff;
font-size: 16px;
text-align: center;
line-height: 30px;
}
.bx_02{height: 34px;width: 100%;margin-top: 30px;}
.bx_02 i{font-size: 34px;color: #333;float: left;margin-right: 22px;}
.bx_02 font{font-size: 18px;color: #666;float: left;margin-top:10px;margin-left: 30px;background: url(/insurance/toubao.png) no-repeat 0 -1px;padding-left: 30px;}
.bx_02 span{font-size: 18px;color: #666;float: left;margin-top:10px;margin-left: 30px;background: url(/insurance/eye.png) no-repeat 0 -2px;padding-left: 30px;}
.bx_02 em{color: #f13636;padding-left: 16px;}
.bx_03 {margin-top: 35px;margin-bottom: 44px;font-size: 20px;color: #333;	letter-spacing: 0.8px;}
.bx_03 font{color: #f77d07;font-size: 34px;	letter-spacing: 1.4px;}
.bx_04{height: 44px;width: 100%;margin-bottom: 30px;}
.bx_04 span{float: left;color: #666;font-size: 20px;margin-top: 13px;margin-right: 25px;margin-left: 9px;}
.bx_item{	
width: 156px;
height: 40px;
border-radius: 4px;
border: solid 2px #b4b4b4;margin-right: 24px;cursor: pointer;text-align: center;font-size: 20px;color: #666;}
.bx_checked{border-color: #755c3d;color: #f77d07;}
.bx_05{height: 52px;width: 100%;}
.bx_05 span{color: #f87e07;font-size: 20px;margin-left: 88px;float: left;letter-spacing: 0.8px;}
#bx_sm2{display: none;}
.bx_06 input{margin-top: 32px;
border: 0px;
width: 216px;
height: 52px;
background-color: #fb7c00;
border-radius: 4px;
text-align: center;
color: #fff;
font-size: 26px;
line-height: 52px;
cursor:pointer;}
