* {
    word-wrap: break-word;margin: 0;padding: 0;
}
label{letter-spacing: 0;}
a {
    text-decoration: none;
    cursor: pointer;
}
ul, ol, dl {
    list-style-type: none;
}

.pj_price_box {
	  width: 1080px;
            position:absolute;left: 0%; top: 25%;
            margin-left: -350px;
            padding-top:40px ;
            padding-bottom: 50px;
            border-radius: 6px;
            display: none;
            background-color: #fff;
            box-shadow:0px 0px 20px rgba(0,0,0,0.3);

}
.pj_price_box1{float: left;width:100%; height: 16px;}
.pj_price_box1 .bt_close{ cursor: pointer;  float: right; padding:20px;margin-top: -40px;}
.pj_price_box2{float: left;width:1020px; height: 24px;line-height: 24px;font-size: 16px;font-weight: bold; text-align: center;border-bottom:1px #ffdbdd solid;padding-bottom:15px;margin-bottom: 20px;margin-left: 30px;margin-right: 50px;}
.item-form {width: 1020px;clear: both;
font-size: 0;}
.plr20 {
    padding-left: 30px;
    padding-right: 30px;
}
.item-form .calculator{cursor: pointer;}
.item-form .cal-primary{color: #888;}
.item-form .form-tit {
    font-size: 16px;
    color: #010101;
    line-height: 50px;
    font-weight: normal;
}
.item-form .item-cell {
    display: inline-block;
    min-width: 240px;
    vertical-align: middle;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.item-form .c-red {
    color: #ce0c02;
}
.item-form .txt {
    font-size: 14px;
    color: #a6a6a6;
    margin-right: 4px;
    line-height: 28px;
    vertical-align: top;
}

.pl20 {
    padding-left: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.item-form .item-cell > label {
    float: left;
    width: 82px;
    white-space: nowrap;
    text-align: right;
    padding-right: 5px;
    line-height: 28px;
}
.r-point {
    display: inline-block;
    vertical-align: middle;
    line-height: 26px;
    margin-right: 3px;
    color: #fa554c;
}
.item-form .item-primary {
    float: left;
    padding: 3px 10px;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.w190 {
    width: 190px;
}
.item-form .item-primary .item-input, .item-form .item-primary .item-select {
    height: 20px;
}
.item-form .item-primary .item-input, .item-form .item-primary .item-select, .item-form .item-primary .item-textarea {
    display: block;
    width: 100%;
    font-size: 14px;
    border: 0 none;
    color: #555;
}
.item-form .item-primary .item-input, .item-form .item-primary .item-select {
    height: 20px;
}
.item-form .item-primary .item-input, .item-form .item-primary .item-select, .item-form .item-primary .item-textarea {
    display: block;
    width: 100%;
    font-size: 14px;
    border: 0 none;
    color: #555;
}
.item-form .unit {
    line-height: 26px;
    padding-left: 10px;
}
.i-down {
    width: 14px;
    height: 8px;
    background-position: -85px -97px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
}
.item-form .txt {
    font-size: 14px;
    color: #a6a6a6;
    margin-right: 4px;
    line-height: 28px;
    vertical-align: top;
}

.pl20 {
    padding-left: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.cl, .clearfix {
    zoom: 1;
}
.cal-panel {
    font-size: 16px;
    background: #f3f3f3;
    margin-bottom: 15px;
    overflow: hidden;
}
.cal-panel .cal-head {
    float: left;
    padding: 20px;
    overflow: hidden;
}
.cal-panel .cal-hs {
    padding: 20px;
}

.fr {
    float: right;
}
.cal-panel .cal-head li {
    float: left;
    width: 200px;
}
.cal-panel .cal-head li label {
    float: left;
    width: 50px;
    color: #333;
}
.cal-panel .cal-primary .num {
    display: inline-block;
    min-width: 40px;
    text-align: center;
    color: #ce0c02;
}
.cal-panel .cal-primary .num {
    display: inline-block;
    min-width: 40px;
    text-align: center;
    color: #ce0c02;
}
.cal-panel .cal-hs {
    padding: 20px;
}
.cal-panel .cal-hs a {
    color: #1e4ebd;
    margin-left: 20px;
}

.cal-panel .cal-hs a {
    color: #1e4ebd;
    margin-left: 20px;
}
.cal-panel .cal-body {
    clear: both;
    padding: 20px;
    border-top: 1px solid #d2d2d2;
    background: url(../images/bg_cal.jpg) 96% 60px no-repeat;
}
.cal-panel .cal-body .cal-cell {
    overflow: hidden;
    margin-bottom: 20px;
}
.cal-panel .cal-body .cal-cell label {
    float: left;
    width: 70px;
    line-height: 34px;
    text-align: right;
    margin-right: 10px;
}
.cal-panel .cal-body .cal-cell input {
    width: 150px;
    padding: 8px 10px;
    border: 1px solid #d9d9d9;
}
.cal-panel .cal-body .cal-cell span {
    display: inline-block;
    line-height: 34px;
    margin: 0 10px;
    vertical-align: top;
}
.btn-orange {
    width: 110px;
    background-color: #f59701;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.btn {
    display: inline-block;
    color: #fff;
    padding: 10px;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.item-form .form-tit {
    font-size: 16px;
    color: #010101;
    line-height: 50px;
    font-weight: normal;
    clear: both;
}

.item-form .item-block {
    display: block;
    line-height: 20px;
}
.r-point {
    display: inline-block;
    vertical-align: middle;
    line-height: 26px;
    margin-right: 3px;
    color: #fa554c;
}
.item-form .loose-txt {
    color: #555;
}
.item-form .price-big {
    font-size: 30px;
    color: #ce0c02;
}

.mr10 {
    margin-right: 10px;
}
* {
    word-wrap: break-word;
}
.item-form .loose-txt {
    color: #555;
}
.item-form .c-red {
    color: #ce0c02;
}
.cal-panel .cal-body .cal-cell .cal-bulk {
    min-width: 40px;
    color: #ce0c02;
    text-align: center;
    margin: 0;
}

.cal-panel .cal-body .cal-cell span {
    display: inline-block;
    line-height: 34px;
    margin: 0 10px;
    vertical-align: top;
}