//公共颜色的变量
$tit_color: #333; //标题颜色
$border_color: #ddd; //边框的颜色
$line_color: #eee; //分割线的颜色
$gray: #666;
$light_gray: #999;
$light_Violet: #c8b6e0; //淡紫色
$blue: #3399ff; //蓝色
$orange: #f9552a;
$light_orange: #f7722a;
$white: #fff;
$green: #3cb46d;
$red: #ff0000;
$light_red: #f65050; //浅红色
$light_violet: #9966cc; //紫色
/*公共的变量*/
$w_1440: 1440px;
$f_16: 16px;
$f_14: 14px;
$f_12: 12px;
/*公共清楚浮动方法*/
.fl {
    float: left;
  }
  .fr {
    float: right;
  }
  .clearfix:after {
    content: '.';
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block;
  }
  .clearfix {
    zoom: 1;
  }

  /**********公共标题****************/
.p_title {
    padding: 25px 0;
    font-size: 25px;
    color: $tit_color;
  }
  .p_title_box {
    overflow: hidden;
    padding: 25px 0;
    line-height: 25px;
    .title {
      @extend .p_title;
      @extend .fl;
      padding: 0;
    }
    .text {
      @extend .fl;
      padding-left: 35px;
      color: $light_gray;
    }
  }