//公共颜色的变量
$black:#000;
$tit_color: #333; //标题颜色
$border_color: #dadada; //边框的颜色
$line_color: #eee; //分割线的颜色
$gray: #666;
$light_gray: #999;
$light_Violet: #c8b6e0; //淡紫色
$blue: #1d83fe; //蓝色
$btn_blue_color:#3f94ee;
$tit_blue_color:#2577e3; //蓝的标题颜色
$light_blue:#d1e8f0; //浅蓝色
$bj_pale_blue:#eef8ff;   //货源推荐背景色
$tit_color:#333; //标题颜色
$yellow:#eeb653;
$orange: #ff5b1a;
$light_orange: #ff871e;
$white: #fff;
$light_green:#46cf74;
$green: #13b31e;
$grass_green:#13b31e;  //草绿色,推荐货源图标
$deep_green:#3cb46d;
$red: #ff0000;
$txt_red_color:#ee1f1f;
$light_red: #f65050; //浅红色
$light_violet: #9966cc; //紫色
/*小图标颜色*/
$icon_blue:#4494f6;
$icon_red: #e46167;
$icon_red_bj:#ff4141; //降价升价背景颜色
/*公共的背景色*/
$bj_gray:#f5f5f7;
/*公共的变量*/
$w_1440: 1440px;
$w_1400: 1400px;
$f_20:20px;
$f_18:18px;
$f_16: 16px;
$f_14: 14px;
$f_13: 13px;
$f_12: 12px;

/*公共函数*/
/*重货，轻货函数*/
@mixin type_box($f) {
  clear: both;
  font-size: $f;
  color: $tit_color;

  .item {
    padding-left: 5px;
    color: $tit_color;

    b {
      font-weight: normal;
      color: $orange;
    }
  }

  .line-through {
    text-decoration: line-through;
  }

  .color_gray {
    color: $gray;
  }

}

/*发布按钮函数*/
@mixin btn_link($up, $w, $font) {
  display: inline-block;
  padding: $up 0;
  width: 150px;
  font-size: $font;
  text-align: center;
  background: $green;
  color: $white;
  border-radius: 3px;
}

/*icon热门专线文字*/
@mixin hot_icon($color) {
  color: $color;
  border-color: $color;
  margin-right: 10px;
}

/*icon皇冠*/
@mixin icon_huangGuan() {
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background: url('../../static/images/huizong/icon_huangguan.gif') no-repeat;
}

/*公共清楚浮动方法*/
.m_t10 {
  margin-top: 10px;
}

.p_10 {
  padding: 10px;
}
.p_l5{ padding-right: 5px;}
.p_r20{ padding-right: 20px;}
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: '.';
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  display: block;
}

.clearfix {
  zoom: 1;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.scale_img {
  // width: auto;
  // height: auto;
  // max-width: 100%;
  // max-height: 100%;
  width: 100%;
  height: 100%;
}

/*公共宽度居中*/
.grid_c1 {
  margin: 0 auto;
  width: $w_1400;
  font-size: $f_14;
}
/***********公共的icon图标*************/
.icon_square_no {
  position: absolute;
  top: -14px;
  left: 15px;
  width: 70px;
  height: 28px;
}
.icon_square_no1 {
  background: url('../../static/images/huizong/icon_no1.png') no-repeat;
}
.icon_square_no2 {
  background: url('../../static/images/huizong/icon_no2.png') no-repeat;
}
.icon_square_no3 {
  background: url('../../static/images/huizong/icon_no3.png') no-repeat;
} 
/*背景颜色*/
.bj_1 {
  box-sizing: border-box;
}

.bj_2 {
  overflow: hidden;
  background: $white;
  // height: 440px;
}

.error {
  color: $red;
}

/*颜色*/
.color_red {
  color: $red;
}

.color_orange {
  color: $orange;
}

.color_grass_green{
  color: $grass_green;
}

.color_blue {
  color:$tit_blue_color;
}

.color_light_orange {
  color: $light_orange
}

/*按钮*/
.btn_small {
  padding: 5px 10px;
  color: $green;
  border: 1px solid $green;
  border-radius: 5px;
}

/*发布按钮*/
.btn_release {
  @include btn_link(8px, 150px, 18px);
}

/**********公共标题****************/
//汇总标题 
.p_hz_title {
  overflow: hidden;
  margin-top: -60px;
  width: 230px;
  height: 106px;
  text-align: center;
  background: url('../../static/images/huizong/nav_bj.png') no-repeat;

  >h2 {
    margin-top: 25px;
    font-size: 36px;
    font-weight: normal;
    color: #ffdb96;
  }
}


.p_title_box {
  overflow: hidden;
  margin-bottom: 60px;
  height: 30px;
  line-height: 30px;

  >.title {
    @extend .fl;
    font-size: 30px;
    color: $tit_blue_color;
    font-weight: normal;
  }

  .title_txt {
    @extend .fl;
    margin: 10px;
    padding-left: 30px;
    line-height: 20px;
    font-size: $f_16;
    color: $light_gray;
  }

  // .title_link {
  //   .iconfont {
  //     padding-left: 5px;
  //     color: $green;
  //   }
  // }
}
.p_centre_title {
  margin: 90px auto 60px auto;
  width: 360px;
  .title_txt,
  .title_line_box {
    color: $tit_blue_color;
    height: 30px;
  }
  .title_txt {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
  }

  .title_line_box {
    width: 80px;
    &:first-child{margin-right: 38px;}
    &:last-child{margin-left: 38px;}
    >span {
      margin-top: 14px;
      display: block;
      height: 0;
      border-top: 2px solid $tit_blue_color;
    }
  }
}

.p_subtitle {
  margin: 20px;
  line-height: 25px;
  font-size: $f_18;
  color: $tit_color;

  .iconfont {
    padding-right: 5px;
    font-size: $f_20;
  }
}

/*前往城市*/
.p_go_city {
  margin-top: 10px;
  height: 48px;
  line-height: 48px;
  white-space: nowrap;
  >div,
  span {
    display: inline-block;
  }
.area{
  >span{
    display: block;
    &.area_city{
      max-width: 85px;
      font-size: $f_16;
      @extend .ellipsis;
    }
    &.area_qx{
      font-size: $f_13;
      text-align: center;
      color: $gray;
    }
  }
}
  .city {
    max-width: 85px;
    font-size: $f_16;
    @extend .ellipsis;
    color: $tit_color;
    vertical-align: middle;
    color: #222;
  }

  .city-joint {
    color: $light_gray;
    font-size: 12px;
  }

  .joint-line {
    display: inline-block;
    background-color: $light_gray;
    width: 10px;
    height: 1px;
    vertical-align: middle;
  }

  .joint-label {
    padding: 0 4px;
  }
}
.p_go_area{
  height: auto;
  line-height:20px;
  .city{
    line-height: 48px;
  }
}
/*********分类导航***************/
.p_type_nav {
  // padding: 35px 0;
  padding-bottom: 30px;

  >a {
    font-size:$f_13;
    color: $tit_color;
    padding-right: 35px;
  }
}

.p_category_menu {
  padding: 10px 0;

  .category_menu_title {
    margin-top: 15px;
    padding-left: 20px;
    color: $tit_color;
    font-size: $f_16;
  }

  .category_menu_list {
    padding-left: 20px;
    display: table;

    .item {
      display: inline-block;
      margin: 18px 0 0 0;
      width: 50px;

      a {
        cursor: pointer;
      }
    }
  }
}

/*************登录*****************/
/*用户登录*/
.p_user_login {
  height: 170px;
  overflow: hidden;
  background: url('../../static/images/huizong/user_bj.jpg') no-repeat;

  .user_pic {
    overflow: hidden;
    margin: 15px auto 0 auto;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    text-align: center;
  }

  .user_show {
    .user_txt {
      padding: 15px 0;
      color: $tit_color;
      text-align: center;
    }

    .user_profit {
      font-size: 0;
      text-align: center;

      >a {
        display: inline-block;
        margin: 0 5px;
        width: 116px;
        height: 28px;
        line-height: 28px;
        font-size: $f_14;
        text-align: center;
        color: $blue;
        border: 1px solid $blue;
        border-radius: 20px;
        cursor: pointer;

        &.login {
          color: $white;
          background: $btn_blue_color;
        }
      }
    }
  }
}

/****************货主列表**********/
.p_owner_list {
  overflow: hidden;
  font-size: $f_14;
  li {
    &:nth-child(5n) {
      margin-right: 0px;
    }
    @extend .fl;
    overflow: hidden;
    margin-right: 20px;
    width: 262px;
    height: 384px;
    background: $white;
    border:1px solid $border_color;
  }
  .owner_pic {
    overflow: hidden;
    width: 262px;
    height: 262px;
    text-align: center;

    >img {
      @extend .scale_img
    }
  }

  .owner_info {
    box-sizing: border-box;
    margin: 30px 10px 15px 10px;
    >p {
      display: block;
      overflow: hidden;
    }
    .owner_name {
      margin-bottom: 8px;
      width: 242px;
      font-size: $f_16;
      color: $tit_color;
      @extend .ellipsis;
    }
    .owner_total {
      margin-bottom: 8px;
      color: $tit_color;
      .owner_total_num {
        padding-left: 5px;
        color: $txt_red_color;
      }
    }
    .owner_num {
      color: $gray;
      .owner_num_liveness{
        .iconfont{ padding-right: 5px;color: $orange;}
        color: $txt_red_color;
      }
    }
  }
}

/********物流规格列表*************/
.p_hy_list {
  >li {
    overflow: hidden;
    @extend .fl;
    margin: 0 15px 15px 0;
    padding: 10px 10px 0 10px;
    width: 238px;
    height: 138px;
    font-size: $f_13;
    background: $bj_pale_blue;
    border: 1px solid #daeefc;
    .hd_box {
      overflow: hidden;   
      line-height: 20px;
      >span {
        .iconfont{
          padding-left: 10px;
          font-size: 20px;
          color: $grass_green;
        }
      }

      // .label_provider {
      //   color: $light_gray;
      // }

      // .provider {
      //   overflow: hidden;
      //   margin: 0 10px;
      // }

      // .sure {
      //   // padding: 0 5px;
      //   // color: $white;
      //   // background: $light_red;
      //   // border-radius: 3px;
      // }
    }

    .md_box {
      @extend .p_go_city;
    }
    .md_area{
       @extend .p_go_area;
       overflow: hidden;
       .city,.city-joint,.area{float: left;}
       .city,.city-joint{height: 48px; line-height: 48px;}
       .city-joint{ margin: 0 3px;}
     }
    .type_box {
      overflow: hidden;
      margin-bottom: 5px;
      height: 20px;
      @include type_box($f_13);
      .type_box_item{
         padding-right: 10px;
     
        }
        .type_box_num{color: $txt_red_color;}
      // .time {
      //   @extend .fr;
      //   padding: 0 3px;
      //   color: $green;
      //   background: #f2f2f2;
      //   border: 1px solid $green;
      // }
    }

    .list_goods {
      overflow: hidden;
      height: 20px;
      font-size: 0;
      >span{

        font-size: $f_13;
        display: inline-block;
        &.list_goods_name{
          width: 150px;
          @extend .ellipsis;
        }
      }
      .list_goods_time{color: $light_gray;}
    }
  }
}

/************最新货源************/
.p_hy_info {
  margin: 0 auto 90px auto;
  width: 1398px;
  height: 128px;
  font-size: $f_14;
  color: $tit_color;
  background: $white;
  border: 1px solid $border_color;

  .hy_info_col1 {
    height: 128px;
  }

  .hy_info_tit {
    width: 230px;
    height: 128px;
    background: #ff6f6f;
    >h3 {
      line-height: 128px;
      font-size: 24px;
      font-weight: normal;
      color:$white;
      text-align: center;
    }
  }

  .hy_info_user_box {
    overflow: hidden;
    margin:20px 0 0 50px;
    width: 660px;
    height:95px;

    .hy_info_user_list {
      overflow: hidden;
      height: 95px;
      >li{
        height: 95px;
        font-size: $f_16;
      }
      // background-color: #bbb;
    }
// 用户
    .hy_info_user_info {
      margin-bottom: 15px;
      .hy_info_user_info_user {
        margin-right: 40px;
      }

      .hy_info_user_info_time {
        color: $light_gray;
      }
    }
    // 货物
    .hy_info_user_text {
      overflow: hidden;
      margin-bottom:15px;
      .p_l5{padding-right: 5px;}
      .info_user_item{
        padding-right: 10px;
      }  
    }
    .hy_info_user_link{
      a {
        color: $blue;
      }
    }
  }

  .hy_info_col2 {
    margin-top: 10px;
    height: 100px;
  }

  .hy_info_num {
    height: 100px;
    font-weight: bold;
  
  }

  .hy_info_list {
    overflow: hidden;
    height: 60px;

    >li {
      @extend .fl;
      margin-right: 60px;
      width: 90px;
      line-height: 30px;
      >span {
        display: block;
        line-height: 30px;
        text-align: center;

        .iconfont {
          font-size: 18px;
          color: $orange;
          padding-right: 5px;
        }

        &.hy_info_list_num {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }

  .hy_info_text_list {
    overflow: hidden;
    height: 40px;
    line-height: 40px;

    >li {
      &:first-child{
      margin-right: 15px;
      }
      @extend .fl;
      margin-right:40px;

      .iconfont {
        color: $light_orange;
      }

      .hy_info_text_num {
        padding-left: 5px;
        color: $light_orange;
      }
    }
  }
}

/***********货源推荐************/
.p_hy_groom {
  margin: 0 auto 90px auto;
  width: $w_1400;
  font-size: $f_14;

  .hd {
    line-height: 40px;
  }

  .gr_title {
    @extend .fl;
    color: $tit_blue_color;
    font-size: 30px;
    font-weight: normal;
  }

  .gr_txt {
    @extend .fl;
    margin-left: 25px;
    font-size: $f_16;
    color: $gray;

    >span {
      color: $txt_red_color;
    }
  }

  .gr_sch {
    @extend .fl;
    margin-left: 115px;
    width: 510px;
    height: 38px;
    line-height: 38px;
    background: $white;
    border: 1px solid $btn_blue_color;

    .gr_sch_city,
    .gr_sch_icon,
    .gr_sch_btn {
      @extend .fl;
    }

    .gr_sch_city {
      position: relative;
      padding-left: 10px;
      width: 190px;

      >input {
        border: 0;
      }
    }

    .gr_sch_icon {
      width: 45px;

      .iconfont {
        font-size: 20px;
      }
    }

    .gr_sch_btn {
      width: 65px;
      color: $white;

      >a {
        display: block;
        width: 65px;
        color: $white;
        text-align: center;
        background: $btn_blue_color;
        cursor: pointer;
      }
    }
  }

  .gr_link {
    @extend .fr;
    font-size: $f_16;
    line-height: 40px;

    .iconfont {
      padding-left: 5px;
      color: $gray;
    }
  }
}

/*********发布求车信息**********/
.p_release {
  margin: 0 auto;
  padding: 40px 0;
  width: $w_1440;
  font-size: $f_14;

  .release_box {
    overflow: hidden;
    margin: 0 auto;
    width: 420px;

    .release_box_txt {

      //text_box
      // width: 230px;
      .release_box_txt_tit {
        //tit
        margin-bottom: 5px;
        font-size: 25px;
        color: $green;
      }
    }
  }
// 暂时不知道要不要
  // .release_total {
  //   margin: 30px auto 0 auto;
  //   display: table;
  //   width: 430px;
  //   font-size: 16px;
  //   line-height: 20px;
  //   color: $tit_color;

  //   >span {
  //     display: inline-block;
  //     font-size: 18px;
  //     font-weight: bold;
  //     margin-left: 10px;

  //     &.release_total_num {
  //       padding: 2px 8px;
  //       color: $white;
  //       background: $red;
  //       font-weight: normal;
  //       font-size: 20px;
  //     }
  //   }
  // }
}

.p_order_release {
  .release_total {
    margin-top: 0;
  }

  .btn_box {
    margin: 20px 0;
    text-align: center;

    >a {
      margin: 0 auto;
      // @include btn_link(8px, 150px, 18px);
    }
  }

  .release_total_explain {
    text-align: center;
  }
}

/*入住*/
.p_live {
  margin: 0 auto;
  padding: 40px 0;
  width: 550px;
  font-size: $f_14;

  .live_txt {
    @extend .fl;
    width: 365px;

    >span {
      display: block;
      text-align: center;

      &.live_txt_tit {
        margin-bottom: 10px;
        font-size: 25px;
        color: $green;
        font-weight: bold;
      }
    }
  }

  .live_btn {
    @extend .fr;
    @include btn_link(8px, 150px, 18px);
  }
}

/*********本月优质企业货主******/
.p_company_owner {
  margin: 0 auto 40px auto;
  width: $w_1440;
  font-size: $f_14;
}

.p_co_owner_list {
  >li {
    @extend .fl;
    position: relative;
    margin-right: 30px;
    width: 262px;
    height: 382px;
    background: $white;
    border: 1px solid $border_color;
    .rank_num {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 75px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 10px;
      color: $white;
    }

  
    .rank_pic {
      overflow: hidden;
      width: 264px;
      height: 264px;
      margin-bottom: 10px;
      text-align: center;

      >img {
        @extend .scale_img
      }
    }
    .rank_txt{
      padding: 10px 10px 0 10px;
      .rank_txt_tit {
        overflow: hidden;
        margin-bottom: 10px;
        line-height: 20px;
         
        .txt_tit_name {
          @extend .fl;
          max-width: 200px;
          font-size:$f_16; 
          @extend .ellipsis;
        }
  
        .txt_tit_icon_tuijian {
          @extend .fl;
          margin:1px 0 0 15px;
          width: 18px;
          height: 18px;
          line-height: 18px;
          text-align: center;
          font:$f_14;
          color: $white;
          background: $icon_red_bj;
          border-radius: 2px;
        }
      }
    }
    .rank_txt_groom {
      overflow: hidden;
      margin-bottom: 10px;
      color: $tit_color;
      line-height: 20px;
      >span {
        @extend .fl;
        &.name {
          padding-right: 20px;
          color: $tit_color;
        }
        &.star {
          width: 96px;
          height: 20px;
          background: url('../../static/images/huizong/icon_star.png') no-repeat center;
        }
      }
    }

    .rank_txt_praise {
      color: $light_gray;
    }

    &:nth-child(5n) {
      margin-right: 0px;
    }

  }
}

/*******我们的优势************/
.p_our_virtue {
  margin: 0 auto 40px auto;
  width: $w_1400;

  .p_centre_title{
    width: 390px;
  }

  .our_virtue_list {
    >li {
      overflow: hidden;
      @extend .fl;
      margin-right: 20px;
      width: 333px;
      height: 382px;
      font-size: 16px;
      background: $white;
      border: 1px solid $border_color;
      &:last-child {
        margin-right: 0;
      }

      .our_virtue_pic {
        overflow: hidden;
        width: 333px;
        height: 264px;
      }

      .our_virtue_tit {
        padding: 15px 0;
        font-size: 24px;
        font-weight: normal;
        text-align: center;
      }

      .our_virtue_txt {
        padding: 0 15px;
        font-size: $f_14;
        line-height: 20px;
        color: $tit_color;
      }
    }
  }
}

/********问答****************/
.p_answers {
  margin: 0 auto;
  width: $w_1440;
  font-size: $f_14;

  .p_title_box {
    position: relative;
    .title {
      float: none;
      text-align: center;
    }

    .answers_link {
      position: absolute;
      top: 25px;
      right: 0;
      line-height: 25px;
      @extend .fr;

      .iconfont {
        padding-left: 5px;
        font-size: $f_14;
        color: $green;
      }
    }
  }

  .answers_list {
    margin: 0 auto;
    width: 1180px;

    >li {
      @extend .fl;
      margin: 0 60px 60px 60px;
      width: 470px;

      >p {
        line-height: 25px;
        color: $tit_color;

        &.answers_list_tit {
          margin-bottom: 15px;
          line-height: 25px;
          font-size: 18px;
          color: $green;

          .iconfont {
            padding-right: 10px;
            font-size: 25px;
          }
        }
      }
    }
  }
}

/*******帮我推荐提交******/
.p_groom_submit {
  >input {
    outline: none;
    text-indent: 10px;
    width: 170px;
    height: 40px;
    line-height: 40px;
    font-size: $f_14;
    border: 1px solid $border_color;
  }

  >button {
    outline: none;
    width: 78px;
    height: 42px;
    line-height: 42px;
    border: none;
    color: $white;
    background: $green;
    cursor: pointer;
  }
}

/******帮我推荐***********/
.p_me_groom {

  // margin-bottom: 10px;
  .gr_text {
    height: 160px;

    .gr_text_title {
      font-size: $f_16;
      color: $tit_color;
    }

    .gr_text_txt {
      margin: 10px 0;
      line-height: 20px;
      font-size: $f_12;
    }

    .error {
      margin-top: 5px;
      font-size: $f_12;
    }
  }

  .gr_operate {
    overflow: hidden;
    margin-bottom: 15px;

    >a {
      @extend .fl;
      width: 118px;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      text-align: center;
      color: $green;
      border: 1px solid $green;

      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .gr_oder_num {
    color: $tit_color;

    >b {
      font-size: 16px;
      color: $orange;
    }
  }
}

/***更多热门专线列表*****/
.p_hot_line {
  >li {
    @extend .fl;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 272px;
    min-height: 368px;
    background: $white;

    &:nth-child(5n) {
      margin-right: 0px;
    }

    &:hover {
      .hot_line_box {
        position: absolute;
        z-index: 99;
        box-shadow: 0px 0px 10px #888888;
      }

      .h_operate {
        display: block !important;
      }
    }

    .hot_line_box {
      background: $white;
      transition: 0.2s;
    }

    .wl_box {
      margin: 15px 10px 0 10px;
    }

    .h_operate {
      // overflow: hidden;
      text-align: center;
      display: none;
      margin: 15px 0;
      width: 100%;
      background-color: $white;

      >a {
        // @extend .fl;
        margin: 0 10px;
        display: inline-block;
        width: 90px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid $deep_green;
        color: $green;
        border-radius: 3px;

        .iconfont {
          padding-right: 5px;
          color: $light_green;
        }

        &.link_collect {
          color: $light_red;
          border-color: $light_red;

          .iconfont {
            color: $yellow;
          }
        }
      }
    }

    .h_pic {
      overflow: hidden;
      margin-bottom: 10px;
      width: 272px;
      height: 195px;
      text-align: center;

      img {
        @extend .scale_img
      }
    }

    .h_place {
      overflow: hidden;
      margin-bottom: 10px;

      >span {
        @extend .fl;
        line-height: 20px;

        &.icon {
          margin-top: 2px;
          padding: 1px;
          line-height: 13px;
          text-align: center;
          font-size: $f_12;
          border: 1px solid #000;
          border-radius: 2px;
        }

        &.icon_start {
          @include hot_icon($green);
        }

        &.icon_end {
          @include hot_icon($yellow);
          margin-left: 10px;
        }

        &.place {
          font-size: $f_16;
          color: $tit_color;
        }
      }
    }

    .h_company {
      overflow: hidden;
      margin-bottom: 2px;
      line-height: 22px;
      color: $blue;

      .icon_box {
        margin: 3px 0 0 10px;

        .icon {
          @extend .fl;
          @include icon_huangGuan;
        }
      }

      .icon_qq {
        width: 22px;
        height: 20px;
        background: url('../../static/images/huizong/icon_qq.gif') no-repeat;
      }
    }

    .h_praise {
      overflow: hidden;
      margin-top: 5px;
      color: $light_gray;

      .fl {
        margin-right: 10px;

        >span {
          padding-right: 5px;
        }
      }
    }

    .type_box {
      overflow: hidden;
      @extend .ellipsis;
      // @include type_box($f_13);

      .item {
        b {
          font-size: $f_16;
        }
      }

      .color_gray {
        // font-size: $f_13;
        color: $tit_color;
      }

      .icon_list {
        .item_icon {
          @extend .fl;
          margin-left: 5px;
          padding: 2px;
          line-height: 14px;
          color: $white;
          background: $icon_blue;
        }

        .icon_red {
          background: $icon_red;
        }

        .icon_green {
          background: $green;
        }
      }
    }

    .h_type {
      position: relative;

      .icon_sale {
        position: absolute;
        right: 0;
        bottom: 5px;
        width: 50px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        color: $white;
        background: $icon_red;
        border-radius: 3px;
      }
    }

    .h_market {
      overflow: hidden;
      margin-top: 5px;

      .h_market_price {
        color: $tit_color;
      }

      .h_market_num {
        color: $deep_green;
      }

      .h_market_order {
        color: $light_gray;
      }
    }
  }
}
