/** reset **/
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}body,div,ul,ol,dl,dd,dt,li,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;}ol,ul,li,dl{list-style:none outside none;}h1,h2,h3,h4,h5,h6{font-size:100%;}select,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}img{border:none;}a{text-decoration:none;color: #000;}a:hover{text-decoration:underline;color: #f00;}table { border-collapse: collapse; border-spacing: 0; }

html{overflow-y: scroll;overflow:-moz-scrollbars-vertical;}
body{font:normal 12px/180% "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",Tahoma,Arial, Helvetica, sans-serif;color:#666;-webkit-text-size-adjust:none;}
i,em{
  font-style: normal;
}
a{
  color: #49a2ff;
}
a:hover, a:active, a:focus {
  color: #FA5000;
  text-decoration: none;
}

.clfix:after,.box:after,.con:after,.clfix:before{content:".";visibility:hidden;clear:both;display:block;height:0;}.clfix,.box,.con{*zoom:1;}.fb{font-weight: bold;}.f_yh{font-family:"\5FAE\8F6F\96C5\9ED1";}.hide{ display:none;}a{outline: 0;}
.hd{text-indent: -9999em;overflow: hidden;}.tr{text-align:right;}a.r{color:#f00;text-decoration:underline;}.tc{text-align: center;}
a.hot,.hot{color:#f00;}.tc{text-align: center;}.red{color: #C8323D;}
