@import 'base';

body{
  min-width: 1200px;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}
body, div, ul, ol, dl, dd, dt, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
ol, ul, li, dl {
  list-style: none outside none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}
select, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: #000;
  color: #49a2ff;
  outline: 0;
  &:hover {
    text-decoration: underline;
    color: #f00;
  }
  &.r {
    color: #f00;
    text-decoration: underline;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font: normal 12px/180% "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",Tahoma,Arial, Helvetica, sans-serif;
  color: #666;
  -webkit-text-size-adjust: none;
  min-width: 1200px;
}
i, em {
  font-style: normal;
}
a:hover, a:active, a:focus {
  color: #fa5000;
  text-decoration: none;
}
.clfix:after, .box:after, .con:after, .clfix:before {
  content: ".";
  visibility: hidden;
  clear: both;
  display: block;
  height: 0;
}
.clfix, .box, .con {
  *zoom: 1;
}
.fb {
  font-weight: bold;
}
.f_yh {
  font-family: "\5FAE\8F6F\96C5\9ED1";
}
.hide {
  display: none;
}
.hd {
  text-indent: -9999em;
  overflow: hidden;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
  text-align: center;
}
a.hot, .hot {
  color: #f00;
}
.red {
  color: #c8323d;
}
.w1200 {
  width: 1200px;
  margin: 0 auto;
  clear: both;
}
.header_top {
  height: 30px;
  line-height: 30px;
  background-color: #eeeeee;
}
.header_r1 {
  float: left;
  margin-right: 20px;
  a {
    color: #fb5000;
  }
}
.header_r2 {
  float: right;
  a {
    color: #333333;
    border-left: 1px solid #ccc;
    padding: 0 10px;
    em {
      font-family: normal;
      font-weight: bold;
    }
  }
}
.header_middle {
  height: 142px;
  padding-bottom: 5px;
  .w1200 {
    position: relative;
    height: 100%;
  }
  .logo {
    float: left;
    margin-top: 30px;
    margin-left: 15px;
  }
  .header_link {
    position: absolute;
    top: 20px;
    right: 0;
    text-align: right;
    font-size: 14px;
    color: #999;
    a {
      color: #ef0000;
      line-height: 1.3;
    }
    .help_link {
      margin-left: 10px;
      padding-left: 10px;
    }
    p {
      margin-top: 10px;
    }
  }
}
.foot {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
  margin-top: 50px;
  a {
    color: #333;
    margin-left: 3px;
    text-decoration: none;
  }
  .h20 {
    margin: 20px 0 10px;
  }
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: red !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}
.foot span, .foot span a {
  color: #999;
}
/* 登录页面 */
.login-page {
  .header_middle {
    height: 100px;
    .logo {
      margin-top: 10px;
    }
    .login-text {
      margin-top: 30px;
      margin-left: 25px;
      padding-left: 20px;
      float: left;
      font-size: 48px;
      line-height: 60px;
      border-left: 1px solid #999;
      color: #999;
      font-family: '宋体',serif;
    }
  }
  .content {
    height: 620px;
    background: url(/img/login_banner.png) no-repeat center 0;
  }
  .login_wrap {
    position: relative;
  }
  .login-box {
    padding: 20px 26px 0 32px;
    padding-bottom: 0;  
    background: #fff;
    position: absolute;
    top: 80px;
    right: 120px;
    h3 {
      margin-top: -5px;
      margin-bottom: 18px;
      font-size: 18px;
      color: #333;
      font-weight: normal;
    }
    .login-box-tab {
      font-size: 16px;
      span {
        line-height: 30px;
        text-align: center;
        width: 50%;
        float: left;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 26px;
        color: #333;
        cursor: pointer;
        font-weight: bold;
        &.active {
          cursor: default;
          color: #3f94ee;
          border-bottom: 1px solid #3f94ee;
          font-weight: bold;
        }
      }
    }
  }
  .login-box2 {
    display: none;
    width: 290px;
    padding: 20px;
    margin: 0 auto;
    h4 {
      text-align: center;
      margin-bottom: 5px;
    }
    .smscodeinput {
      display: block;
    }
  }
  .layui-layer-content {
    .login-box2 {
      display: block;
    }
  }
  .inputbox {
    clear: both;
    height: 40px;
    line-height: 40px;
    position: relative;
    margin-bottom: 15px;
    .icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
    }
    select {
      width: 100%;
    }
  }
  .userTypeSelect {
    span {
      display: block;
      float: none;
      width: 118px;
      margin: 0;
      margin-top: 15px;
      margin-left: 45px;
      background: #eee;
      &:first-child {
        margin-left: 45px;
      }
      &.active {
        background: #fff;
      }
    }
  }
  .vcodeinput {
    line-height: 40px;
    .vcode {
      float: left;
      height: 40px;
      line-height: 40px;
      padding-left: 5px;
      white-space: nowrap;
      img {
        width: 100px;
        height: 40px;
        margin-right: 8px;
        vertical-align: middle;
        margin-left: 8px;
      }
      .changeVcode {
        cursor: pointer;
        color: #2577e3;
        font-size: 12px;
        &:hover {
          color: #ef0000;
        }
      }
    }
  }
  .smscodeinput {
    position: relative;
    display: none;
  }
  .other-btn {
    margin-bottom: 5px;
    text-align: right;
    a {
      display: inline-block;
      margin-left: 5px;
      color: #2577e3;
      padding: 3px 0px;
      &:nth-child(1) {
        span {
          padding: 0 5px;
          border-right: 1px solid #2577e3;
        }
      }
      &:hover {
        color: #221d1d;
      }
    }
  }
  .login-other-platform {
    margin-top: 10px;
    text-align: center;
    span {
      cursor: pointer;
      line-height: 24px;
      display: inline-block;
      width: 25px;
      height: 25px;
      text-align: center;
    }
    .login-weixin {
      width: 25px;
      height: 25px;
      background: url("/img/weixinquan_24.png") no-repeat 0 center;
    }
  }
  .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .icon-user {
    background: url(/img/login_huiyianlx.png) no-repeat center center;
  }
  .icon-mobile {
    background: url(/img/login_phone.png) no-repeat center center;
  }
  .icon-password {
    background: url(/img/login_mima.png) no-repeat center center;
  }
}
.inputbox {
  input {
    background-color: #f8f8f8;
    border-radius: 5px;
    border: none !important;
  }
}
.login-page .inputbox input, .login-page .inputbox select {
  // width: 246px;
  width: 100%;
  height: 38px;
  padding-left: 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.login-page .inputbox input.error, .login-page .inputbox select.error {
  border: 1px solid #ef0000;
}
.login-page .userTypeinput span, .login-page .userTypeSelect span {
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #666;
  cursor: pointer;
  width: 88px;
  margin-left: 10px;
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.login-page .userTypeinput span:first-child, .login-page .userTypeSelect span:first-child {
  margin-left: 0;
}
.login-page .userTypeinput span.active, .login-page .userTypeSelect span.active {
  color: #3f94ee;
  font-weight: bold;
  cursor: default;
  background-color: #d5eaff;
  border-radius: 5px;
  border-color: #d5eaff;
}
.login-page .vcodeinput input, .login-page .vcodeinput select {
  padding: 0;
  padding-left: 10px;
  float: left;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #f8f8f8;
  border-radius: 5px;
  border: none;
}
.login-page .smscodeinput .getsmscode, .login-page .smscodeinput .getsmscode2 {
  position: absolute;
  top: 3px;
  right: 10px;
  line-height: 36px;
  color: #2577e3;
  cursor: pointer;
}
.other-btn {
  i {
    float: right;
    height: 10px;
    width: 1px;
    border-right: 1px solid #2577e3;
    margin: 5px 0px 0px 10px;
  }
}
.login-page .smscodeinput .getsmscode.disabled, .login-page .smscodeinput .getsmscode2.disabled {
  color: #999;
  cursor: default;
  cursor: not-allowed;
}
.login-other {
  text-align: center;
  position: relative;
  color: #ddd;
  &::after {
    position: absolute;
    top: 0;
    height: 50%;
    left: 0;
    content: '';
    width: 35%;
    border-bottom: solid 1px #ddd;
  }
  &::before {
    position: absolute;
    top: 0;
    height: 50%;
    left: 65%;
    content: '';
    width: 35%;
    border-bottom: solid 1px #ddd;
  }
}
.login-page .login-btn, .login-page .login-btn2 {
  height: 45px;
  line-height: 45px;
  background: #2576e3;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
}
.login-page .login-btn:hover, .login-page .login-btn2:hover {
  background: #2576ee;
}
.registiter-page {
  .login-text {
    margin-top: 30px;
    margin-left: 25px;
    padding-left: 20px;
    float: left;
    font-size: 32px;
    line-height: 60px;
    border-left: 1px solid #999;
    color: #999;
    font-family: '宋体',serif;
  }
  .regisiter_wrap {
    width: 940px;
    margin: 0 auto;
  }
  .step_info {
    margin-bottom: 40px;
    li {
      height: 80px;
      float: left;
      line-height: 80px;
      font-size: 18px;
      text-indent: 42px;
      color: #999999;
      i {
        font-size: 32px;
        font-weight: bold;
        vertical-align: middle;
        margin-right: 35px;
      }
      &.current {
      }
    }
  }
  .stepinfo {
    display: none;
    &.current {
      display: block;
    }
  }
  .step_1 {
    margin-bottom: 60px;
    width: 638px;
    height: 382px;
    background-color: #f8f8f8;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    & > ul {
      padding-top: 30px;
      margin-left: 38px;
      margin-right: 38px;
      & > li {
        margin-bottom: 44px;
        h4 {
          height: 25px;
          color: #333;
          font-size: 16px;
          margin-bottom: 8px;
          padding-left: 24px;
          background: url(/img/reg_dx_gray.png) no-repeat 0 2px;
          cursor: pointer;
          &.check {
            background: url(/img/juese_blue.png) no-repeat 0 2px;
          }
        }
        ul {
          padding-left: 40px;
        }
        li {
          list-style: disc;
          font-size: 12px;
          color: #666;
        }
      }
    }
  }
  .step_2 {
    .form {
      & > li {
        clear: both;
        min-height: 40px;
        line-height: 40px;
        margin-bottom: 30px;
        font-size: 14px;
        position: relative;
        input {
          width: 400px;
          line-height: 35px;
          height: 35px;
          text-indent: 20px;
          float: left;
          border: 1px solid #ccc;
          background-color: #f8f8f8;
          border-radius: 4px;
          border: none;
        }
        .tip {
          min-width: 20px;
          height: 35px;
          position: absolute;
          line-height: 35px;
          top: 0;
          left: 640px;
          text-indent: 20px;
          white-space: nowrap;
        }
        &.success {
          input {
            border: 1px solid #ccc;
          }
          .tip {
            background: url(/img/u198861.png) no-repeat 0 center;
          }
        }
        &.error {
          input {
            border: 1px solid #f00;
          }
          .tip {
            background: url(/img/u198863.png) no-repeat 0 center;
          }
        }
      }
      .eye {
        position: absolute;
        top: 3px;
        left: 576px;
        height: 30px;
        width: 30px;
        background: url(/img/eye.png) no-repeat 0 -30px;
        cursor: pointer;
        &.active {
          background-position: 0 0;
        }
      }
      .label {
        width: 215px;
        padding-right: 20px;
        text-align: right;
        float: left;
      }
      .getcode-btn {
        width: 145px;
        height: 39px;
        background-image: -webkit-gradient(linear, left bottom, left top, from(#269fe0), to(#71c6f4));
        background-image: linear-gradient(0deg, #269fe0 0%, #71c6f4 100%);
        border-radius: 4px;
        border: solid 1px #1d8dc9;
        margin-left: 20px;
        line-height: 39px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        cursor: pointer;
        vertical-align: middle;
        margin-top: 3px;
        &.disabled {
          cursor: default;
          background: #999;
          color: #000;
        }
        &:hover {
          background: #169bdd;
        }
      }
      .changeVcode {
        cursor: pointer;
        color: #49a2ff;
        &:hover {
          color: #ef0000;
        }
      }
      .radioinput {
        input {
          width: auto;
          margin-right: 10px;
          margin-top: 2px;
        }
      }
    }
  }
  .step_3 {
    .success-text {
      padding: 20px 0 40px;
      border-bottom: 1px solid #e4e4e4;
      font-family: MicrosoftYaHei-Bold;
      font-size: 46px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #3f94ee;
      line-height: 110px;
      font-weight: bold;
      text-align: center;
      width: 100%;
      height: 143px;
      background: url(/img/success.png) no-repeat 94px center;
    }
    .tipinfo {
      text-align: center;
      margin: 30px 0 20px;
      font-family: MicrosoftYaHei;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #333333;
      .tipicon {
        display: inline-block;
        vertical-align: middle;
        height: 52px;
        width: 60px;
      }
      a {
        margin-left: 30px;
        color: #333333;
        &:hover {
          color: #3f94ee;
        }
      }
    }
    .introinfo {
      margin-bottom: 20px;
      background-color: #f8f8f8;
      padding: 20px 0 20px 100px;
      li {
        padding-left: 70px;
        line-height: 2;
        font-size: 16px;
        margin-bottom: 30px;
        strong {
          font-size: 22px;
        }
      }
      .reg_shangji {
        background: url(/img/line_shangji.png) no-repeat 0 center;
      }
      .reg_qiyewz {
        background: url(/img/line_wangzhan.png) no-repeat 0 center;
      }
      .reg_gongsik {
        background: url(/img/line_ku.png) no-repeat 0 center;
      }
      .reg_chezhu {
        display: none;
      }
    }
  }
  .step-next {
    & > div {
      display: none;
      text-align: center;
    }
    .current {
      display: block;
    }
  }
  .prev-btn {
    background: #ffffff;
    border: 1px solid #969696;
    color: #333;
    &:hover {
      background: #ccc;
      border: 1px solid #ccc;
    }
  }
  .last-btn {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#3f94ee), to(#3f94ee));
    background-image: linear-gradient(0deg, #269fe0 0%, #3f94ee 100%);
    border: solid 1px #3f94ee;
    background-color: #3f94ee;
  }
  .normal-btn {
    background: #fff;
    color: #000;
    border-color: #000;
    margin-right: 165px;
  }
  .step-next2 {
    .prev-btn {
      margin-right: 30px;
    }
  }
}
.password-page {
  .step_info {
    margin-bottom: 50px;
    height: 56px;
    &.step_info_ul_1 {
      background: url(/img/back_1.png) no-repeat center 0;
    }
    &.step_info_ul_2 {
      background: url(/img/back_2.png) no-repeat center 0;
    }
    &.step_info_ul_3 {
      background: url(/img/back_3.png) no-repeat center 0;
    }
    &.step_info_ul_4 {
      background: url(/img/back_4.png) no-repeat center 0;
    }
    li {
      display: none;
    }
  }
  .fpassword-text {
    margin-top: 30px;
    margin-left: 25px;
    padding-left: 20px;
    float: left;
    font-size: 48px;
    line-height: 60px;
    border-left: 1px solid #999;
    color: #999;
    font-family: '宋体',serif;
  }
  .fpassword_wrap {
    width: 1114px;
    padding-left: 12px;
    padding-right: 12px;
    height: 620px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dadada), color-stop(10%, #ffffff));
    background-image: linear-gradient(180deg, #dadada 0%, #ffffff 10%);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(153, 153, 153, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(153, 153, 153, 0.5);
    margin: 0 auto;
    margin-top: 60px;
  }
  .ff-title {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px dashed #969696;
    margin-bottom: 10px;
    span {
      display: none;
      &.current {
        display: inline-block;
      }
    }
  }
  .stepinfo {
    display: none;
    &.current {
      display: block;
    }
  }
  .step-content {
    width: 638px;
    height: 382px;
    background-color: #ffffff;
    border: solid 1px #999999;
    margin-left: auto;
    margin-right: auto;
  }
  .step_1 {
    ul {
      margin-top: 32px;
      margin-left: 0;
      margin-right: 0;
      li {
        margin-bottom: 20px;
        .label {
          width: 223px;
          text-align: right;
          display: inline-block;
        }
        img {
          width: 100px;
          height: 32px;
          vertical-align: middle;
        }
        .changevcode {
          color: #2577e3;
          cursor: pointer;
        }
      }
      .next-btn {
        margin-top: 147px;
      }
      .last {
        text-indent: 40px;
      }
    }
  }
  .step_2 {
    font-size: 16px;
    .step_con {
      padding: 30px 21px 0;
    }
    .tipinfo {
      margin-top: 20px;
      margin-bottom: 90px;
      font-size: 14px;
      color: #999;
      span {
        color: #75b0df;
      }
    }
    ul {
      margin-top: 22px;
    }
    li {
      text-align: center;
    }
    .getvcode {
      width: 113px;
      height: 31px;
      line-height: 31px;
      display: inline-block;
      cursor: pointer;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#269fe0), to(#71c6f4));
      background-image: linear-gradient(0deg, #269fe0 0%, #71c6f4 100%);
      border-radius: 4px;
      border: solid 1px #1d8dc9;
      text-align: center;
      font-size: 12px;
      color: #fff;
      &.disabled {
        background: #ccc;
        color: #333;
        border-color: #666;
      }
    }
  }
  .step_3 {
    font-size: 16px;
    .ptip {
      font-size: 12px;
      color: #999;
    }
    .showtip {
      font-size: 12px;
      color: #4eb4eb;
      cursor: pointer;
      position: relative;
      display: inline-block;
      img {
        display: none;
        position: absolute;
        top: 20px;
        left: 0;
      }
      &:hover {
        img {
          display: block;
        }
      }
    }
    .label {
      width: 168px;
      text-align: right;
      float: left;
      margin-left: -168px;
      line-height: 40px;
    }
    li {
      padding-left: 168px;
      margin-top: 50px;
    }
  }
  .step_4 {
    margin-top: 50px;
    text-align: center;
    padding-top: 180px;
    background: url(/img/laojimm.png) no-repeat center 0;
  }
  .step-next {
    & > div {
      display: none;
      text-align: center;
    }
    .current {
      display: block;
    }
  }
  .prev-btn {
    background: #ffffff;
    border: 1px solid #969696;
    color: #333;
    &:hover {
      background: #ccc;
    }
  }
  .last-btn {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#269fe0), to(#71c6f4));
    background-image: linear-gradient(0deg, #269fe0 0%, #71c6f4 100%);
    border: solid 1px #1d8dc9;
  }
  .normal-btn {
    background: #fff;
    color: #000;
    border-color: #000;
    margin-left: 30px;
  }
  .step-next2 {
    .prev-btn {
      margin-right: 30px;
    }
  }
}
.step_info_ul_1 {
  ul {
    display: flex;
    margin-bottom: 38px;
  }
  .step1 {
    background: url(/img/1_blue.png) no-repeat 89px center;
    color: #3f94ee !important;
    font-weight: bold !important;
    border-bottom: 1px solid #3f94ee ;
  }
  .step2 {
    background: url(/img/zhuce_2.png) no-repeat 89px center;
  }
  .step3 {
    background: url(/img/zhuce_3.png) no-repeat 102px center;
  }
  & > ul {
    & > li {
      float: left;
      flex: 1;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
    }
  }
}
.step_info_ul_2 {
  ul {
    display: flex;
    margin-bottom: 38px;
    li {
      float: left;
      flex: 1;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
    }
  }
  .step1 {
    background: url(/img/zhuce_success.png) no-repeat 89px center;
    color: #999999 !important;
  }
  .step2 {
    background: url(/img/2_blue.png) no-repeat 89px center;
    border-bottom: 1px solid #3f94ee;
    color: #3f94ee !important;
    font-weight: bold !important;
  }
  .step3 {
    background: url(/img/zhuce_3.png) no-repeat 102px center;
  }
}
.step_info_ul_3 {
  ul {
    display: flex;
    margin-bottom: 38px;
    li {
      float: left;
      flex: 1;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-bottom: 1px solid #ccc;
      color: #3f94ee;
      font-size: 14px;
    }
  }
  .step1 {
    background: url(/img/zhuce_success.png) no-repeat 89px center;
  }
  .step2 {
    background: url(/img/zhuce_success.png) no-repeat 89px center;
    color: #999999 !important;
  }
  .step3 {
    background: url(/img/3_blue.png) no-repeat 102px center;
    border-bottom: 1px solid #3f94ee;
    color: #3f94ee !important;
    font-weight: bold !important;
  }
}
/* .registiter-page .step_info.step_info_ul_1 {
  background: url(/img/reg_huiyuanlx.png) no-repeat center 0;
}
.registiter-page .step_info.step_info_ul_2 {
  background: url(/img/reg_jibenxx.png) no-repeat center 0;
}
.registiter-page .step_info.step_info_ul_3 {
  display: none;
} */
input {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f8f8f8 inset !important;
  }
}
.borderright {
  float: right;
  position: absolute;
  height: 10px;
  width: 1px;
  border-right: 1px solid #ff223e;
  margin: 7px 0px 0px 10px;
}
/* .registiter-page .step_info>ul{
  display: flex;
}
.registiter-page .step_info .step1 {
  width: 317px;
  text-indent: 60px;
  background: url(/img/b1.png) no-repeat 0 0;
  background: url(/img/zhuce_1.png) no-repeat 89px center;
  flex: 1;
  float: left;
}
.registiter-page .step_info .step1:nth-child(1) i{
  display: block;
  float: left;
  width:25px;
  height: 25px;
  background: url(/img/zhuce_1.png) no-repeat;
}
.registiter-page .step_info .step2 {
  width: 339px;
  margin-left: -20px;
  background: url(/img/b2.png) no-repeat 0 0;
  background: url(/img/zhuce_2.png) no-repeat 89px center;
  flex: 1;
  float: left;
}
.registiter-page .step_info .step3 {
  width: 316px;
  margin-left: -20px;
  background: url(/img/b3.png) no-repeat 0 0;
  background: url(/img/zhuce_3.png) no-repeat 89px center;
  flex: 1;
  float: left;
} */
.registiter-page .step_2 .form .vcodeinput input, .registiter-page .step_2 .form .phonecodeInput input {
  width: 228px;
  background-color: #f8f8f8;
  border-radius: 4px;
}
.registiter-page .step_2 .form .vcode, .registiter-page .step_2 .form .getcode-btn {
  float: left;
  margin-left: 20px;
  text-align: right;
  box-sizing: border-box;
  text-align: center;
  border: none !important;
}
.registiter-page .step_2 .form .vcode img, .registiter-page .step_2 .form .getcode-btn img {
  display: block;
  width: 145px;
  height: 37px;
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px #cccccc;
}
.radioinput {
  margin-left: 143px;
}
.registiter-page .next-btn, .registiter-page .prev-btn {
  display: inline-block;
  width: 183px;
  height: 40px;
  background-color: #3f94ee;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.registiter-page .next-btn:hover, .registiter-page .prev-btn:hover {
  color: #fff;
  opacity: 0.8;
}
.registiter-page .last-btn, .registiter-page .normal-btn {
  width: 183px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  // border: 1px solid #969696;
  border-radius: 6px;
  display: inline-block;
  font-size: 16px;
  // background-color: #2577e3;
}
// .registiter-page .last-btn, .registiter-page .normal-btn:hover{
//   opacity: 0.8;
// }
.password-page .step-content input, .password-page .step-content select {
  width: 194px;
  padding: 0;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ccc;
  text-indent: 15px;
}
.password-page .next-btn, .password-page .prev-btn {
  display: inline-block;
  width: 183px;
  height: 50px;
  background: #ff2644;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-left: 147px;
}
.password-page .next-btn:hover, .password-page .prev-btn:hover {
  background-color: #ef0000;
  color: #fff;
}
.password-page .last-btn, .password-page .normal-btn {
  width: 183px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  color: #fff;
  border: 1px solid #969696;
  border-radius: 6px;
  display: inline-block;
  font-size: 16px;
}
.step-next2 {
  .next-btn {
    margin-right: 160px;
    margin-left: 77px;
  }
}
/** 仿京东 **/
.tab li, .tab a, .tab-item {
  float: left;
  text-align: center;
  cursor: pointer;
  float: left;
  text-align: center;
}
#list1 {
  .dd {
    width: 100%;
    float: left;
  }
}
#store-selector {
  position: relative;
  z-index: 2;
  height: 40px;
  dl {
    position: absolute;
    top: 23px;
    z-index: 1;
    width: 358px;
    width: 358px;
    padding: 5px;
    border: 1px solid #ddd;
    background: #fff;
    display: none;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
  }
  dt {
    padding: 6px 0 10px;
    color: #999;
  }
  dd {
    padding-bottom: 5px;
    line-height: 18px;
  }
  .text {
    position: relative;
    top: 0;
    z-index: 2;
    height: 40px;
    background: #fff;
    border: 1px solid #cecbce;
    padding: 0 20px 0 20px;
    line-height: 40px;
    overflow: hidden;
    b {
      display: block;
      position: absolute;
      top: 8px;
      right: 0;
      overflow: hidden;
      width: 17px;
      height: 24px;
      background: url(/img/btn20121210.png) 0 0 no-repeat;
    }
  }
  .close {
    display: none;
    position: absolute;
    z-index: 2;
    top: 71px;
    right: -9px;
    cursor: pointer;
    width: 17px;
    height: 17px;
    background: url(/img/20120418.png) no-repeat -40px 0;
  }
  a {
    &:hover {
      background: #b79567;
      color: #fff;
      cursor: pointer;
    }
  }
  &.hover {
    .text {
      border-bottom: 0;
    }
    .i-storeinfo {
      position: relative;
      z-index: 2;
      background: url(/img/bg_store.gif) no-repeat right -50px;
      div {
        background: url(/img/bg_store.gif) no-repeat -81px -75px;
      }
    }
    dl {
      display: block;
    }
    .close {
      display: block;
    }
  }
  .content {
    display: none;
    position: absolute;
    top: 40px;
    left: -0;
    border: 1px solid #cecbce;
    width: 488px;
    padding: 15px;
    background: #fff;
    -webkit-box-shadow: 0 0 5px #ddd;
    box-shadow: 0 0 5px #ddd;
    select {
      float: left;
      width: 120px;
      border: 1px solid #cecbce;
      margin-right: 15px;
    }
    .select3 {
      margin-right: 0;
    }
  }
}
#store-selector dl, #store-selector dt, #store-selector dd {
  float: none;
  color: #999;
}
#store-selector a:link, #store-selector a:visited {
  color: #005aa0;
}
#store-selector a:hover, #store-selector a:active {
  background: #005aa0;
  color: #fff;
}
.error {
  #store-selector {
    .text {
      border-color: #ef0000;
    }
  }
}
#store-prompt {
  clear: left;
  line-height: 25px;
  strong {
    font-size: 14px;
  }
  a {
    color: #005eaa;
  }
}
*html #store-selector .i-storeinfo, *html #store-selector .i-storeinfo div {
  float: left;
}
*html {
  #store-selector {
    dl {
      left: 0;
    }
  }
}
#store-selector.hover .content, #store-selector.hover .close {
  display: block;
}
#JD-stock {
  position: relative;
  margin-bottom: 0;
  .tab {
    width: 100%;
    height: 25px;
    float: left;
    border-bottom: 2px solid #edd28b;
    overflow: visible;
    *overflow: hidden;
    li {
      float: left;
      clear: none;
      height: 23px;
      padding: 1px 1px 0;
      border: 1px solid #ddd;
      border-bottom: 0;
      margin-right: 3px;
      background-color: #fff;
      line-height: 22px;
      text-decoration: none;
    }
    .curr {
      *position: relative;
      height: 25px;
      padding: 0;
      border: 2px solid #edd28b;
      border-bottom: 0;
    }
    a {
      position: relative;
      float: left;
      height: 23px;
      padding: 0 20px 1px 10px;
      line-height: 23px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      color: #005aa0;
      outline: 0;
      &:hover {
        background: 0;
        color: #005aa0;
      }
      i {
        position: absolute;
        right: 5px;
        top: 10px;
        *top: 9px;
        display: block;
        width: 7px;
        height: 5px;
        overflow: hidden;
        background: url(/img/20130606B.png) no-repeat -76px -34px;
        opacity: .5;
        filter: alpha(opacity=50);
      }
    }
  }
  .area-list {
    padding-top: 5px;
    li {
      float: left;
      width: 100px;
      white-space: nowrap;
      padding: 2px 0 2px 15px;
      clear: none;
      a {
        float: left;
        padding: 2px 4px;
        *padding: 04px;
        color: #005aa0;
        &:hover {
          color: #fff;
        }
      }
    }
    .longer-area {
      width: 370px;
    }
    .long-area {
      width: 170px;
    }
  }
}
#JD-stock .tab .curr i, #JD-stock .tab a:hover i {
  opacity: 1;
  filter: alpha(opacity=100);
}
