/*物流专线 S */
*{word-wrap: break-word;}
body{background-color: #F9F9F9;}
.zx_sx{
OVERFLOW: hidden; LINE-HEIGHT: 50px;HEIGHT: 50px;  color:#585858; font-size:18px; font-weight:bold;
background-color: #FFF;
}
.list_right .zx_sx{border:1px solid #eee;border-bottom: 3px solid #2577e3;}
.zx_sx span{ float: left;display: block;color:#2577e3}
.biaozhi{	
	width: 3px;
	height: 18px;
	background-color: #2577e3;
	border-radius: 1px; margin: 16px 12px 0px 10px;
	}
.list_box{width: 1400px;  height: auto !important;margin: 0 auto; overflow: hidden;
margin-top: 21px;}
.list_left_wangdian{float: left;display: none;}
.list_left_zx{float: left;}
.list_left_zx .select_con dl dd a {width: auto !important;}
.w1130{
	width: 1130px;
    float: left;
    OVERFLOW: hidden;
   
}
.tywlist{width: 1130px;}
.tyxboxWrap{     
	float: left;
    width: 100%;
    position: relative;  
    }
.list_right{
	min-height: 200px;
    height: auto !important;
    width: 260px;
    padding: 0px 0px 0 10px;
    float: left;
   
}
.list_hy_page2{
	width: 1400px;
}
.w260{
	width: 260px;
}
.tylist{
	width: 240px;
}
.select_con{width: 1128px;border-color: #E2E2E2;}
.select_con dl dt{font-size: 14px;
height: 49px;
line-height: 49px;
padding:0px 0 0 40px;
}
.select_con dl dd a{cursor: pointer;}
.select_con dd span{font-size: 14px;}
.list_input{
	width: 161px;
	height: 32px;
	border-radius: 2px;
	border: solid 1px #e5e5e5;
	background: none;
	color: #999;
	font-size: 14px;
	padding-left: 9px;
}
.list_button {
	width: 42px;
	height: 28px;
	border-radius: 2px;
	color: #f9f9f9;
	font-size: 15px;
	background: no-repeat url(../images/white_search.png) 10px 6px #2577e3;
	text-align: left;
	padding-left: 30px;
	margin-left: 20px;	
	cursor: pointer;
}
#flush
{
height: 32px;
width: 70px;
border: solid 1px #E3E3E3;
color: #666;
margin-left: 10px;
text-align: center;
cursor: pointer;
}

.list_img{ position: relative; margin: 10px 8px 0px 8px;}
.select_con dl dd a:hover, .select_con dl dd a.now { background: #2577e3;color: #fff;}
.ck_input{
	width: 14px;
	height: 14px;
	border: solid 1px #ccc;
	position: relative; top:-2px;right: 3px;
	cursor: pointer;}
.list_tiaoj {
	width: 1034px;
	height: 50px;
	background-color: #f1f1f1;
	border: solid 1px #e6e6e6;
	margin-bottom: 14px;
	background: no-repeat url(../images/list_wlzx/xiajt.png) #f1f1f1 0px 16px;
	position: relative;
}
.list_tiaoj span {
	display: block;
	text-align: center;
	line-height: 50px;
	float: left;
	width: 94px;
	height: 50px;
	cursor: pointer;
	font-size: 14px;
	
}
.list_tiaoj .active {
	background-color: #ffffff;
	color: #eb434d;
}
#tj_price{
            width: 140px;
            height: 100px;
            position:absolute;left: 300px; top: 40px;
            margin-left: 0px;
           /* border-radius: 6px;*/
            display: none;
            background-color: #fff;
            box-shadow:0px 0px 20px rgba(0,0,0,0.3);
            padding-top: 15px;
            }

.wlzx_list{
	width: 1128px;
	height: 120px;
	padding-top: 20px;
	border: solid 1px #dfdfdf;
	margin-top: -1px;
	background-color: #fff;
	
}
.wlzx_list:hover{
	transform: translateY(-3px);
    transition-delay: 0.1s;
    box-shadow: 0px 20px 20px -17px rgba(0, 0, 0, 0.40);
    opacity: 0.8;
    background-color: #C4E7FF;}
.wlzx_list li{
	height: 140px;
	float: left;
	overflow: hidden;	
}
.wlzx_list img{transition: 0.7s;}
.wlzx_list img:hover{transform: scale(1.05);}
.wlzx_list_1{
	width: 150px;
	margin-left: 9px;
	
}
.wlzx_list_2{
	width: 380px;
	margin-left: 20px;
	
}
.wlzx_list_3{
	width: 280px;
	margin-left: 30px;
	

}
.wlzx_list_4{
	width: 90px;
	margin-left: 30px;
	margin-top: 20px;
	
}
.wlzx_list_5{
	width: 75px;
	margin-left: 65px;
	
}
.wlzx_list_6{
	width: 110px;
	margin-left: 50px;
	
}
.wlzx_list_2 p{height: 26px; line-height: 26px;}
.wlzx_list_2 .p1{margin-bottom: 3px;}
.wlzx_list_2 .p1 a{color: #333333;font-size: 16px;font-weight: normal;}
.wlzx_list_2 .p1  font{color: #333;font-weight:bold;font-size: 14px;}
.wlzx_list_2 .p2  font{font-size: 14px;padding-left: 5px;}
.wlzx_list_2 .p3 font,.wlzx_list_2 .p4  font{color: #333;font-size: 14px;}
.wlzx_list_2 .p3 i,.wlzx_list_2 .p4  i{color: #666;font-size: 14px;padding-left: 0px;}

.wlzx_list_3 p{height: 27px; line-height: 27px;font-size: 14px;}
.wlzx_list_3 p i{ color: #999;}
.wlzx_list_3 p font{color:#fb5000;}
.wlzx_list_3 p span{color: #333;}
.wlzx_list_4 p{height: 27px; line-height: 27px;font-size: 14px;}
.wlzx_list_4 img{ margin-top: 5px;}
.wlzx_list_5 p{height: 27px; line-height: 27px;font-size: 12px;}
.wlzx_list_5 p i{ color: #999;}
.wlzx_list_5 .p1{display: none;}
.wlzx_list_6 p input {
	display: block;
	width: 102px;
	height: 26px;
	line-height: 26px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border: solid 1px #dedede;
	
}
.wlzx_list_6 .p1,.wlzx_list_6 .p2 {margin-bottom: 12px;}
.wlzx_list_6 .p1 input{
	background-color: #2577e3;
	color: #fff;
	border: 0px;
	height: 28px;
	
}
.wlzx_list_6 .p1 input:hover{background-color:#2577ff;}

.wlzx_list_6 .p3 input{
	
	background: no-repeat url(../images/article_wlzx/15qq.gif) 12px 3px;

	padding-left: 15px;
	width: 87px;
    
}
.tj_list{
	background-color: #fff;
    margin-top: -1px;
    border: 1px solid #dedede;
    width: 258px;
    font-size: 14px; 

    }

.tj_list p{
	height: 28px;
	line-height: 28px;	
	padding-left: 26px;	
	PADDING-RIGHT: 0px;
	}
	
.tj_list .p1{
	height: 50px;
	line-height: 50px;	
}
.tj_list .p1 span{
	font-weight: bold;
	font-size: 16px;	
	color: #666;	
}
.tj_list .p1 i{
    color: #c5c5c5;
    font-size: 16px;	
    padding:0 3px 0 3px;
}
.tj_list .p2 span{
padding:0 0 0 5px;
}
.tj_list .p2 img{display: none;}

.tj_list .p3 i,.tj_list .p3 em,.tj_list .p4 i{
	font-size: 14px;
	color: #666;	
}
.tj_list .p3 font,.tj_list .p4 font{
	font-size: 14px;
	color: #333;
}
.tj_list .p3 span,.tj_list .p3 font,.tj_list .p4 span{
	font-size: 14px;
	color: #333;
	
}
.tj_list .p3 i{float: left;width: 65px;height: 28px;}
.tj_list .p3 em{float: left;width: 45px;height: 28px;}
.tj_list .p3 span{float: left;width: 50px;height: 28px;}
.tj_list .p3 font{float: left;width: 120px;height: 28px;}
.tj_list .p5 img{
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 8px;	
}
.tj_list img{transition: 0.7s;}
.tj_list  img:hover{transform: scale(1.05);}
.tj_list .p6{
text-align: right;
margin-right: 25px;
margin-top: 20px;
}
.tj_list .p6 span{
	color: #2577e3;
	font-size: 14px;
	cursor: pointer;
}
/*物流专线 E */

/*车源信息 S */
.cy_list_1{
	width: 351px;
	margin-left: 14px;

	
}
.cy_list_2{
	width: 182px;
	margin-left: 100px;
	
}
.cy_list_3{
	width: 75px;
	margin-left: 80px;
	

}
.cy_list_4{
	width: 65px;
	margin-left: 60px;	
}

.cy_list_5{
	width: 102px;
	margin-left: 60px;
	
}
.cy_list_1 .p1{margin-bottom: 3px;}
.cy_list_1 p{height: 26px;line-height: 26px;}
.cy_list_1 p a{color: #eb434d;font-size: 16px;}
.cy_list_1 p i{font-size: 14px; color: #666;}
.cy_list_1 p span{font-size: 14px; color: #666;padding:0 2px 0 2px;}
.cy_list_1 p font{font-size:13px;color: #333;}

.cy_list_2 p{height: 27px; line-height: 27px;}

.cy_list_2 p span{color: #666;font-size: 14px;}
.cy_list_2 p i{font-size: 14px;}
.cy_list_4 p{height: 26px;margin:0 0 5px 0 ;}

.wlzx_list_6 .p2 input{
	background-color: #eb434d;
	color: #fff;
	border: 0;
}
/*车源信息 E */

/*货源信息 S */
.cy_list_1{
	width: 351px;
	margin-left: 14px;

	
}
.cy_list_2{
	width: 182px;
	margin-left: 100px;
	
}
.cy_list_3{
	width: 75px;
	margin-left: 80px;
	

}
.cy_list_4{
	width: 80px;
	margin-left: 50px;
	
}
.cy_list_5{
	width: 102px;
	margin-left: 60px;
	
}
.cy_list_1 .p1{margin-bottom: 3px;}
.cy_list_1 p{height: 26px;line-height: 26px;}
.cy_list_1 p a{color: #eb434d;font-size: 16px;}
.cy_list_1 p i{font-size: 14px; color: #666;}
.cy_list_1 p span{color: #eb434d;font-size: 14px;}
.cy_list_1 p font{font-size:13px;color: #333;}

.cy_list_2 p{height: 27px; line-height: 27px;}

.cy_list_2 p span{color: #666;font-size: 14px;}
.cy_list_2 p i{font-size: 14px;}
.cy_list_2 p font{color: #333;}
.cy_list_3 p{height: 27px; line-height: 27px;}
.wlzx_list_6 .p2 input{
border: solid 1px  #8dadd8;color: #2577e3;background-color:#fff;font-size: 14px;
}
.wlzx_list_view:hover{background-color: #f1f1f1;}
.wlzx_list_view{}
/*货源信息 E */

.list_none{display: none;}
.list_none span{float: left;width: 100%;text-align:center;height: 40px;line-height: 40px;font-size: 16px;margin-top: 40px;}
.list_none img{float: left;width: 300px;height: 160px;margin:20px 0 20px 400px;}

.tj_none{display: none;background-color: #fff;width: 100%;height: 220px;}
.tj_none span{float: left;width: 100%;text-align: center;height: 100px;line-height: 100px;font-size: 14px;margin-top: 0px;
}
.hy_tj_none{height: 186px;}
.cy_tj_none{height: 290px;}

/*V2.0版本*/
.banner_wlgs{margin: 0 auto;}
.banner_wlgs img{width: 1920px;height: 238px;}
#search_wlLine{	
    background: none;
    background: no-repeat url(../images/list_wlzx/wlgs_search.png) 9px 7px #2577E3;
    width: 60px;
    padding-left: 18px;
    border-radius: 2px;
}
#search_wlLine:hover{background-color: #2577ff;}
#flush{border-radius: 2px;}
.select_con dl dd a{width: 65px;text-align: center;}
.select_con dl dd a.now {
  background-color:#2577e3;
  width: auto;
}

.list_left{width: 1034px;background-color: #fff;}
.w1036{
	width: 1036px;
   
}
.wlzx_list{
	border: 0px;
	width: 1034px;
	height: 150px;
	padding-top: 20px;
	padding-bottom: 10px;
	overflow: hidden;
	margin-bottom: 1px;
	border-bottom: #e4e4e4 1px solid;
}
.select_con{width: 1034px;
border:0;
}
.wlzx_list_1{
	margin-left: 30px;
	
}
.wlzx_list_2{
	margin-left: 40px;	
}

.list_right{
	min-height: 272px;
    height: auto !important;
    width: 344px;
    padding: 0px 0px 0 20px;
    float: left;  
}

.tj_list{
    width: 342px;
    height: 224px;
    border: 1px solid #eee;
    margin-top:-1px;
    background: url(../images/list_wlzx/tj_wlgs.png) no-repeat top right #fff;
    transition: all .4s;
    }
.tj_list:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);}
.wlzx_list_2 p{line-height: 30px;}
.wlzx_list_2 .p1{margin-bottom: 10px;}
.wlzx_list_2 .p1 a{font-weight: bold;padding-right: 10px;}
.wlzx_list_2 .p3 img{display: none;}
.wlzx_list_2  i{color: #666;padding-left: 0px;font-size: 14px;}
.wlzx_list_2  font{color: #333;font-size: 14px;}
.wlzx_list_2 .p2 a{color: #333;font-size: 14px;}
.wlzx_list_2 .p2{position: relative;}
.wlzx_list_2 .p2 img{position: absolute;left: 105px;top: 3px;}
.wlzx_list_3 p{line-height: 30px;}
.wlzx_list_3 .p1{margin-top: 35px;}
.wlzx_list_3 p i{color: #666;}
.wlzx_list_6 .p1{margin-top: 20px;margin-bottom: 22px;}


/*显示隐藏S */
.toggle-btn {
    float: right;
    margin: 5px 0 0 4px;
    height: 24px;
    line-height: 24px;
    border: solid 1px #e8e8e8;
    padding: 0 9px;
    background: #f6f6f6;
    color: #6b6b6b;
    cursor: pointer;
    text-decoration: none;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}


.show-collapse .expand {
    display: none;
    margin-top: 2px;
}
.toggle-btn .arrow {
    margin-left: 8px;
    vertical-align: middle;
}
.icon-btn-arrow-up-2,.icon-btn-arrow-down-2{

	
}

.icon-btn-arrow-down-2 {
	margin-top: 5px;
    display: inline-block;
	background: url(../images/list_wlzx/xiajt.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 7px;
    cursor: pointer;
}
.show-collapse .collapse {
    display: inline-block;
    margin-top: 2px;
}
.toggle-btn .arrow {
    margin-left: 8px;
    vertical-align: middle;
}

.icon-btn-arrow-up-2 {
	margin-top: 5px;
   display: inline-block;
	background: url(../images/list_wlzx/up_jt.png);
	background-repeat: no-repeat;
    width: 12px;
    height: 7px;
    cursor: pointer;
   
}
/*显示隐藏E */

.select_con dl dd {
    min-height: 28px;
    padding: 10px 0 10px 120px;
    line-height: 30px;
    border: 1px #dcdcdc dashed;
    margin-top: -1px;
    border-left: 0;
    border-right: 0;
}
.wlgs_shiming,.wlgs_xinyong,.wlgs_danbao{

	height:20px;
	width:15.83px;
}
.wlgs_bg{width: 1920px;}

.list_left{float: left;border: 1px solid #eee;}
.left_main{
	width: 100%;
	min-height: 732px;

}
.left_bt{
	width: 100%;
	height: 96px;
	text-align: center;
	margin-top: 40px;
}
.left_bt span{color: #2577e3;
font-size: 28px;
}
.left_nr{
	width: 100%;
	height: 308px;
	
}
.left_nr_1{
	float: left;
	margin-left: 32px;
	width: 338px;
	height: 308px;
}
.left_nr_1 img{	
	width: 338px;
	height: 308px;}
.left_nr_2{
	float: left;
	margin-left: 22px;
	width: 612px;
	height: 308px;
 background: url(../images/article_wlzx/article_wlyq.png) no-repeat;
}
.left_jianjie_bt{
	clear: both;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #2577e3;
}
.left_jianjie_nr{
	width: 100%;
	min-height: 175px;
	margin-bottom: 30px;
}
.left_jianjie_bt span{float: left;display: block;font-size: 18px;color: #2577e3;line-height: 50px;font-weight: bold;}
.left_jianjie_nr p{padding:30px 27px 0 32px;line-height: 26px;font-size: 14px;text-indent: 2em;}
.left_nr_2 ul{width: 100%;height: 100%;}
.list_yq1{text-align: center;height: 20px;margin-top: 60px;font-size: 20px;color: #333;margin-bottom: 18px;}
.list_yq2{text-align: center;height: 20px;margin-bottom: 42px;font-size: 14px;color: #333;}
.list_yq3,.list_yq4,.list_yq5,.list_yq6{height: 30px;line-height: 30px;padding-left: 67px;}
.list_yq4 span{padding-right:30px;background: url(../images/article_wlzx/15qq.gif) no-repeat right 0px;}
.list_yq3 span,.list_yq4 span,.list_yq5 span,.list_yq6 span{font-size: 14px;color: #666;}
.list_yq6 a{color: #2577e3;padding-left: 10px;font-size: 14px;cursor: pointer;}
.xiantiao{
	float: left;
    width: 3px;
    height: 100%;
    background-color: #2577e3;
    border-radius: 1px;}
.list_yq1 img,.list_yq2 img{padding-right: 10px;
}
#wlLineFrom {
    width: 210px;
    background: url(../images/list_wlzx/start_addr.png) no-repeat 200px 8px #fff;
    background-size: 16px 17px;}
#wlLineTo {
    width: 210px;
    background: url(../images/list_wlzx/end_addr.png) no-repeat 200px 8px #fff;
    background-size: 16px 17px;
}
#wlgs{margin-left: 16px;}


.zx_bt,.zx_nr{
width:1036px;
height: 28px;
/* background: #f2f2f2; */
}
.bt01,.bt02,.bt03,.bt04,.bt05,.bt06{
float:left;
/* width:134.5px; */
width:140px;
/* margin-left: 2px; */
text-align:center;
height:28px;
line-height:28px;
color: #333;
font-size: 13px;
font-weight: bold;
}
.bt01{width: 240px;text-align: left;padding-left: 40px;}
.bt05{width: 180px;}
.nr01,.nr02,.nr03,.nr04,.nr05,.nr06{
/* width:134.5px; */
width:140px;
float: left;
text-align:center;
height:35px;
line-height:35px;
color:#333333;
font-size: 13px;
overflow: hidden;
}
.nr06{color: #2577e3;}
.nr01{width: 258px;text-align: left;padding-left: 22px;}
.nr05{width: 180px;}

.nr06:hover{ color: #2577ff;
transform: scale(1.02);font-weight: bold;}



#allmap {
	    width: 952px;
    height: 560px;
    position: absolute;
    z-index: 10;
    margin: 0;
    font-family: "微软雅黑";
    overflow: hidden; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;
    display: none;
}
