  *{
	padding:0px;
	margin:0px;
}

body{
	font:12px Verdana,Arial,Tahoma;
	font-family: "微软雅黑";
}


.line-list-ul2 ul{
	list-style:none;
}

  .linelist{
    width: 410px;
    position: relative;
    height: 435px;
    background-color:#fff;
    font-size: 14px;
    	letter-spacing: 1.1px;
  }
    .linelist2{
    height: 945px;
  }
  .line-list-ul,.line-list-ul2{
    width: 410px;
  }
 .line-list-ul2{margin-top: 0px;}
  .line-list-ul li{
    line-height: 1.7;
    padding: 3px 10px;
    white-space: nowrap;
    overflow: hidden;
  }
  .line-list-ul .current{
    position: relative;
    z-index: 2;
    left: -1px;
    top: -1px;
    border: 2px solid red;
    border-left-color: #fff;
  }
  .line-list-ul li:last-child.current{
   top:-2px;
  }
  .line-list-ul li i{font-style: normal;color: #f00;padding:0 5px}
  .line-list-ul li em{font-style: normal;color: #339933;padding:0 5px}
  .line-list-ul .line_bt1{height: 32px;line-height: 32px;color: #333;}
  .line-list-ul .current .line_bt1{font-weight: bold;}
  .line-list-ul .line_bt2{height: 32px;line-height: 32px;}
  .line-list-ul2 .line_bt1{height: 32px;line-height: 32px;}
  .line-list-ul2 .current .line_bt1{font-weight: bold;}
  .line-list-ul2 .line_bt2{height: 32px;line-height: 32px;}
  .line-list-ul2 li i{font-style: normal;color: #f00;}
  .line-list-ul2 li em{font-style: normal;color: #339933;}
  .line-list-echart{
  	background: #fff;
    position: absolute;
    border: 2px solid red;
    width: 875px;
    height: 419px;
    left: -878px;
    top: -1px;
    display: none;
  }
  .line-list-links{
    position: absolute;
    right: 35px;
    top: 68px;

  }
  .echartbox{
    width: 85%;
    height: 90%;
    margin-top: 20px;
    margin-left: 20px;
  }
  .line-list-links a{
    display: block;
    margin-bottom: 18px;
    border-radius: 5px;
    color: #fff;
    background: #169bd5;
    text-align: center;
    line-height: 40px;
    width: 80px;
    height: 40px;
  }

  .line-list-ul2 li{
    line-height: 1.7;
    padding: 10px 5px;
  }
  .line-list-ul2 .current{border-bottom: 1px solid #e4e4e4;}
  .line-list-ul2 .current:hover{border: 1px solid #f00;}
  .line-list-ul2 .current p{background-color: #f2f2f2;}
  .line-list-ul2 p{padding:0px 10px;}
  .echartbox2{padding:10px 10px}
  .echartbox2{
    display: none;
  }
  .current .echartbox2{
    display: block;
    margin-top: 10px;
  }
  .echartwrapper{
    width: 100%;
    height: 130px;
    margin: 10px 0;
  }
  .echartbox2 .zhong-info{height: 30px;line-height: 30px;}
  .echartbox2 .qing-info{height: 30px;line-height: 30px;}
  .echartbox2 .zhong-info-price{width: 140px;float: left;}
  .echartbox2 .qing-info-price{width: 140px;float: left;}
  .echartbox2 strong{font-weight: bold;}
  
  .hq-news-from {
    width: 408px;
    height: 34px;
    font-size: 0;
   border: 1px solid #eee;
   margin-top: 40px;
}
.hq-news-from form {
    padding: 0;
    margin: 0;
}
.hq-news-from .from-input {
    float: left;
    width: 133px;
    height: 34px;
    line-height: 34px;
    padding: 0 0 0 10px;
    font-size: 12px;
    margin: 0 0 0 0;
    /*border: 1px solid #eee;*/
    border:0px;
    border-radius: 0;
}
.hq-news-from img{float: left;margin: 12px 2.5px 0 2.5px; width: 15px;height: 8.7px;}
.hq-news-from .from-input::-webkit-input-placeholder{text-align: center;}
.hq-news-from a.hq-a-text:link, .hq-news-from a.hq-a-text:visited, .hq-news-from a.jgb {
    float: left;
    color: #fff;
    font-size: 12px;
    width: 100px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #3f94ee;
    text-decoration: none;
}
