/*物流专线 S */
body{background-color: #F9F9F9;}
.zx_sx{
/* PADDING-top: 6px;  */
OVERFLOW: hidden; LINE-HEIGHT: 50px;HEIGHT: 50px;  color:#585858; font-size:18px; font-weight:bold;
background-color: #fff;
/* border-bottom: 1px solid #ddd; */
border-bottom: 2px solid #2577E3;
}
.zx_sx span{ float: left;display: block;color: #2577e3;}
.zx_sx .biaozhi{	
	width: 3px;
	height: 18px;
	background-color: #2577e3;
	border-radius: 1px;margin:16px  12px 0 10px;
	}
.list_box{width: 1400px;  height: auto !important;margin: 0 auto; overflow: hidden;}
.list_left{width:100%;float: left;}
.w1130{
  /* width: 1130px; */
  width:100%;
    float: left;
/*    OVERFLOW: hidden;*/
    min-height: 400px;
}
 .search:hover{
  /* background: red; */
  opacity: 0.8;
}
#nr_a521:hover{
  opacity: 0.8;
}
#nr_a522:hover{
  background: #2577e3;
  color:#fff;
}
#nr_a522:hover a{
  color:#fff;
}
.tywlist{width: 1130px;}
.tyxboxWrap{     
	float: left;
    width: 100%;
    position: relative;  
    }
.list_right{
	min-height: 200px;
    height: auto !important;
    width: 260px;
    padding: 0px 0px 0 10px;
    float: left;
   
}

.list_hy_page2{
	width: 1400px;
}
.w260{
	width: 260px;
}
.tylist{
	width: 240px;
}
.select_con{width: 1128px;border-color: #E2E2E2;}
.select_con dl dt{font-size: 13px;
height: 39px;
line-height: 39px;
padding:3px 0 0 20px;
}

.list_input{
	width: 161px;
	height: 32px;
	border-radius: 2px;
	border: solid 1px #e5e5e5;
	background: none;
	color: #999;
	font-size: 14px;
	padding-left: 9px;
}
.list_button {
	width: 72px;
	height: 28px;
	border-radius: 2px;
	border: solid 1px #eb434d;
	background-color: #fff;
	color: #eb434d;
	font-size: 15px;
	background: no-repeat url(../images/01search.png) 45px 6px;
	text-align: left;
	/*padding-left: 8px;*/
	margin-left: 8px;	
	cursor: pointer;
}
#flush
{background: no-repeat url(../images/flush.png) 10px 6px;
padding-left: 30px;
width: 50px;
border: solid 1px #E3E3E3;
color: #999;
margin-left: 30px;


}

.list_img{ position: relative; top:3px;left: 5px;margin-right: 5px;}
.select_con dl dd a:hover, .select_con dl dd a.now { background: #EB434D; color: #fff;}
.ck_input{
	width: 14px;
	height: 14px;
	border: solid 1px #ccc;
	position: relative; top:-2px;right: 3px;
	cursor: pointer;}
.list_tiaoj {
  /* width: 1130px; */
  width:100%;
	height: 39px;
	background-color: #f1f1f1;
	/* border: solid 1px #e6e6e6; */
	/* margin-bottom: 14px; */
	/* background: no-repeat url(../images/list_wlzx/xiajt.png) #f1f1f1 363px 16px; */
	position: relative;
}
.list_tiaoj span {
	display: block;
	text-align: center;
	line-height: 39px;
	float: left;
	width: 94px;
	height: 39px;
	cursor: pointer;
	font-size: 13px;
	
}
.list_tiaoj .active {
	background-color: #ffffff;
	color: #eb434d;
}
#tj_price{
  width: 140px;
  height: 100px;
  position:absolute;left: 300px; top: 40px;
  margin-left: 0px;
  /* border-radius: 6px;*/
  display: none;
  background-color: #fff;
  box-shadow:0px 0px 20px rgba(0,0,0,0.3);
  padding-top: 15px;
  }
#tj_price1,#tj_price2{color: #ff6633;width: 140px;padding-bottom: 5px;}
#tj_price1:hover,#tj_price2:hover{color: #f00;}
            
.wlzx_list{
  /* width: 1128px; */
  width:100%;
	/* height: 120px; */
	padding-top: 20px;
	/* border: solid 1px #dfdfdf; */
	margin-top: -1px;
  background-color: #fff;
  float: left;
	transition: all .4s;	
}
.wzl_box{
  float: left;
  width: 1400px;
  border-bottom: 1px solid #ddd;
}
/* .wlzx_list:hover{
	transform: translateY(-3px);
    transition-delay: 0.1s;
    box-shadow: 0px 20px 20px -17px rgba(0, 0, 0, 0.40);
    opacity: 0.8;
    background-color: #C4E7FF;
    cursor: pointer;
  } */
	.wlzx_list:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);}
.cy_list_1 img{
  vertical-align: middle;
}
.wlzx_list li{
	height: 140px;
	float: left;
	/* overflow: hidden;	 */
}
.cy_list_1
.wlzx_list img{transition: 0.7s;}
.wlzx_list img:hover{transform: scale(1.05);}
/* .wlzx_list_1{
	width: 150px;
	margin-left: 9px;
	
}
.wlzx_list_2{
	width: 300px;
	margin-left: 20px;
	
}
.wlzx_list_3{
	width: 150px;
	margin-left: 30px;
	

}
.wlzx_list_4{
	width: 90px;
	margin-left: 70px;
	
}
.wlzx_list_5{
	width: 75px;
	margin-left: 65px;
	
}
.wlzx_list_6{
	width: 110px;
	margin-left: 130px;
	
} */

.wlzx_list_2 p{height: 26px; line-height: 26px;}
.wlzx_list_2 .p1{margin-bottom: 3px;}
.wlzx_list_2 .p1 a{color: #333333;font-size: 16px;font-weight: normal;}
.wlzx_list_2 .p1  font{color: #666666;font-size: 12px;padding-left: 5px;}
.wlzx_list_2 .p2  font{color: #2577e3;font-size: 13px;padding-left: 5px;}
.wlzx_list_2 .p3 font,.wlzx_list_2 .p4  font{color: #333;font-size: 13px;}
.wlzx_list_2 .p3 i,.wlzx_list_2 .p4  i{color: #666;font-size: 13px;padding-left: 5px;}

.wlzx_list_3 p{height: 27px; line-height: 27px;font-size: 13px;}
.wlzx_list_3 p i{ color: #999;}
.wlzx_list_3 p font{color:#fb5000;}
.wlzx_list_3 p span{color: #333;}
.wlzx_list_4 p{height: 27px; line-height: 27px;font-size: 13px;}
.wlzx_list_4 img{ margin-top: 5px;}
.wlzx_list_5 p{height: 27px; line-height: 27px;font-size: 12px;}
.wlzx_list_5 p i{ color: #999;}

.wlzx_list_6 p input {
	display: block;
	width: 102px;
	height: 26px;
	line-height: 26px;
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    border: solid 1px #dedede;
	
}
.wlzx_list_6 .p1,.wlzx_list_6 .p2 {margin-bottom: 12px;}
/* .wlzx_list_6 .p2 a input {margin-bottom: 12px;background-color: #2577e3;} */
.wlzx_list_6 .p1 input{
	background-color: #eb434d;
	color: #fff;
	border: 0px;
	height: 28px;
	
}
.wlzx_list_6 .p1 input:hover{background-color:#ff0000;}

.wlzx_list_6 .p3 input{
	
	background: no-repeat url(../images/article_wlzx/15qq.gif) 12px 3px;

	padding-left: 15px;
	width: 87px;
    
}
.tj_list{
	background-color: #fff;
    margin-top: -1px;
    border: 1px solid #dedede;
    width: 258px;
    font-size: 14px; 

    }
.tj_list:hover{background-color: #f9f9f9;}
.tj_list p{
	height: 28px;
	line-height: 28px;	
	padding-left: 10px;	
	PADDING-RIGHT: 0px;
	}
	
.tj_list .p1{
	height: 50px;
	line-height: 50px;	
}
.tj_list .p1 span{
	font-size: 16px;	
	color: #666;	
}
.tj_list .p1 i{
    color: #c5c5c5;
    font-size: 16px;	
    padding:0 3px 0 3px;
}
.tj_list .p2 span{
padding:0 0 0 5px;
}

.tj_list .p3 i,.tj_list .p3 em,.tj_list .p4 i{
	font-size: 13px;
	color: #999;	
}
.tj_list .p3 font,.tj_list .p4 font{
	font-size: 13px;
	color: #eb434d;
}
.tj_list .p3 span,.tj_list .p3 font,.tj_list .p4 span{
	font-size: 13px;
	color: #666;
	
}
.tj_list .p3 i{float: left;width: 65px;height: 28px;}
.tj_list .p3 em{float: left;width: 45px;height: 28px;}
.tj_list .p3 span{float: left;width: 50px;height: 28px;}
.tj_list .p3 font{float: left;width: 60px;height: 28px;}
.tj_list .p5 img{
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 8px;	
}
.tj_list img{transition: 0.7s;}
.tj_list  img:hover{transform: scale(1.05);}
.tj_list .p6{
border-top: solid 1px #cde0ff;
text-align: center;
}
.tj_list .p6 span{
	color: #2577e3;
	font-size: 13px;
}
/*物流专线 E */

/*时效查询 S */
.cy_list_1{
	width: 400px;
	margin-left: 30px;

	
}
.cy_list_2{
	width: 150px;
	margin-left: 80px;
	
}
.cy_list_3{
	width: 100px;
	margin-left: 80px;
	

}
.cy_list_4{
	width: 100px;
	margin-left: 80px;	
}

.cy_list_5{
	width: 100px;
	margin-left: 100px;
	
}
.wlzx_list_6{
	width: 100px;
	margin-left: 100px;
	
}
.cy_list_7{
	width: 100px;
	margin-left: 50px;	
}
.cy_list_1 .p1{margin-bottom: 3px;font-size: 16px;}
.cy_list_1 .p1 a span{
  color:#333333;
  font-size: 16px;
  font-weight: bold;
}
.cy_list_1 .p1:hover a span{
color:#ff5833;
cursor: pointer;
}
.cy_list_1 p{height: 26px;line-height: 26px;font-size: 14px;}
.cy_list_1 p a{color: #eb434d;font-size: 16px;}
.cy_list_1 p i{font-size: 14px; color: #666;}
.cy_list_1 p span{font-size: 14px; color: #666;padding:0 2px 0 2px;}
.cy_list_1 p font{font-size:14px;color: #333;}

.cy_list_2 p{height: 27px; line-height: 27px;font-size: 14px;}

.cy_list_2 p span{color: #fb5000 !important;font-size: 14px;}
.cy_list_2 p i{font-size: 14px;}
.cy_list_4 p{height: 26px;margin:0 0 5px 0 ;}
.cy_list_7 p{color: #fb5000;font-size: 14px;}
.wlzx_list_6 .p2 input{
	background-color: #eb434d;
	color: #fff;
	border: 0;
}
/*车源信息 E */

/*货源信息 S */
/* .cy_list_1{
	width: 351px;
	margin-left: 14px;

	
}
.cy_list_2{
	width: 182px;
	margin-left: 100px;
	
}
.cy_list_3{
	width: 75px;
	margin-left: 80px;
	

}
.cy_list_4{
	width: 80px;
	margin-left: 50px;
	
}
.cy_list_5{
	width: 102px;
	margin-left: 60px;
	
} */
.cy_list_1 .p1{margin-bottom: 3px;overflow: hidden;text-overflow: ellipsis;
  white-space: nowrap;}
.cy_list_1 p{height: 26px;line-height: 26px;}
.cy_list_1 p a{color: #eb434d;font-size: 16px;}
.cy_list_1 p i{font-size: 13px; color: #666;}
.cy_list_1 p span{color: #eb434d;font-size: 13px;}
.cy_list_1 p font{font-size:13px;color: #333;}

.cy_list_2 p{height: 27px; line-height: 27px;}

.cy_list_2 p span{color: #666;font-size: 13px;}
.cy_list_2 p i{font-size: 13px;}
.cy_list_2 p font{color: #333;}
.cy_list_3 p{height: 27px; line-height: 27px;}
.wlzx_list_6 .p2 .check_btn{
  /* background-color: #eb434d; */
  /* background-color: #2577e3; */
  width: 104px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  display: block;
	/* color: #2577e3; */
  border-radius: 3px;
  border: solid 1px #8dadd8;
  /* background-color: #2577e3; */
  color: #2577e3;
  
}
/* .active{
  background-color: #2577e3;
  color: #fff;
} */
.check_btn:active{
  opacity: 0.5;
}
#wlzx_list_view:hover{background-color: #f1f1f1;}
#wlzx_list_view{border: solid 1px #dedede;background-color: #f9f9f9;font-size: 13px;color: #333;}
/*货源信息 E */

.list_none{display: none;}
.list_none span{float: left;width: 100%;text-align:center;height: 40px;line-height: 40px;font-size: 16px;margin-top: 40px;margin-left: -140px}
.list_none img{float: left;width: 300px;height: 160px;margin:20px 0 20px 400px;}

.tj_none{display: none;background-color: #fff;width: 100%;height: 220px;}
.tj_none span{float: left;width: 100%;text-align: center;height: 100px;line-height: 100px;font-size: 14px;margin-top: 0px;
}
.hy_tj_none{height: 186px;}
.cy_tj_none{height: 290px;}

/* 出发地到达地 */
.list_search{
  /* margin: 0 60px; */
}
.order-form-item{
  float: left;
  /* width: 470px; */
  /* width: 50%; */
  margin-left: 50px;
}
.order-form-item:first-child .order-form-label{
  padding-left: 10px;
  
}
.order-form-label,.order-form-input{
  float: left;
  line-height: 40px;
  position: relative;
  
}
.order-form-label{
  text-align: right;
}
.shixiao-input{
  width: 340px;
	height: 45px;
	border-radius: 2px;
  border: solid 1px #d2d2d2;
  padding-left: 20px;
}
.order-line-from{
  /* margin-bottom: 20px; */
  background: #fff;
  padding: 20px 80px;
}
.order-line-from .qd{
  position: absolute;
  right:13px;
  top:7px;
}
.boxx{
  float: left;
}
#nr056{
  width: 300px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.order-line-from .wzl{
  position: absolute;
  right:13px;
  top:7px;
}
.search{
  display: block;
  width: 100px;
  height: 47px;
  line-height: 47px;
  background-image: linear-gradient(
  #79b3ff, 
  #79b3ff), 
  linear-gradient(
  #2577e3, 
  #2577e3);
    background-blend-mode: normal, 
  normal;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.cy_list_1 .bgr{
  float: left;
}
.cy_list_1 .p1 span{
  float: left;
}
.cy_list_1 #startLocation,#endLocation{
  width: 114px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
/* 为您推荐下面的列表 */
.wzl_box{
  background: #fff;
}
.numlll{
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin: -2px 5px;
  vertical-align: middle;
}
.wzl_log span{
  display: block;
  width: 128px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: url(/templets/default/images/wzlImg/bule.png) no-repeat;
}
.wzl_log .bgr{
  display: block;
  width: 128px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: url(/templets/default/images/wzlImg/red.png) no-repeat;
}
.qiehuan{cursor: pointer;}
.qiehuan:active{
  cursor: pointer;
  /* transform: scale(2); */
  transition-duration:0.8s;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);		/* IE 9 */
  -webkit-transform: rotate(180deg);	/* Safari and Chrome */
  -o-transform: rotate(180deg);		/* Opera */
  -moz-transform: rotate(180deg);		/* Firefox */
}
.rotate{
  cursor: pointer;
  transition-duration:1s;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);		/* IE 9 */
  -webkit-transform: rotate(180deg);	/* Safari and Chrome */
  -o-transform: rotate(180deg);		/* Opera */
  -moz-transform: rotate(180deg);		/* Firefox */
}