/* 快递查询 */
.searchbox{ margin:0 auto; width:96%;margin: 2% 2% 2% 2%;}
.search{ float:left;width:81%; height:38px; background:#f0f0f0; border:none; padding-left:1%; font-size:18px; color:#333333;font-family:arial;}
.search_btn{float:left;width:18%; height:38px; display:block; line-height:28px; text-align:center; font-size:16px;color:#FFF;background:#FF5833;border:1px solid #FF5833;}
.result-detail{margin:-9px 0 0 0px;padding:0 0 10px 10px;list-style:none;line-height:28px;font-size:12px;}
.result-detail li{border-left:1px solid #d9d9d9}
.result-detail li:before{content:'';border:3px solid #fff;background-color:#d9d9d9;display:inline-block;width:5px;height:5px;border-radius:5px;margin-left:-6px;margin-right:10px}
.result-detail .date{font-weight:700;margin-right:8px;font-family:arial;display:inline-block}
.result-detail .text{width:97%;display:inline-block;vertical-align:text-top;line-height:1.3em; padding:5% 2% 5% 1%; background:#f4f4f4}
.result-detail .latest:before{background-color:#fe4300;border-color:#f8e9e4}
.yqlist {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px;background:#FFFFFF;}
.yqlist LI {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE:12px;  LINE-HEIGHT: 28px;  PADDING-TOP: 0px; PADDING-bottom: 0px; FLOAT: left; width:99%;margin:0px 0px; text-align:center}
.yqlist LI H1{font-size:24px;font-weight:bold;line-height:30px;text-align:center;color:#FF5833;margin-top:5px;}
.yimg {margin:0 auto;height: 100px;width: 100px;background: #fff;padding:10px 10px 10px 10px;border-radius:100px;}
/* 通用左大右小框架 */
.tyxbox {margin: 0 auto;width:1400px;overflow: hidden; }
.tyxboxWrap {float: left;width: 100%;position: relative;}
.tyxright {position: relative;PADDING: 0px 0px 0 20px;width: 427px; background-color:#f7f7f7;margin-left: 0px; word-wrap:break-word;word-break:break-all; }
.tyxleft {width: 953px;float: left;position: relative; }
.tyxleft,.tyxright {min-height: 200px;height: auto !important;height: 200px;}
.w848 {width:848px;float:left;OVERFLOW: hidden; position:relative; }
.w846 {width:846px;float:left;OVERFLOW: hidden; border:1px solid #dedede;}
.w322 {width:322px; float:left;OVERFLOW: hidden;}
.w427 {width:425px; float:left;OVERFLOW: hidden; border:1px solid #dedede;}
.w427s {width:427px; float:left;OVERFLOW: hidden;}
.w412 {width:414px;OVERFLOW: hidden; border:1px solid #dedede;}
.w453 {width:453px;OVERFLOW: hidden; border:1px solid #dedede;background-color: #fff;}
.w585 {width:583px;OVERFLOW: hidden;}
.w583 {width:583px;OVERFLOW: hidden; border:1px solid #dedede;}
.w506 {width: 506px;float:left;OVERFLOW: hidden;}
.ad506 {width: 506px; float:left;OVERFLOW: hidden;   background:#FFFFFF; padding:0px 0px 5px 0px;}
/*轮播框*/
.slideBox1{ width:405px;height:225px;float:left; position:relative ;margin: 10px 10px 10px 10px;}
.slideBox1 .hd{  overflow:hidden; z-index:1; width: 63px;height: 21px;position: absolute;right: 5px;bottom: 5px; }
.slideBox1 .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox1 .hd ul li{width: 21px;height: 21px;float: left;cursor: pointer; background: url(../images/icon.png) 0 -178px no-repeat; }
.slideBox1 .hd ul li.on{background: url(../images/icon.png) 0 -199px no-repeat;}
.slideBox1 .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:10px;height:10px;margin:5px;overflow:hidden;background:#fff;filter:alpha(opacity=50);opacity:0.5;line-height:999px;border-radius:50%;}
.slideBox1 .hd ul li.on{background:#f00;}
/*
.slideBox1 .hd ul li{width: 21px;height: 21px;float: left;cursor: pointer; background: url(../images/icon.png) 0 -178px no-repeat; }
.slideBox1 .hd ul li.on{background: url(../images/icon.png) 0 -199px no-repeat;}
*/
.slideBox1 .bd{ position:relative; height:100%; z-index:0;   }
.slideBox1 .bd li{ zoom:1; vertical-align:middle; }
.slideBox1 .bd img{ width:405px; height:225px; display:block;  }
.slideBox1 .bd .con{ height:28px; line-height:28px; text-align:center; font-weight:bold; background:#f6f6f6; }
.focusBox{ width:275px; height:243px; overflow:hidden; position:relative; border:1px solid #ddd;  }
.focusBox .hd{ position:absolute; z-index:1; right:3px; bottom:34px; }
.focusBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.focusBox .hd ul li{ float:left; margin-right:3px;  width:14px; height:14px; line-height:14px; text-align:center; background:#ddd; cursor:pointer; font-family:Arial; color:#666; }
.focusBox .hd ul li.on{ background:#f00; color:#fff;     }
.focusBox .bd{ position:relative;  }
.focusBox .bd .pic{ line-height:0px;  }
.focusBox .bd .pic img{ width:300px; height:225px;}
.focusBox .bd .con{ height:28px; line-height:28px; text-align:center; font-weight:bold; background:#f6f6f6; }
/*图文推荐左右两有边框列表*/
.wztwzy { float:left; width:100%; font-size:12px; line-height:21px;  overflow:hidden;POSITION: relative; margin-top:0px;PADDING-LEFT: 0%;padding: 10px 0px  5px 0px; text-indent:2em }
.wztwgw{bottom:5px;right:0px;position:absolute;color:#666;height:21px;line-height:21px;width:90px;padding:0px 0px 0px 0px; text-align:center;}
.wztwgw:hover{color:#666;}
/* 首页轮播通栏 */
.bannerbox{width:100%;position:relative;height:480px;overflow:hidden;}
.fullSlide{width:100%;position:relative;height:480px;background:#000; overflow:hidden;MIN-WIDTH: 1190px!important;}
.fullSlide .bd{margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul{width:100% !important;}
.fullSlide .bd li{width:100% !important;height:480px;overflow:hidden;text-align:center;}
.fullSlide .bd li a{display:block;height:410px;}
.fullSlide .hd{width:100%;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul{text-align:center;}
.fullSlide .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:20px;height:20px;margin:5px;overflow:hidden;background:#000;filter:alpha(opacity=50);opacity:0.5;line-height:999px;border-radius:50%;}
.fullSlide .hd ul .on{background:#f00;}
.fullSlide a.prev,.fullSlide a.next{display:block;position:absolute;z-index:1;top:45%;margin-top:-30px;left:5%;z-index:1;width:40px;height:40px;background:url(../images/icon.png) -166px -249px  no-repeat;cursor:pointer;filter:alpha(opacity=40);opacity:0.4; border-radius:60px;}
.fullSlide a.next{left:auto;right:5%;background-position:-54px -238px;}
.fullSlide a.prev:hover{background-position:-106px -249px;}
.fullSlide a.next:hover{background-position:6px -238px;}
/*---首页搜索---*/
.SsearchBox{ width:656px;  text-align:left; position:absolute;height:138px; left:50%; margin-left:-328px; top:40%; margin-top:-44px; z-index:10; background:#FA5000; padding:20px 20px 30px 20px;filter:alpha(opacity=90);opacity:0.90;}
.SsearchBox .hd{ height:42px; line-height:42px; padding:0 20px; border-bottom:1px solid #ddd;  position:relative; }
.SsearchBox .hd ul{ float:left; position:absolute; left:0px; top:0px; height:40px;   }
.SsearchBox .hd ul li{ float:left; padding:0 15px;background:#FA5000; font-size:14px; font-weight:bold; margin-right:4px;}
.SsearchBox .hd ul li.curs{ margin-right:0px;}
.SsearchBox .hd ul li a{ color:#FFFFFF}
.SsearchBox .hd ul li.on{ height:42px;  background:#fff; border:1px solid #ddd; border-bottom:2px solid #fff; cursor:pointer; }
.SsearchBox .hd ul li.on a{ color:#666666}
.SsearchBox .bd{ padding:30px; background:#FFFFFF; height:40px;}
/*---内搜索---*/
.TsearchBox{ width:94%;  text-align:left; z-index:10; background:#FA5000; padding:2% 20px 2% 20px;filter:alpha(opacity=90);opacity:0.90;}
.TsearchBox .hd{ height:42px; line-height:42px; padding:0 20px; border-bottom:1px solid #ddd;  position:relative; }
.TsearchBox .hd ul{ float:left; position:absolute; left:0px; top:0px; height:40px;   }
.TsearchBox .hd ul li{ float:left; padding:0 15px;background:#FA5000; font-size:14px; font-weight:bold; margin-right:4px;}
.TsearchBox .hd ul li.curs{ margin-right:0px;}
.TsearchBox .hd ul li a{ color:#FFFFFF}
.TsearchBox .hd ul li.on{ height:42px;  background:#fff; border:1px solid #ddd; border-bottom:2px solid #fff; cursor:pointer; }
.TsearchBox .hd ul li.on a{ color:#666666}
.TsearchBox .bd{ padding:30px; background:#FFFFFF; height:40px;}
/*---搜索页面专用---*/
.swrap{ width:100%;  background:url(../images/bg3.jpg) #E2E2E2 no-repeat top  center ;MIN-WIDTH: 884px;!important;MIN-HEIGHT: 1080px;!important;}
.NsearchBox{ width:844px;  text-align:left; position:absolute;height:138px; left:50%; margin-left:-422px; top:40%; margin-top:-44px; z-index:10; background:#FA5000; padding:20px 20px 30px 20px;filter:alpha(opacity=90);opacity:0.90;}
.NsearchBox .hd{ height:42px; line-height:42px; padding:0 20px; border-bottom:1px solid #ddd;  position:relative; }
.NsearchBox .hd ul{ float:left; position:absolute; left:0px; top:0px; height:40px;   }
.NsearchBox .hd ul li{ float:left; padding:0 15px;background:#FA5000; font-size:14px; font-weight:bold; margin-right:4px;}
.NsearchBox .hd ul li.curs{ margin-right:0px;}
.NsearchBox .hd ul li a{ color:#FFFFFF}
.NsearchBox .hd ul li.on{ height:42px;  background:#fff; border:1px solid #ddd; border-bottom:2px solid #fff; cursor:pointer; }
.NsearchBox .hd ul li.on a{ color:#666666}
.NsearchBox .bd{ padding:30px; background:#FFFFFF; height:40px;}
.NsearchBox .logo{position:absolute;left:50%; margin-left:-127px; top:-90px; color:#CCCCCC}
.NsearchBox .logo img{position:absolute;left:50%; top:-0px; color:#CCCCCC}
/*---通用搜索参数---*/
.zsearch { float:left; width:100%; color:#666; height:90px; font-size:12px; text-align:center}
.zsearch p{ float:left; width:100%; text-align:center; line-height:28px; font-size:12px; padding-top:10px;}
.zsearch .input1{ width:150px; height:24px; line-height:24px; background: url('../images/icon.png') no-repeat -63px -94px;  cursor:pointer; border: 0px #e5e5e5 solid; padding:0px 2px 0px 10px; color:#999999; }
.zsearch .button {width:70px; height:21px; margin-top:0px;  line-height:21px; text-align:right;padding-right:5px; color:#FFF;background: url(../images/icon.png)#FF5833 no-repeat -240px -90px; border: 0px #e5e5e5 solid;}
.zsearch b .button:hover{background: url(../images/icon.png)#232323 no-repeat -240px -90px;}
/* 通用栏目导航一 */
.Headerna {PADDING-top: 6px;PADDING-left: 30px; OVERFLOW: hidden; LINE-HEIGHT: 42px;HEIGHT: 42px; POSITION: relative; color:#585858; font-size:16px; font-weight:bold; font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma; background: url(../images/sHeadern.jpg)#fff no-repeat 10px 22px; }
.Headerna span {FONT-WEIGHT: normal; FONT-SIZE: 12px; RIGHT: 5px; POSITION: absolute;TOP: 7px; TEXT-ALIGN: right}
.Headerna span a{PADDING-RIGHT: 10px; PADDING-LEFT: 25px; color:#7F7F7F;}
.Headerna span a:hover {color:#F98300;}
.Headerna span A:link,sHeadern span A:visited {COLOR:#7F7F7F}
/* 通用栏目导航二 */
.Headernb {PADDING-top: 6px;PADDING-left: 30px; OVERFLOW: hidden; LINE-HEIGHT: 42px;HEIGHT: 42px; POSITION: relative; color:#585858;border-bottom: 1px #e5e5e5 solid; font-size:16px; font-weight:bold; font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma; background: url(../images/sHeadern.jpg)#fff no-repeat 10px 22px; }
.Headernb .tag{ padding: 2px 12px  2px 12px; margin-right:0px; color: #666; margin-right: 5px; line-height: 20px; display: inline-block; _margin-bottom: 5px;BORDER: #FF5833 1px solid; color:#fff;  font-size:12px; margin-left:5px;background: url(../images/close_ico.png)#FF5833 no-repeat right -37px;}
.Headernb .tag:hover{ background: url(../images/close_ico.png)#fff no-repeat right 0px;color: #666;}
.Headernb span {FONT-WEIGHT: normal; FONT-SIZE: 12px; RIGHT: 5px; POSITION: absolute;TOP: 7px; TEXT-ALIGN: right}
.Headernb span a{PADDING-RIGHT: 10px; PADDING-LEFT: 25px; color:#7F7F7F;}
.Headernb span a:hover {color:#F98300;}
.Headernb span A:link,sHeadern span A:visited {COLOR:#7F7F7F}
/* 通用广告框架 */
.ad828 {float:left;width: 846px;  padding:10px 0px 10px 0px;text-align:center;border:1px solid #dedede; }
.ad300 { float:left;width: 300px; height:250px; padding:10px 10px 10px 10px;text-align:center;border:1px solid #dedede; }
/* 内页展示框架 */
.zxboxs { width:848px;float:left;OVERFLOW: hidden; position:relative; background: url(../images/dcicon.png) no-repeat center;}
.zxw45 {width:45%;OVERFLOW: hidden; position:relative; BORDER: #DEE0E1 1px solid;}
.zxw49 {width:49%;OVERFLOW: hidden; position:relative; BORDER: #DEE0E1 1px solid;}
.zxw60 {width:60%;OVERFLOW: hidden; position:relative; BORDER: #DEE0E1 1px solid;}
.zxw56 {width:55%;OVERFLOW: hidden; position:relative; BORDER: #DEE0E1 1px solid;}
.zxw45s {width:42.8%; position:relative;}
.zxw38 {width:38%;OVERFLOW: hidden; position:relative; BORDER: #DEE0E1 1px solid;}
.zxw70 {width:70%;OVERFLOW: hidden; position:relative; BORDER: #DEE0E1 1px solid;}
.zxw20 {width:20%;OVERFLOW: hidden; position:relative; BORDER: #DEE0E1 1px solid;}
.zxw90 {width:90%;OVERFLOW: hidden; position:relative; BORDER: #DEE0E1 1px solid;}
.zxw100 {width:100%;OVERFLOW: hidden; position:relative; }
.zxw70s {width:70%;OVERFLOW: hidden; position:relative;}
.zxw30s {width:28%;OVERFLOW: hidden; position:relative;BORDER: #DEE0E1 1px solid;}
/* 微信通用栏目导航 */
.lxlist {PADDING-RIGHT: 10px; PADDING-LEFT: 8px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px}
.lxlist LI { PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-TOP: 3px; TEXT-ALIGN: center;}
/* 内页标题 */
.wntit {WIDTH: 848px;  MARGIN:0px auto;  margin:20px 0px; }
.wntit H1{font-size:24px;font-weight:bold;line-height:30px;text-align:center;color:#FF5833;margin-top:5px;}
.wntit H1 span{display:inline-block;width:40px;height:20px; vertical-align:middle;background-image:url(../images/dcicon.png);background-repeat:no-repeat;background-position:0px 0px;margin:0px 0px 0 0px;}
.wntit H2{font-size:12px; font-weight:normal;line-height:30px;text-align:center;margin-top:5px;}
/* 内页信息列表 */
.zxlists {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;}
.zxlists LI { FONT-SIZE:12px;  LINE-HEIGHT: 28px; height:28px;  PADDING-TOP: 5px; PADDING-bottom: 5px; FLOAT: left; width:100%; text-align:left;BORDER-BOTTOM: #DEE0E1 1px dotted; overflow:hidden; }
.zxlists LI span{ float:left;FONT-SIZE: 14px;PADDING-RIGHT: 10px; PADDING-LEFT: 0px;  LINE-HEIGHT: 28px; height:28px;  PADDING-TOP: 0px; PADDING-bottom: 0px;DISPLAY: inline-block; min-width:104px;max-width:104px;text-align:right; font-weight:bold;}
.zxlists LI .tag {padding: 5px 10px  5px 10px; margin-left:0px; color: #666; margin-right: 4px; line-height: 21px; display: inline-block; _margin-bottom: 5px;background: #232323;BORDER: #232323 1px solid; color:#fff;font-family:"微软雅黑";font-size:14px; font-weight:bold; }
.zxlists LI .tag:hover{ background: #232323; color: #fff;BORDER: #232323 1px solid;}
.zxlists LI .cur {padding: 5px 3px  5px 3px; margin-left:0px; color: #666; margin-right: 4px; line-height: 21px; display: inline-block; _margin-bottom: 5px;background: #FF5833;BORDER: #FF5833 1px solid; color:#fff }
.zxlists LI .cur:hover{ background: #232323; color: #fff;BORDER: #232323 1px solid;}
.zxlists LI.curs {BORDER-BOTTOM: #DEE0E1 0px dotted; }
/* 通用报价框架 */
.ty_bjs {width:848px;float:left;OVERFLOW: hidden; position:relative; }
.ty_bj {  width:848px; MARGIN:0px auto;}
.ty_bj  li{ float:left; width:108px; height:80px; border:1px solid #dedede; margin-left:-1px;}
.ty_bj  li h3{ font-size:12px;  text-align:center; border-bottom:1px solid #dedede; padding:10px 0px;}
.ty_bj  li p{ float:left; width:100%; text-align:center; line-height:28px; font-size:12px; padding-top:10px;}
.ty_bj  li p em{ color:#FF0000}
.ty_bj  li.cur{ width:150px; margin-left:0px;}
.ty_bj  li.curs{ width:150px;}
/* 内页内容展示框架 */
.nycontent{WIDTH: 98%;MARGIN:0px auto; overflow:hidden; PADDING-TOP: 20px;FONT-SIZE: 12px;COLOR: #666; PADDING: 10px 1% 10px 1%; LINE-HEIGHT: 28px; POSITION: relative;}
/*---通用企业信息展示---*/
.clogo { float:left; width:300px; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px;  background-color:#FFFFFF}
.clogo IMG {VERTICAL-ALIGN: middle; width:300px; height:225px;}
.cxlist {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; }
.cxlist LI {PADDING-RIGHT: 0px; PADDING-LEFT: 0;  PADDING-right: 5px; FONT-SIZE:12px;  LINE-HEIGHT: 23px; height:23px;  PADDING-TOP: 5px; PADDING-bottom: 5px; FLOAT: left; width:100%; text-align:left;BORDER-BOTTOM: #DEE0E1 1px dotted; overflow:hidden;}
.cxlist LI span{ float:left;FONT-SIZE: 14px;PADDING-RIGHT: 10px; PADDING-LEFT: 0px;  LINE-HEIGHT: 24px; height:24px;  PADDING-TOP: 0px; PADDING-bottom: 0px;DISPLAY: inline-block; width:80px; min-width:80px;max-width:80px;text-align:right;}
.cxlist LI .tag{ padding: 10px 0px  10px 0px;  color: #666; margin-left: 20px; line-height: 15px; display: inline-block; _margin-bottom: 0px;background: #FA5000;BORDER: #FA5000 1px solid; color:#fff;  width:130px;font-size:14px; font-weight:800;font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma; text-align:center; }
.cxlist LI .tag:hover{ background: #232323; color: #fff;BORDER: #232323 1px solid;}
.cxlist LI.curs {BORDER-BOTTOM: #DEE0E1 0px dotted; }
.cxlist LI.cura {BORDER-BOTTOM: #DEE0E1 0px dotted; height:42px; line-height:42px; }
/*### layout wd ###*/
.xgbox{width:100%; position:relative; z-index:0}
.xgbox .wd1,.xgbox .wd2,.xgbox .wd3,.xgbox .wd4,.xgbox .wd5,.xgbox .wd6,.xgbox .wd7,.xgbox .wd8,.xgbox .wd9,.xgbox .wd10,.xgbox .wd11,.xgbox .wd12,.xgbox .wd13,.xgbox .wd14,.xgbox .wd15,.xgbox .wd16,.xgbox .wd17,.xgbox .wd18,.xgbox .wd19,.xgbox .wd20,.xgbox .wd21,.xgbox .wd22,.xgbox .wd23,.xgbox .wd24{display:inline;float:left;margin-left:10px;overflow-y:hidden; line-height:24px;}
.xgbox .wdnomargin{margin-left:0;}
.wd-lbsm{border-top:0px #f0f0f0 solid;background:#fcfcfc;line-height:24px; }
.wd-lbsm div{ height:30px;font-size:14px;background:#fcfcfc;}
.wd-lbxq div{padding: 5px 0;background:#fff; font-size:12px;}
/* 查看详情 车长 载重 50 车牌 类型用60 日期用80*/
.wd1{width:50px;}
.wd2{width:60px;}
.wd3{width:80px;}
.wd4{width:178px;}
.wd5{width:230px;}
.wd6{width:93px;}
.wd7{width:100px;}
.wd8{width:97px;}
.wd9{width:290px;}
.wd10{width:310px;}
.wd11{width:322px;}
.wd12{width:390px;}
.wd13{width:302px;}
.wd14{width:272px;}
.wd15{width:110px;}
.wd16{width:258px;}
.wd16 i{ width:20px; height:20px; display:inline-block;position: relative;vertical-align: middle; background: url('../images/icon.png') no-repeat -332px -322px; }
.wd17{width:261px;}
.wd17 i{ width:20px; height:20px; display:inline-block;position: relative;vertical-align: middle; background: url('../images/icon.png') no-repeat -332px -322px; }
.wd18{width:272px;}
.wd18 i{ width:20px; height:20px; display:inline-block;position: relative;vertical-align: middle; background: url('../images/icon.png') no-repeat -332px -322px; }
.wd19{width:220px;}
.wd20{width:126px;}
.wd21{width:830px;}
.wd22{width:870px;}
.wd23{width:60px;}
.wd24{width:1002px;}
/* 清理浮动 */
.fn-clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.fn-clear {*zoom:1; /* for IE6 IE7 */}
.wd-lbdb{border-top:1px #f2f2f2 solid;}
/* 通用列表类框架 */
.tywlist { float:left; width:846px; BORDER-bottom: #f0f0f0 1px solid; }
.tywlist li{ float:left; width:100px;text-align:left; padding-top:10px;}
.tywlist li {min-height: 120px;height: auto !important;height: 120px;}
.tywlist li i{ padding:0px 5px 0px 0px; BORDER-right: #ccc 1px solid; height:20px;}
.tywlist li i.cur{ BORDER-right: #ccc 0px solid;}
.tywlist li h3{ font-size:14px; font-weight:bold; text-align:left; line-height:28px;}
.tywlist li h4{ font-size:14px; font-weight:bold; text-align:left; line-height:28px;}
.tywlist li p{ float:left; width:100%;  line-height:28px; font-size:12px; padding-top:0px;}
.tywlist li.w170{ float:left; width:170px;}
.tywlist li.w170 img{ width:150px; height:113px; padding:0px 10px 10px 10px;}
.tywlist li.w370{ float:left; width:370px;}
.tywlist li.w140{ float:left; width:140px; text-align:center;}
.tywlist li.w163{ float:left; width:163px; text-align:left}
/* 快递园区数据 */
.tywlist li.w533{ float:left; width:533px;}
/* 报价数据 */
.tywlist li.w530{ float:left; width:530px; padding-left:10px; }
/* 货源车源数据 */
.tywlist li.w693{ float:left; width:693px; padding-left:10px; }
/* 通用提交按钮 */
.wlqt{color:#666;height:21px;line-height:21px;width:100%;padding:0px 0px 0px 0px; text-align:center;font-family:"微软雅黑";font-size:14px;color:#FF5833; overflow:hidden;}
.wlgw{background:#FF5833;color:#fff;height:21px;line-height:21px;width:100%;padding:5px 0px 5px 0px; text-align:center;font-family:"微软雅黑";font-size:14px;color:#FF5833; margin:0px 0 5px 0; }
.wlgw:hover{color:#fff;background:#323232;}
.wlbh{color:#999;height:21px;line-height:21px;width:100%;padding:5px 0px 6px 0px; text-align:center; font-size:12px;}
.wlfh{background:#FF5833;color:#fff;height:21px;line-height:21px;width:140px;padding:5px 0px 5px 0px; text-align:center;font-family:"微软雅黑";font-size:14px;color:#fff; margin:0px 0 5px 0; }
.wlfh:hover{color:#fff;background:#323232;}
.lbxq{background:#FF5833;color:#fff;height:20px;line-height:20px;padding:5px 5px 5px 5px; width:50px; text-align:center;;font-size:12px;color:#fff; }
.lbxq:hover{color:#fff;background:#323232;}
/* 文章内容展示 */
.wtitle {WIDTH: 848px;  MARGIN:0px auto;  margin-top:10px; height:84px;}
.wtitle H1 { float:left;WIDTH: 848px;FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #666; LINE-HEIGHT: 36px; height:36px; overflow:hidden; padding:0px 0px 10px 0px; text-align:center;}
.wtitle .time {PADDING-RIGHT: 0px; PADDING-LEFT: 0px;  LINE-HEIGHT: 28px;TEXT-ALIGN: center;FONT-SIZE: 12px;COLOR: #666;WIDTH: 848px;float:left;}
.newzy {WIDTH: 848px; MARGIN:0px auto;  PADDING-TOP: 10px;FONT-SIZE: 12px;COLOR: #666; PADDING-BOTTOM: 10px; LINE-HEIGHT: 30px; height:40px;}
.newzy span{FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #F76C0F; padding-left:20px;}
.newscontent{WIDTH: 848px;MARGIN:0px auto; overflow:hidden; PADDING-TOP: 20px;FONT-SIZE: 12px;COLOR: #666; PADDING-BOTTOM: 20px; LINE-HEIGHT: 24px; POSITION: relative;}
/* 文章内容关联性 */
.news_pp{width:848px;margin:0px auto; border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4; padding:10px 0px;}
.news_pp dl{ margin:0px; padding:0px;}
.news_pp dl dt{ float:left; font-size:12px; color:#404040; line-height:26px;}
.news_pp dl dt a{ color:#404040;}
.news_pp dl dt a:hover{ color:#007bc4;}
.news_pp dl dd{ float:right; padding-top:5px;}
.news_pp a.return{ background:#FF4001; font-size:14px; color:#FFF; display:inline-block; padding:8px 30px;}
/*---相关新闻---*/
.aslist {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;margin-top:0px; }
.aslist LI {float:left;PADDING-RIGHT: 0px; PADDING-LEFT: 18px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 21px; PADDING-TOP: 0px;  HEIGHT: 21px; width:350px; margin-right:100px;margin-bottom:10px; position:relative;background:url(../images/dian.png) no-repeat 0px 5px;font-size:12px;}
.aslist LI SPAN {PADDING-LEFT: 0px; RIGHT: 0px;  COLOR: #999999; POSITION: absolute; TOP: 0px; TEXT-ALIGN: right
FONT-SIZE: 12px;font-family:Arial, Helvetica, sans-serif;}
.aslist LI.cn_ts { margin-right:0px;}
/*---帮助中心---*/
.user_menus ul{ width:100%; margin:0px 0px 0px 0px;  }
.user_menus ul li{ float:left; width:100%; height:50px;position: relative; z-index:20;  border-bottom:1px dotted #e9e9e9;} 
.user_menus ul li .arrow {overflow: hidden;position: absolute;left: 50%; top:2px; font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;}
.user_menus ul li a{ display: block;height:50px;text-align:left; padding-left:38px; line-height:50px; color:#666;  font-size:14px; font-weight:bold;}
.user_menus ul li a:link {color:#666; background: url(../images/jt.gif) #fff no-repeat 16px -35px; }
.user_menus ul li a:visited{color:#666;  background: url(../images/jt.gif) #fff no-repeat 16px -35px;}
.user_menus ul li a:hover{color:#fff; background: url(../images/jt.gif) #F98300 no-repeat 16px 15px;}
.user_menus ul li a:active{color:#666; background: url(../images/jt.gif) #fff no-repeat 16px -35px;}
.user_menus ul li a.current{ color:#fff !important; background: url(../images/jt.gif) #F98300 no-repeat 16px 15px !important; }
.maincontent{WIDTH: 98%;MARGIN:0px auto; overflow:hidden;FONT-SIZE: 12px;COLOR: #666; LINE-HEIGHT: 24px; POSITION: relative; padding:20px 1% 20px; 1%;}
.maincontent img{padding:0px 0px 0px 0px; border:0px solid #eee;  MAX-WIDTH: 926px!important;HEIGHT: auto!important;width:expression(this.width > 926 ? "926px" : this.width)!important; margin-bottom:10px; }
/*---帮助中心---*/
#examples {LEFT: 0px; OVERFLOW: visible; WIDTH: 300px; POSITION: absolute;}
#etalage {DISPLAY: none; MARGIN-BOTTOM: 10px}
#etalage .etalage_thumb {BORDER-RIGHT: #DEDEDE 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #DEDEDE 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(../images/loading.gif) white no-repeat center 50%; PADDING-BOTTOM: 10px; BORDER-LEFT: #DEDEDE 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #DEDEDE 1px solid; }
#etalage .etalage_thumb_image {}
#etalage .etalage_small_thumbs LI {BORDER-RIGHT: #DEDEDE 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #DEDEDE 1px solid; PADDING-LEFT: 10px; BACKGROUND: white; PADDING-BOTTOM: 10px; MARGIN: 10px; BORDER-LEFT: #DEDEDE 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #DEDEDE 1px solid}
#etalage UL LI.etalage_smallthumb_first {}
#etalage UL LI.etalage_smallthumb_last {}
#etalage UL LI.etalage_smallthumb_active {webkit-box-shadow: 0 0 10px #DEDEDE; moz-box-shadow: 0 0 10px #DEDEDE; box-shadow: 0 0 10px #DEDEDE}
#etalage .etalage_zoom_area {BORDER-RIGHT: #DEDEDE 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #DEDEDE 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(../images/loading.gif) white no-repeat center 50%; PADDING-BOTTOM: 10px; BORDER-LEFT: #DEDEDE 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #DEDEDE 1px solid; }
.etalage_zoom_area {BORDER-RIGHT: #DEDEDE 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #DEDEDE 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(../images/loading.gif) white no-repeat center 50%; PADDING-BOTTOM: 10px; BORDER-LEFT: #DEDEDE 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #DEDEDE 1px solid;}
#etalage .etalage_magnifier {BORDER-RIGHT: #DEDEDE 1px solid; BORDER-TOP: #DEDEDE 1px solid; BACKGROUND: white; BORDER-LEFT: #DEDEDE 1px solid; BORDER-BOTTOM: #DEDEDE 1px solid}
#etalage .etalage_icon {BACKGROUND: url(../images/zoom.png) no-repeat; WIDTH: 14px; HEIGHT: 14px}
#etalage .etalage_hint {BACKGROUND: url(../images/hint.gif) no-repeat; WIDTH: 130px; HEIGHT: 57px}
#etalage .etalage_description {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: white; PADDING-BOTTOM: 6px; MARGIN: 10px; PADDING-TOP: 6px; FONT-STYLE: italic}
.etalage, .etalage_thumb, .etalage_thumb_image, .etalage_source_image, .etalage_zoom_preview, .etalage_icon, .etalage_hint{ display:none }
.etalage, .etalage ul, .etalage li, .etalage img, .etalage_hint, .etalage_icon, .etalage_description{ margin:0; padding:0; border:0; list-style:none }
.etalage, .etalage_magnifier div, .etalage_magnifier div img, .etalage_small_thumbs ul, ul .etalage_small_thumbs li, .etalage_zoom_area div, .etalage_zoom_img{ position:relative }
.etalage img, .etalage li{ -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -o-user-select:none; user-select:none; -webkit-user-drag:none; -moz-user-drag:none; user-drag:none }
.etalage, .etalage_small_thumbs li{ float:left }
.etalage_right{ float:right ;}
.etalage li{ position:absolute }
.etalage img{ vertical-align:bottom; max-width:none }
.etalage_magnifier{ cursor:default }
.etalage_magnifier div, .etalage_small_thumbs{ overflow:hidden }
.etalage_magnifier div img{ display:none }
.etalage_icon, .etalage_hint{ cursor:default; width:0; height:0; overflow:hidden }
.etalage_small_thumbs li.vertical{ float:none }
.etalage_zoom_area{ z-index:996 }
.etalage_zoom_area div{ overflow:hidden; z-index:997 }
.etalage_zoom_preview{ position:absolute; z-index:998 }
.etalage_zoom_img, .etalage_hint{ z-index:999 }
.etalage{ direction:ltr }
div.etalage_description{ position:absolute; bottom:0; left:0; z-index:999 }
div.etalage_description.rtl{ direction:rtl; text-align:right }
.sdated { font-size:28px;color:#FA5000;font-weight:bold; font-family:Arial,SimSun;margin-right:2px; margin-left:0px; }
.sdatez { font-size:18px;color:#FA5000;font-weight:bold; font-family:Arial,SimSun;margin-right:2px; margin-left:2px; }
.sdatex { font-size:16px;color:#FA5000;font-weight:bold; font-family:Arial,SimSun;margin-right:2px; margin-left:2px; }
/* 服务 */
.cpfl{width:320px;position:relative;overflow:hidden;z-index:10; padding-bottom:0px;}
.cpfl li{width:300px;background:none;padding:5px 10px 5px 10px;overflow:hidden;float:left;}
.cpfl li h3{line-height:28px;}
.cpfl li h3 a{font-size:14px;font-weight:bold;color:#666;background:url(../images/jticon.png) 5px 0px no-repeat;padding:0 0 0 20px;}
.cpfl li p{ line-height:28px; overflow:hidden;width:300px; }
.cpfl li p a{padding:0px 0px 0px 20px;font-size:14px; color:#666;width:280px; display:block ; line-height:28px; }
.cpfl li.current{width:300px;background:#FA5000;}
.cpfl li.current h3 a{color:#fff;background:url(../images/jticon.png) 5px -47px no-repeat;}
.cpfl li.current p  a{color:#fff;}
/* 店铺通用顶部菜单 */
.cmenuboxs{width:100%;margin: 0 auto;background:#FA5000; height:50px;}
.cmenu{ width:1190px; margin:0 auto; height:50px; text-align:center; }
.cmenu a{ height:50px;text-align:center;line-height:50px; color:#666;  font-size:14px; background: url(../../images/topline.png)#FA5000 no-repeat 76px 15px; padding:18px 11px 18px 11px;  }
.cmenu a:link {color:#fff; }
.cmenu a:visited{color:#fff; }
.cmenu a:hover{color:#fff; background:#232323;}
.cmenu a:active{color:#fff; background:#232323;}
.cmenu a.current{ color:#fff !important; background:#232323 !important; }
/* 企业框架 */
.spboxs {margin: 0 auto;width:1190px;overflow: hidden;}
.spboxsWrap {float: left;width: 100%;position: relative;left: 282px;}
.spright {position: relative;margin-right: 282px;PADDING: 0px 0px 0 20px; word-wrap:break-word;word-break:break-all; }
.spleft {width: 282px;float: left;position: relative;margin-left: -282px;}
.spleft,.spright {min-height: 300px;height: auto !important;height: 300px; }
.cw282 {width: 282px;float:left;OVERFLOW: hidden; position:relative;background:#FA5000 }
.cw848 {width:848px;float:left;OVERFLOW: hidden; position:relative; padding:10px 20px 10px 20px; background:#fff; }
.cw848s {width:848px;float:left;OVERFLOW: hidden; position:relative; background:#fff; }
.cw888 {width:888px;float:left;OVERFLOW: hidden; position:relative;  background:#fff }
/* 企业头部框架 */
.spbox { margin:0 auto; padding:10px 0px 10px 0px; width:1190px;  overflow:hidden; position:relative; }
.spboxl {FLOAT: left; width:282px;PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-TOP: 10px; PADDING-bottom: 0px;  LINE-HEIGHT: 25px; margin-right:0px;}
.spboxl img{width:262px; height:147px;}
.spboxm{float:left; width:560px;PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-TOP: 15px; PADDING-bottom: 10px; }
.spboxm h1{ display:block; height:32px; line-height:32px;}
.spboxm h1 a{ color:#666;font-size:20px;font-weight: bold; font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma; }
.spboxm h1 a:hover{ color:#205F82;}
.spboxm .sp_more{margin-top:0px;width:560px; height:28px; line-height:28px;font-size:14px;color:#999999;}
.spboxm .sp_more a{ color:#999999 }
.spboxm .sp_more a:hover{ color:#999999}
.spboxm .sp_more .tag{font-size:14px; font-weight:bold; font-family:Arial,SimSun; color:#F98300}
.spboxr{float:right; width:320px;PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-TOP: 70px; PADDING-bottom: 0px; LINE-HEIGHT: 26px; }
.spboxr .data{height:48px;padding-bottom:5px}
.spboxr .data li{width:24.5%;height:48px;line-height:26px;float:left;border-right:dotted 1px #c7c7c7;text-align:center}
.spboxr .data li .first{border-left:none}
.spboxr .data li .num{font-size:14px;font-weight:bold;font-family:Arial;color:#F98300}
.spboxr .data li .txt{color:#787878;font-size:12px;}
.spboxr .data li.no_line{ border-right:dotted 0px #ffffff;}
/*企业产品分类 */
.SPmenu{width:282px;position:relative;overflow:hidden;z-index:10; padding-bottom:0px; padding:20px 0px 20px 0px; background:#FA5000 }
.SPmenu li{width:262px;background:none;padding:5px 10px 5px 10px;overflow:hidden;float:left;}
.SPmenu li h3{line-height:28px;}
.SPmenu li h3 a{font-size:14px;font-weight:bold;color:#fff;background:url(../images/jticon.png) 5px 0px no-repeat;padding:0 0 0 20px;}
.SPmenu li p{ line-height:28px; overflow:hidden;width:300px; }
.SPmenu li p a{padding:0px 0px 0px 20px;font-size:14px; color:#fff;width:280px; display:block ; line-height:28px; }
.SPmenu li.current{width:300px;background:#323232;}
.SPmenu li.current h3 a{color:#fff;background:url(../images/jticon.png) 5px -47px no-repeat;}
.SPmenu li.current p  a{color:#fff;}
/* 企业轮播通栏 */
.nfullSlide{width:100%;position:relative;height:294px;background:#000; z-index:9}
.nfullSlide .bd{margin:0 auto;position:relative;z-index:0;}
.nfullSlide .bd ul{width:100% !important;}
.nfullSlide .bd li{width:100% !important;height:294px;text-align:center;position:relative;}
.nfullSlide .bd li a{display:block;height:294px;}
.nfullSlide .hd{width:100%;position:absolute;z-index:1;bottom:0;right:0;height:30px;line-height:30px;}
.nfullSlide .hd ul{text-align:center;}
.nfullSlide .hd ul li{cursor:pointer;display:inline-block;*display:inline;zoom:1;width:15px;height:15px;margin:5px;overflow:hidden;background:#EDEDED;filter:alpha(opacity=80);opacity:0.8;line-height:999px;border-radius:50%;}
.nfullSlide .hd ul .on{background:#FA5000;}
.nfullSlide a.prev,.nfullSlide a.next{display:block;position:absolute;z-index:1;top:45%;margin-top:-30px;left:5%;z-index:1;width:60px;height:60px;background:url(../images/slider-arrow.png) -116px 15px #000 no-repeat;cursor:pointer;filter:alpha(opacity=40);opacity:0.4; border-radius:60px;}
.nfullSlide a.next{left:auto;right:5%;background-position:4px 15px;}
.nfullSlide a.prev:hover{background-color:#ea0014;}
.nfullSlide a.next:hover{background-color:#ea0014;}
.NBtitle{ position:absolute;width:240px;height:120px; left:60%; top:60px; z-index:10;background:#fff;padding:30px;filter:alpha(opacity=80);opacity:0.8; }
.NBtitle  h3{ font-size:16px; font-weight:bold; text-align:left; padding-top:10px;font-weight:800; color:#FA5000;font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma; }
.NBtitle  p{ text-align:left; color:#232323; font-size:14px; margin-top:6px; font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma; }
.sydhls{ float:right;background:#FA5000;color:#fff;height:21px;line-height:21px;width:100%;padding:5px 0px 5px 0px; text-align:center;font-family:"微软雅黑";font-size:14px;color:#CC0000; margin:10px 0 5px 0; }
.sydhls:hover{color:#fff;background:#323232;}
/* 企业联系 */
.contact {PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;}
.contact LI { FONT-SIZE:14px;  LINE-HEIGHT: 28px; height:28px; padding-left:20px; PADDING-TOP: 5px; PADDING-bottom: 5px; FLOAT: left; width:100%; text-align:left;BORDER-BOTTOM: #E15210 1px solid; BORDER-top #FB702F 1px solid; overflow:hidden; }
.contact LI span{ float:left;FONT-SIZE: 14px;PADDING-RIGHT: 0px; PADDING-LEFT: 0px;  LINE-HEIGHT: 28px; height:28px;  PADDING-TOP: 0px; PADDING-bottom: 0px;DISPLAY: inline-block; min-width:70px;max-width:70px;text-align:right; font-weight:bold;}
.contact LI.icon1{ }
.contact LI.icon2{ }
.contact LI.icon3{ }
.contact LI.icon4{ }
.contact LI.icon5{ }
/* 企业公司简介 */
.cocontent {MARGIN: 10px auto; WIDTH: 100%; PADDING: 0px 0px 0px 0px;FONT-SIZE: 12px;COLOR: #888888;LINE-HEIGHT: 25px; }	
.cocontent .picz img{ float:left;width:240px; height:180px; padding:10px 10px 10px 10px;BORDER: #f0f0f0 1px solid; margin:0px 10px 0px 0px;}
/* 企业内部导航 */
.Headernd {PADDING-top: 0px;PADDING-left: 0px; OVERFLOW: hidden; LINE-HEIGHT: 42px;HEIGHT: 132px; POSITION: relative; color:#333333; background:url(../images/co_banner.jpg) 0px 0px no-repeat; text-align:center; margin-top:20px;}
.Headernd  h2{ font-size:24px;font-weight:900; margin-top:50px; text-align:center; padding-top:15px; color:#232323; margin-top:30px; height:20px;font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma; }
.Headernd  h3{ font-size:14px;  padding-top:5px;; color:#232323; margin-top:0px; height:20px; font-weight:normal}
.Headernd span {FONT-WEIGHT: normal; FONT-SIZE: 14px; RIGHT: 15px; POSITION: absolute;TOP: 0px; TEXT-ALIGN: right}
.Headernd span a{PADDING-RIGHT: 10px; PADDING-LEFT: 10px; color:#232323;}
.Headernd span a:hover {color:#232323;}
.Headernd span A:link,sHeadernd span A:visited {COLOR:#232323}
<style>
/* 会员左侧头部框架 */
.ulogo{ margin:5px auto 0;padding:20px 0px 20px 0px;overflow:hidden;position:relative; }
.ulogo img{padding:10px; border:1px solid #eee; height:180px; width:180px; margin:0px 40px 0px 40px; }
.ulogo h1{display:inline-block;height:22px; line-height:22px;font-size:18px;font-weight:bold;font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma; margin-top:20px; color:#FFFFFF; width:100%;text-align:center}
.ulogo p{margin-top:10px; width:100%;text-align:center;height:22px; line-height:22px;color:#FFFFFF;}
.udata{height:40px;padding-bottom:15px;margin-top:10px;}
.udata li{width:49.5%;height:40px;line-height:20px;float:left;border-right:dotted 1px #fff;text-align:center}
.udata li .first{border-left:none}
.udata li .num{font-size:14px;font-weight:bold;font-family:Arial;color:#fff}
.udata li .txt{color:#fff;font-size:14px;font-weight:bold;font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;}
.udata li.no_line{ border-right:dotted 0px #ffffff;}
/* 用户资料左侧头部框架 */
.boxurs {FLOAT: left; WIDTH: 99%;OVERFLOW: hidden; border: 1px solid #f0f0f0; background:#ffffff}
.boxurs ul li{ FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;line-height:39px; OVERFLOW: hidden; FONT-SIZE: 12px;color:#666666;BORDER-bottom: #f0f0f0 1px solid;} 
.qlist1 {WIDTH: 275px; float:left;padding-left:10px;BORDER-right: #f0f0f0 1px solid;}
.qlist2 {WIDTH: 265px; float:left;padding-left:10px;BORDER-right: #f0f0f0 1px solid;}
.qlist3 {WIDTH: 265px; float:left;padding-left:10px;}
.qlist4 {WIDTH: 848px; float:left;line-height:18px;padding-left:10px;}