/*物流专线 S */
body{background-color: #F7F7F7;}
.zx_sx {
  OVERFLOW: hidden;
  LINE-HEIGHT: 50px;
  HEIGHT: 50px;
  color: #585858;
  font-size: 18px;
  font-weight: bold;
  background-color: #fff;
}
.zx_sx span{ float: left;display: block;color: #2577e3;}
.zx_sx .biaozhi {
  width: 3px;
  height: 18px;
  background-color: #3f94ee;
  border-radius: 1px;
  margin: 16px 12px 0px 10px;

}
.lll-gongsi .list_box{width: 1400px;  height: auto !important;margin: 0 auto; overflow: hidden;
margin-top: 21px;}
.w1130{
	width: 1130px;
    float: left;
    OVERFLOW: hidden;

}
.tywlist{width: 1130px;}
.tyxboxWrap{
	float: left;
    width: 100%;
    position: relative;
    }

.list_hy_page2{
	width: 1400px;
}
.w260{
	width: 260px;
}
.tylist{
	width: 240px;
}
.select_con{width: 1128px;border-color: #eee;border: 0;}
.select_con dl dt{font-size: 14px;
height: 49px;
line-height: 49px;
padding:0px 0 0 20px;
}
.lll-gongsi .select_con .otherdt{
  /*clear: left;*/
  /*height: 0px;*/
  /*line-height: 0px;*/
}
.lll-gongsi .select_con .otherdd{
  /*display: inline-block;*/
  /*margin-left: -190px;*/
}
.select_con dd span{font-size: 14px;}
.list_input{
	width: 201px;
	height: 32px;
	border-radius: 2px;
	border: solid 1px #e5e5e5;
	background: none;
	color: #333;
	font-size: 14px;
	padding-left: 9px;
}
.list_input::-webkit-input-placeholder{color: #999;}

#flush
{    width: 70px;
    height: 28px;
    border: solid 1px #E3E3E3;
    color: #999;
    text-align: center;
    margin-left: 10px;
    font-size: 13px;
    background: none;


}

.list_img{ position: relative; top:3px;left: 5px;margin-right: 5px;}
.select_con dl dd a:hover, .select_con dl dd a.now { background: #2577e3; color: #fff;}
.ck_input{
	width: 14px;
	height: 14px;
	border: solid 1px #ccc;
	position: relative; top:-2px;right: 3px;
	cursor: pointer;}
.list_tiaoj {
	width: 1130px;
	height: 39px;
	background-color: #f1f1f1;
	border: solid 1px #e6e6e6;
	margin-bottom: 14px;
	background: no-repeat url(../images/list_wlzx/xiajt.png) #f1f1f1 363px 16px;
	position: relative;
}
.list_tiaoj span {
	display: block;
	text-align: center;
	line-height: 39px;
	float: left;
	width: 94px;
	height: 39px;
	cursor: pointer;
	font-size: 14px;

}
.list_tiaoj .active {
	background-color: #ffffff;
	color: #eb434d;
}
#tj_price{
            width: 140px;
            height: 100px;
            position:absolute;left: 300px; top: 40px;
            margin-left: 0px;
           /* border-radius: 6px;*/
            display: none;
            background-color: #fff;
            box-shadow:0px 0px 20px rgba(0,0,0,0.3);
            padding-top: 15px;
            }
#tj_price1,#tj_price2{color: #ff6633;width: 140px;padding-bottom: 5px;}
#tj_price1:hover,#tj_price2:hover{color: #f00;}



.wlzx_list_2 .p1 a{color: #333333;font-size: 16px;font-weight: normal;}
.wlzx_list_2 .p1  font{color: #666666;font-size: 12px;padding-left: 5px;}
.wlzx_list_2 .p2  font{font-size: 14px;padding-left: 5px;}
.wlzx_list_2 .p3 font,.wlzx_list_2 .p4  font{color: #333;font-size: 14px;}
.wlzx_list_2 .p3 i,.wlzx_list_2 .p4  i{color: #666;font-size: 14px;padding-left: 0px;}

.wlzx_list_4 p{height: 27px; line-height: 27px;font-size: 14px;}
.wlzx_list_4 img{ margin-top: 5px;}
.wlzx_list_5 p{height: 27px; line-height: 27px;font-size: 12px;}
.wlzx_list_5 p i{ color: #999;}
.wlzx_list_5 .p1{display: none;}


/*物流专线 E */

/*车源信息 S */
.cy_list_1{
	width: 351px;
	margin-left: 14px;


}
.cy_list_2{
	width: 182px;
	margin-left: 100px;

}
.cy_list_3{
	width: 75px;
	margin-left: 80px;


}
.cy_list_4{
	width: 65px;
	margin-left: 60px;
}

.cy_list_5{
	width: 102px;
	margin-left: 60px;

}
.cy_list_1 .p1{margin-bottom: 3px;}
.cy_list_1 p{height: 26px;line-height: 26px;}
.cy_list_1 p a{color: #eb434d;font-size: 16px;}
.cy_list_1 p i{font-size: 14px; color: #666;}
.cy_list_1 p span{font-size: 14px; color: #666;padding:0 2px 0 2px;}
.cy_list_1 p font{font-size:13px;color: #333;}

.cy_list_2 p{height: 27px; line-height: 27px;}

.cy_list_2 p span{color: #666;font-size: 14px;}
.cy_list_2 p i{font-size: 14px;}
.cy_list_4 p{height: 26px;margin:0 0 5px 0 ;}

.wlzx_list_6 .p2 input{
	background-color: #eb434d;
	color: #fff;
	border: 0;
}
/*车源信息 E */

/*货源信息 S */
.cy_list_1{
	width: 351px;
	margin-left: 14px;


}
.cy_list_2{
	width: 182px;
	margin-left: 100px;

}
.cy_list_3{
	width: 75px;
	margin-left: 80px;


}
.cy_list_4{
	width: 80px;
	margin-left: 50px;

}
.cy_list_5{
	width: 102px;
	margin-left: 60px;

}
.cy_list_1 .p1{margin-bottom: 3px;}
.cy_list_1 p{height: 26px;line-height: 26px;}
.cy_list_1 p a{color: #eb434d;font-size: 16px;}
.cy_list_1 p i{font-size: 14px; color: #666;}
.cy_list_1 p span{color: #eb434d;font-size: 14px;}
.cy_list_1 p font{font-size:13px;color: #333;}

.cy_list_2 p{height: 27px; line-height: 27px;}

.cy_list_2 p span{color: #666;font-size: 14px;}
.cy_list_2 p i{font-size: 14px;}
.cy_list_2 p font{color: #333;}
.cy_list_3 p{height: 27px; line-height: 27px;}
.wlzx_list_6 .p2 input{
border: solid 1px  #8dadd8;color: #2577e3;background-color:#fff;font-size: 14px;
}

#wlzx_list_view:hover{background-color: #2577e3;color: #fff;}
.wlzx_list_view{}
/*货源信息 E */


.tj_none{display: none;background-color: #fff;
width: 342px;
    height: 220px;
    margin-top: -1px;
    border: 1px solid #eee;}
.tj_none span{float: left;width: 100%;text-align: center;height: 100px;line-height: 100px;font-size: 14px;margin-top: 0px;
}
.hy_tj_none{height: 186px;}
.cy_tj_none{height: 290px;}

/*V2.0版本*/
.banner_wlgs{margin: 0 auto;}
.banner_wlgs img{width: 1920px;height: 238px;}
#search_wlLine{
    background: none;
    background: no-repeat url(../images/list_wlzx/wlgs_search.png) 9px 7px #2577E3;
    width: 60px;
    padding-left: 12px;
    border-radius: 2px;
}
#search_wlLine:hover{background-color: #2577ff;}
#flush{border-radius: 2px;cursor: pointer;}
.select_con dl dd a{min-width: 60px;text-align: center;}
.select_con dl dd a.now {
  background-color:#2577e3;
  width: auto;
}


.select_con{width: 1034px;}
.select_con dl dd {
    min-height: 28px;
    padding: 10px 0 10px 120px;
    line-height: 30px;
}
.wlgs_shiming,.wlgs_xinyong,.wlgs_danbao{

	height:20px;
	width:15.83px;
}

/**/
.lll-gongsi .header_list,.lll-gongsi .header_links{
  width: 1400px;
  height: 420px;
  margin: 0 auto;
  /*overflow: hidden;*/
  margin-top: 21px;
}
.lll-gongsi .header_links{
  margin-top: 0;
  padding-top: 20px;
  height:206px;
}
.header_list ul.first_ul li.first_li{
  float: left;
  width: 230px;
  /* border: 1px solid #ccc; */
  height: 420px
}
.header_list ul.first_ul li.sec_li{
  float: left;
  width: 790px;
  /* border: 1px solid #ccc; */
  height: 420px
}
.header_list ul.first_ul .sec_li .bot a:nth-last-of-type(2){
padding: 0 21px
}
.header_list ul.first_ul li.last_li{
  float: left;
  width: 298px;
  /* border: 1px solid #ccc; */
  height: 420px;
  background: #fff;
  
}
.header_list ul.first_ul .last_li .rem_bot_b_title{
  position: relative;
}
.header_list ul.first_ul .last_li .rem_bot_b_title::before{
  position: absolute;
  content: '';
  top: 4px;
  left: -11px;
  height: 14px;
  width: 3px;
  background:#ffb65f;
}

/**/

/*.header_links*/
.lll-gongsi .header_links{
  display: flex;
  /* height: 168px !important; */
  /*width: 1090px !important;*/
}

.header_links_l{
  width: 1040px;
  height: 200px;
}
.header_links_r{
  width: 280px;
}
/*.header_links*/
/*.list_left*/
.list_left{
  width: 1030px;
  float: left;
}
/*.list_left*/
/*.list_right*/
.list_right{
  min-height: 272px;
  height: auto !important;
  width: 344px;
  padding: 0px 0px 0 20px;
  float: left;
}

.list_right .list_none {
  display: none;
}
.list_right .list_none {
  display: none;
}
.list_right .list_none span{
  float: left;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin-top: 40px;
}
.list_right .list_none img{
  float: left;
  width: 300px;
  height: 160px;
  margin: 20px 0 20px 400px;
}
/*.list_right*/
/*arc_main8*/
.arc_main8{
  width: 1400px;
  height: auto !important;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  margin-top: 20px;
}
.arc_main8_1 .footList{
  padding-bottom: 40px;
  border-bottom: 1px solid #e7e7e7;
}
.lll-gongsi .header_links_l li{
  margin-right: 10px;
}
.lll-gongsi .header_links_l li:nth-of-type(4),.lll-gongsi .header_links_l li:last-of-type{
  margin-right: 0;
}
.lll-gongsi .header_links_l li:nth-of-type(n+5){
  margin-top: 10px;
}

.lll-gongsi .header_links_r .header_links_r_search{
position: relative
}
.lll-gongsi .header_links_r .header_links_r_search::before{
  position: absolute;
  top: 18px;
  left: -20px;
  content:'';
height: 20px;
width: 3px;
background: #2577e3;
  }
/*arc_main8*/
